@model GCTL.Core.ViewModels.POS.Product.SingleProduct.AttrProductAddViewModel





<form asp-controller="SingleProduct" asp-action="AddAttributeProduct" method="post" enctype="multipart/form-data">
    <div class="add-product">
        <div class="accordions-items-seperate border-0" id="accordionSpacingExampleAP">
            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="headingSpacingOneAP">
                    <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#SpacingOneAP"
                         aria-expanded="true" aria-controls="SpacingOneAP">
                        <div class="d-flex align-items-center justify-content-between flex-fill">
                            <h5 class="d-flex align-items-center my-3">
                                <i data-feather="info" class="text-primary me-2"></i><span>@Html.SmartLocalize("Product Information")</span>
                            </h5>
                        </div>
                    </div>
                </h2>
                <div id="SpacingOneAP" class="accordion-collapse collapse show" aria-labelledby="headingSpacingOneAP">
                    <div class="accordion-body">
                        <div class="row mt-4">
                            <div class="col-sm-12 col-12">
                                <div class="mb-3">
                                    <label asp-for="AttrProductType">@Html.SmartLocalize("Product Type")</label>
                                    <span asp-validation-for="AttrProductType" class="text-danger"></span>
                                    <select asp-for="AttrProductType" class="form-select searchableSelect" id="attrProductType" asp-items="@ViewBag.ProductTypeDD as SelectList">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                    <label asp-for="AttrProductName">@Html.SmartLocalize("Product Name")</label>
                                    <span asp-validation-for="AttrProductName" class="text-danger"></span>
                                    <input asp-for="AttrProductName" type="text" class="form-control border-1" id="attrProductName">
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                    <label asp-for="AttrBaseSku">@Html.SmartLocalize("Base SKU")</label>
                                    <span asp-validation-for="AttrBaseSku" class="text-danger"></span>
                                    <input asp-for="AttrBaseSku" type="text" class="form-control border-1" id="attrBaseSku">
                                </div>
                            </div>
                        </div>
                        <div class="addservice-info">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <div class="add-newplus">
                                            <label asp-for="AttrCategory">@Html.SmartLocalize("Category")</label>
                                            <span asp-validation-for="AttrCategory" class="text-danger"></span>
                                            <a href="" data-bs-toggle="modal" data-bs-target="#add-product-category" class="text-decoration-none">
                                                <i data-feather="plus-circle" class="plus-down-add me-1"></i><span>@Html.SmartLocalize("Add New")</span>
                                            </a>
                                        </div>
                                        <select asp-for="AttrCategory" class="form-select searchableSelect" id="attrCategory" asp-items="@ViewBag.CategoryDD as SelectList">
                                            <option>@Html.SmartLocalize("Select")</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <label asp-for="AttrSubCategory">@Html.SmartLocalize("Sub Category")</label>
                                        <span asp-validation-for="AttrSubCategory" class="text-danger"></span>
                                        <select asp-for="AttrSubCategory" class="form-select searchableSelect" id="attrSubCategory" asp-items="@ViewBag.SubCategoryDD as SelectList">
                                            <option>@Html.SmartLocalize("Select")</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="add-product-new">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <div class="add-newplus">
                                            <label asp-for="AttrBrand">@Html.SmartLocalize("Brand")</label>
                                            <span asp-validation-for="AttrBrand" class="text-danger"></span>
                                        </div>
                                        <select asp-for="AttrBrand" class="form-select searchableSelect" id="attrBrand" asp-items="@ViewBag.BrandDD as SelectList">
                                            <option>@Html.SmartLocalize("Select")</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3 list position-relative">
                                        <label asp-for="AttrModelNo">@Html.SmartLocalize("Model No")</label>
                                        <span asp-validation-for="AttrModelNo" class="text-danger"></span>
                                        <input asp-for="AttrModelNo" type="text" class="form-control list" id="attrModelNo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="mb-3 list position-relative">
                                    <label asp-for="AttrPartNo">@Html.SmartLocalize("Part No")</label>
                                    <span asp-validation-for="AttrPartNo" class="text-danger"></span>
                                    <input asp-for="AttrPartNo" type="text" class="form-control list mt-1" id="attrPartNo">
                                </div>
                            </div>



                            <div class="col-sm-6 col-12">
                                <div class=" list position-relative">
                                    <label asp-for="AttrBarcodeType">@Html.SmartLocalize("Barcode")</label>
                                    <span asp-validation-for="AttrBarcodeType" class="text-danger"></span>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="AttrBarcodeType" class="form-check-input" id="attrBarcodeSku" type="radio" value="SKU" />
                                        <label class="form-label" for="attrBarcodeSku">@Html.SmartLocalize("SKU")</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="AttrBarcodeType" class="form-check-input" id="attrBarcodeEan" type="radio" value="EAN" />
                                        <label class="form-label" for="attrBarcodeEan">@Html.SmartLocalize("EAN")</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="AttrBarcodeType" class="form-check-input" id="attrBarcodeUpc" type="radio" value="UPC" />
                                        <label class="form-label" for="attrBarcodeUpc">@Html.SmartLocalize("UPC")</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="AttrBarcodeType" class="form-check-input" id="attrBarcodeIsbn" type="radio" value="ISBN" />
                                        <label class="form-label" for="attrBarcodeIsbn">@Html.SmartLocalize("ISBN")</label>
                                    </div>
                                    <input asp-for="AttrBarcodeValue" type="text" class="form-control list" id="attrBarcodeValue">
                                </div>
                            </div>






                            <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                    <div class="add-newplus">
                                        <label asp-for="AttrUnit">@Html.SmartLocalize("Unit")</label>
                                        <span asp-validation-for="AttrUnit" class="text-danger"></span>
                                    </div>
                                    <select asp-for="AttrUnit" class="form-select searchableSelect" id="attrUnit" asp-items="@ViewBag.UnitDD as SelectList">
                                        <option>@Html.SmartLocalize("Select")</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <div class="add-newplus">
                                        <label asp-for="AttrAssetsType">@Html.SmartLocalize("Assets Type")</label>
                                        <span asp-validation-for="AttrAssetsType" class="text-danger"></span>
                                    </div>
                                    <select asp-for="AttrAssetsType" class="form-select searchableSelect" id="attrAssetsType" asp-items="@ViewBag.AssetTypeDD as SelectList">
                                        <option>@Html.SmartLocalize("Select")</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="mb-3">
                                    <label asp-for="AttrQuantityAlert">@Html.SmartLocalize("Quantity Alert")</label>
                                    <span asp-validation-for="AttrQuantityAlert" class="text-danger"></span>
                                    <input asp-for="AttrQuantityAlert" type="text" class="form-control" id="attrQuantityAlert">
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-check form-switch my-3">
                                    <input asp-for="AttrTrackBatch" class="form-check-input" id="attrTrackBatch" type="checkbox" />
                                    <label class="form-check-label" for="attrTrackBatch">@Html.SmartLocalize("Track Batch")</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-check form-switch my-3">
                                    <input asp-for="AttrIsActive" class="form-check-input" id="attrIsActive" type="checkbox" />
                                    <label class="form-check-label" for="attrIsActive">@Html.SmartLocalize("Is Active")</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-check form-switch my-3">
                                    <input asp-for="AttrTraceManufacturingDate" class="form-check-input" id="attrTraceManufacturingDate" type="checkbox" />
                                    <label class="form-check-label" for="attrTraceManufacturingDate">@Html.SmartLocalize("Trace Manufacturing Date")</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-check form-switch my-3">
                                    <input asp-for="AttrTraceExpiryDate" class="form-check-input" id="attrTraceExpiryDate" type="checkbox" />
                                    <label class="form-check-label" for="attrTraceExpiryDate">@Html.SmartLocalize("Trace Expiry Date")</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-check form-switch my-3">
                                    <input asp-for="AttrSerialNumber" class="form-check-input" id="attrSerialNumber" type="checkbox" />
                                    <label class="form-check-label" for="attrSerialNumber">@Html.SmartLocalize("Serial Number")</label>
                                </div>
                            </div>
                        </div>







                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <div class="accordion" id="attrImageAccordion">
                                    <div class="">
                                        <h2 class="accordion-header" id="headingAttrImage">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseAttrImage" aria-expanded="false"
                                                    aria-controls="collapseAttrImage">
                                                <i class="bi bi-file-earmark-text me-2"></i>@Html.SmartLocalize("Upload Attribute Images")
                                                <small class="text-muted ms-2">(@Html.SmartLocalize("Drag and drop or click to upload, then edit and crop as needed"))</small>
                                            </button>
                                        </h2>

                                        <div id="collapseAttrImage" class="accordion-collapse collapse" aria-labelledby="headingAttrImage"
                                             data-bs-parent="#attrImageAccordion">
                                            <div class="content-wrapper">
                                                <div class="preview-container" id="attrPreviewContainer"></div>

                                                <div class="upload-zone-wrapper" id="attrUploadZoneWrapper">
                                                    <div class="upload-zone" id="attrUploadZone">

                                                        <svg class="upload-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                                  d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
                                                        </svg>
                                                        <div class="upload-icon-wrapper">
                                                            <i class="lucide lucide-cloud-upload upload-icon"></i>
                                                        </div>
                                                        <div class="upload-text">
                                                            Drag & Drop your images here
                                                        </div>
                                                        <div class="upload-subtext">
                                                            or <span class="browse-btn" id="attrBrowseBtn">browse</span> to choose files
                                                        </div>
                                                        <input type="file" id="attrFileInput" accept="image/*" multiple>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="upload-complete bg-body-highlight" id="attrUploadComplete">
                                                <i class="lucide lucide-check-circle"></i>
                                                Images uploaded successfully!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <div class="accordion" id="attrDescriptionAccordion">
                                    <div class="">
                                        <h2 class="accordion-header" id="headingAttrDescription">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseAttrDescription" aria-expanded="false"
                                                    aria-controls="collapseAttrDescription">
                                                <i class="bi bi-file-earmark-text me-2"></i>@Html.SmartLocalize("Attribute Description")
                                                <small class="text-muted ms-2">(@Html.SmartLocalize("Maximum 60 Words"))</small>
                                            </button>
                                        </h2>
                                        <div id="collapseAttrDescription" class="accordion-collapse collapse"
                                             aria-labelledby="headingAttrDescription" data-bs-parent="#attrDescriptionAccordion">
                                            <div class="accordion-body">
                                                <div class="summer-description-box">
                                                    <textarea asp-for="AttrDescription" id="attrDescription" class="tinymce form-control"
                                                              data-tinymce="{}" rows="5"
                                                              placeholder="@Html.SmartLocalize("Provide a concise and informative description...")"></textarea>
                                                    <div class="d-flex justify-content-end mt-2">
                                                        <small class="text-muted me-2" id="attrWordCounter">
                                                            0 / 60
                                                            @Html.SmartLocalize("words")
                                                        </small>
                                                        <button type="button" class="btn btn-sm btn-outline-primary"
                                                                onclick="clearAttrDescription()">
                                                            <i class="bi bi-x-circle me-1"></i>@Html.SmartLocalize("Clear")
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>







                    </div>
                </div>
            </div>


            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="headingSpacingTwoAV">
                    <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#SpacingTwoAV"
                         aria-expanded="true" aria-controls="SpacingTwoAV">
                        <div class="d-flex align-items-center justify-content-between flex-fill">
                            <h5 class="d-flex align-items-center my-3">
                                <div id="AttributePr">
                                    <i data-feather="life-buoy" class="text-primary me-2"></i>
                                    <span>@Html.SmartLocalize("Attribute Values")</span>
                                </div>
                            </h5>
                        </div>
                    </div>
                </h2>

                <div id="SpacingTwoAV" class="accordion-collapse collapse show" aria-labelledby="headingSpacingTwoAV">
                    <div class="accordion-body">
                        <div id="div3" class="p-3">
                            <div class="">
                                <!-- Checkbox list for available attributes -->
                                <div class="p-3 rounded d-flex align-items-center border mb-3">
                                    <div class="d-flex align-items-center">
                                        @foreach (var attr in ViewBag.AttributeNames)
                                        {
                                            string checkboxId = $"attr_{attr.AttributeNameID}";
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input attr-checkbox"
                                                       type="checkbox"
                                                       id="@checkboxId"
                                                       data-target="div_@attr.AttributeNameID">
                                                <label class="form-check-label" for="@checkboxId">
                                                    @attr.AttributeName
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <!-- Dynamic Divs for Attribute Values -->
                                @foreach (var attr in ViewBag.AttributeNames)
                                {
                                    var relatedValues = ((IEnumerable<dynamic>)ViewBag.AttributeValues)
                                        .Where(v => v.AttributeNameID == attr.AttributeNameID)
                                        .ToList();

                                    <div class="col-md-12 attr-section" id="div_@attr.AttributeNameID" style="display:none;">
                                        <div class="row">
                                            <h4 class="mt-3">@attr.AttributeName (@relatedValues.Count Options)</h4>
                                            <h6 class="border-bottom"></h6>

                                            @foreach (var val in relatedValues)
                                            {
                                                string valId = $"{val.AttributeID}";
                                                <div class="col-md-2">
                                                    <div class="form-check">
                                                        <input name="AttrSelected_@attr.AttributeName"
                                                               class="form-check-input"
                                                               type="checkbox"
                                                               id="@valId"
                                                               value="@val.AttributeValue"
                                                               data-id="@val.AttributeID">
                                                        <label class="form-check-label" for="@valId">@val.AttributeValue</label>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }

                                <div class="modal-footer">
                                    <button class="btn btn-primary" id="showPriceTable" type="button">@Html.SmartLocalize("Create")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                // Dynamic Show/Hide logic
                document.querySelectorAll(".attr-checkbox").forEach(cb => {
                    cb.addEventListener("change", function () {
                        const targetId = this.getAttribute("data-target");
                        const targetDiv = document.getElementById(targetId);
                        targetDiv.style.display = this.checked ? "block" : "none";
                    });
                });

                document.getElementById("showPriceTable").addEventListener("click", function () {
                    document.getElementById("priceTable").style.display = "block";
                });
            </script>



            @*<input type="hidden" id="hiddenImageNames" name="AttrUploadedImageNames" />
        <input type="hidden" id="hiddenSelectedValues" name="AttrSelectedValuesJson" />*@

            <input type="hidden" id="attrHiddenImageNames" name="AttrUploadedImageNames" />
            <input type="hidden" id="attrHiddenSelectedValues" name="AttrSelectedValuesJson" />



            <div class="accordion-item mb-4">
                <h2 class="accordion-header" id="headingSpacingFour">
                    <div class="accordion-button collapsed " data-bs-toggle="collapse" data-bs-target="#SpacingFour"
                         aria-expanded="true" aria-controls="SpacingFour">
                        <div class="d-flex align-items-center justify-content-between flex-fill">
                            <h5 class="d-flex align-items-center my-3">
                                <i data-feather="list" class="text-primary me-2"></i><span>@Html.SmartLocalize("Custom Fields")</span>
                            </h5>
                        </div>
                    </div>
                </h2>
                <div id="SpacingFour" class="accordion-collapse collapse show" aria-labelledby="headingSpacingFour">
                    <div class="accordion-body">
                        <div class="mt-4">
                            <div class="p-3  rounded d-flex align-items-center border mb-3">
                                <div class=" d-flex align-items-center">
                                    <div class="form-check form-check-inline">
                                        <input asp-for="AttrWarrantiesEnabled" class="form-check-input" type="checkbox" id="attrWarranties" value="">
                                        <label class="form-check-label" for="attrWarranties">@Html.SmartLocalize("Warranties")</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="AttrManufacturerEnabled" class="form-check-input" type="checkbox" id="attrManufacturer" value="">
                                        <label class="form-check-label" for="attrManufacturer">@Html.SmartLocalize("Manufacturer")</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="AttrExpiryEnabled" class="form-check-input" type="checkbox" id="attrExpiry" value="">
                                        <label class="form-check-label" for="attrExpiry">@Html.SmartLocalize("Expiry")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <label asp-for="AttrWarranty">@Html.SmartLocalize("Warranty")</label>
                                        <span asp-validation-for="AttrWarranty" class="text-danger"></span>
                                        <select asp-for="AttrWarranty" class="form-select searchableSelect" id="attrWarranty">
                                            <option>@Html.SmartLocalize("Select")</option>
                                            <option value="Replacement Warranty">@Html.SmartLocalize("Replacement Warranty")</option>
                                            <option value="On-Site Warranty">@Html.SmartLocalize("On-Site Warranty")</option>
                                            <option value="Accidental Protection Plan">@Html.SmartLocalize("Accidental Protection Plan")</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3 add-product">
                                        <label asp-for="AttrManufacturerName">@Html.SmartLocalize("Manufacturer")</label>
                                        <span asp-validation-for="AttrManufacturerName" class="text-danger"></span>
                                        <input asp-for="AttrManufacturerName" type="text" class="form-control" id="attrManufacturerName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <label asp-for="AttrManufacturedDate">@Html.SmartLocalize("Manufactured Date")</label>
                                        <span asp-validation-for="AttrManufacturedDate" class="text-danger"></span>
                                        <div class="input-groupicon calender-input">
                                            <input asp-for="AttrManufacturedDate" type="text" class="datetimepicker form-control" placeholder="dd/mm/yyyy" id="attrManufacturedDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <label asp-for="AttrExpiryDate">@Html.SmartLocalize("Expiry On")</label>
                                        <span asp-validation-for="AttrExpiryDate" class="text-danger"></span>
                                        <div class="input-groupicon calender-input">
                                            <input asp-for="AttrExpiryDate" type="text" class="datetimepicker form-control" placeholder="dd/mm/yyyy" id="attrExpiryDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">@Html.SmartLocalize("Save")</button>
</form>




<script>
document.getElementById('attrDescription').addEventListener('input', function () {
    const words = this.value.trim().split(/\s+/).filter(word => word.length > 0).length;
    document.getElementById('attrWordCounter').textContent = words + ' / 60 @Html.SmartLocalize("words")';
    if (words > 60) {
        this.classList.add('is-invalid');
    } else {
        this.classList.remove('is-invalid');
    }
});

function clearAttrDescription() {
    document.getElementById('attrDescription').value = '';
    document.getElementById('attrWordCounter').textContent = '0 / 60 @Html.SmartLocalize("words")';
    document.getElementById('attrDescription').classList.remove('is-invalid');
}
</script>

<script>
    const attrUploadZone = document.getElementById('attrUploadZone');
    const attrUploadZoneWrapper = document.getElementById('attrUploadZoneWrapper');
    const attrFileInput = document.getElementById('attrFileInput');
    const attrBrowseBtn = document.getElementById('attrBrowseBtn');
    const attrPreviewContainer = document.getElementById('attrPreviewContainer');
    const attrUploadComplete = document.getElementById('attrUploadComplete');

    let attrFiles = [];

    function updateAttrUploadZoneSize() {
        if (attrFiles.length > 0) {
            attrUploadZoneWrapper.classList.add('has-images');
        } else {
            attrUploadZoneWrapper.classList.remove('has-images');
        }
    }

    attrUploadZone.addEventListener('click', () => attrFileInput.click());
    attrBrowseBtn.addEventListener('click', (e) => {
        e.stopPropagation();
        attrFileInput.click();
    });

    attrUploadZone.addEventListener('dragover', (e) => {
        e.preventDefault();
        attrUploadZone.classList.add('drag-over');
    });

    attrUploadZone.addEventListener('dragleave', () => {
        attrUploadZone.classList.remove('drag-over');
    });

    attrUploadZone.addEventListener('drop', (e) => {
        e.preventDefault();
        attrUploadZone.classList.remove('drag-over');
        const droppedFiles = Array.from(e.dataTransfer.files).filter(file => file.type.startsWith('image/'));
        handleAttrFiles(droppedFiles);
    });

    attrFileInput.addEventListener('change', (e) => {
        handleAttrFiles(Array.from(e.target.files));
    });

    function handleAttrFiles(newFiles) {
        attrFiles = [...attrFiles, ...newFiles];
        renderAttrPreviews();
        updateAttrUploadZoneSize();
        simulateAttrUpload();
    }

    function renderAttrPreviews() {
        attrPreviewContainer.innerHTML = '';
        attrFiles.forEach((file, index) => {
            const reader = new FileReader();
            reader.onload = (e) => {
                const previewItem = document.createElement('div');
                previewItem.className = 'preview-item';
                previewItem.innerHTML = `
                                        <img src="${e.target.result}" alt="${file.name}">
                                        <div class="preview-overlay">
                                            <div class="file-name">${file.name}</div>
                                            <button class="overlay-btn remove" onclick="removeAttrFile(${index})">
                                                <i class="lucide lucide-trash-2"></i>
                                                Remove
                                            </button>
                                        </div>
                                        <div class="progress-bar">
                                            <div class="progress-fill" id="attr-progress-${index}"></div>
                                        </div>
                                    `;
                attrPreviewContainer.appendChild(previewItem);
            };
            reader.readAsDataURL(file);
        });
    }

    function removeAttrFile(index) {
        attrFiles.splice(index, 1);
        renderAttrPreviews();
        updateAttrUploadZoneSize();
        if (attrFiles.length === 0) {
            attrUploadComplete.classList.remove('show');
        }
    }

    function simulateAttrUpload() {
        attrUploadComplete.classList.remove('show');
        attrFiles.forEach((file, index) => {
            let progress = 0;
            const progressFill = document.getElementById(`attr-progress-${index}`);
            const interval = setInterval(() => {
                progress += Math.random() * 30;
                if (progress >= 100) {
                    progress = 100;
                    clearInterval(interval);
                    if (index === attrFiles.length - 1) {
                        setTimeout(() => {
                            attrUploadComplete.classList.add('show');
                        }, 300);
                    }
                }
                if (progressFill) {
                    progressFill.style.width = progress + '%';
                }
            }, 200);
        });
    }

    window.removeAttrFile = removeAttrFile;
</script>