@model GCTL.Core.ViewModels.POS.Product.SingleProduct.ComboOfferViewModel

<div class="col-12 row p3 mt-2">
    <div class="col-md-12">
        <h4>@Html.SmartLocalize("Customer Buys")</h4>
        <h5 class="border-bottom"></h5>
        <div class="mb-3">
            <label asp-for="ComboComboName">@Html.SmartLocalize("Combo Name")</label>
            <span asp-validation-for="ComboComboName" class="text-danger"></span>
            <input asp-for="ComboComboName" class="form-control" id="comboComboName" type="text" placeholder="Combo Offer 1" />
        </div>
        <div class="mb-3">
            @for (int i = 0; i < Model.ComboProductItems.Count; i++)
            {
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="ComboProductItems[i].ComboProduct">@Html.SmartLocalize("Select Product")</label>
                        <span asp-validation-for="ComboProductItems[i].ComboProduct" class="text-danger"></span>
                        <select asp-for="ComboProductItems[i].ComboProduct" class="form-select searchableSelect" id="comboProduct@(i)">
                            <option value="">@Html.SmartLocalize("Select Product")</option>
                            <option value="Product1">@Html.SmartLocalize("Product 1")</option>
                            <option value="Product2">@Html.SmartLocalize("Product 2")</option>
                            <option value="Product3">@Html.SmartLocalize("Product 3")</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="ComboProductItems[i].ComboQuantity">@Html.SmartLocalize("Quantity")</label>
                        <span asp-validation-for="ComboProductItems[i].ComboQuantity" class="text-danger"></span>
                        <input asp-for="ComboProductItems[i].ComboQuantity" class="form-control" id="comboQuantity@(i)" type="number" value="2" />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="ComboProductItems[i].ComboUnitPrice">@Html.SmartLocalize("Unit Price")</label>
                        <span asp-validation-for="ComboProductItems[i].ComboUnitPrice" class="text-danger"></span>
                        <input asp-for="ComboProductItems[i].ComboUnitPrice" class="form-control" id="comboUnitPrice@(i)" type="number" step="0.01" value="150" />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="ComboProductItems[i].ComboTotalPrice">@Html.SmartLocalize("Total Price")</label>
                        <span asp-validation-for="ComboProductItems[i].ComboTotalPrice" class="text-danger"></span>
                        <input asp-for="ComboProductItems[i].ComboTotalPrice" class="form-control" id="comboTotalPrice@(i)" type="number" step="0.01" value="300" />
                    </div>
                </div>
            }
            <div class="row border-bottom">
                <a href="#" class="btn" id="comboAddButton">@Html.SmartLocalize("+ add")</a>
            </div>
            <div class="row mb-3">
                <div class="col-md-10 text-end">
                    <label asp-for="ComboTotalProductPrice">@Html.SmartLocalize("Total Product Price (Original)")</label>
                </div>
                <div class="col-md-2 mt-3">
                    <input asp-for="ComboTotalProductPrice" class="form-control" id="comboTotalProductPrice" type="number" step="0.01" value="450" disabled />
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="ComboBundleSellingPrice">@Html.SmartLocalize("Total Bundle Selling Price")</label>
            <span asp-validation-for="ComboBundleSellingPrice" class="text-danger"></span>
            <input asp-for="ComboBundleSellingPrice" class="form-control" id="comboBundleSellingPrice" type="number" step="0.01" placeholder="200 tk" />
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="ComboStartDateTime">@Html.SmartLocalize("Start Date Time")</label>
                <span asp-validation-for="ComboStartDateTime" class="text-danger"></span>
                <input asp-for="ComboStartDateTime" class="form-control datetimepicker caiCon" id="comboStartDateTime" type="text" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
            </div>
            <div class="col-md-6">
                <label asp-for="ComboEndDateTime">@Html.SmartLocalize("End Date Time")</label>
                <span asp-validation-for="ComboEndDateTime" class="text-danger"></span>
                <input asp-for="ComboEndDateTime" class="form-control datetimepicker caiCon" id="comboEndDateTime" type="text" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <input asp-for="ComboIncludeGift" class="form-check-input mt-3" id="comboIncludeGift" type="checkbox" />
                <label class="form-label mt-3" for="comboIncludeGift">@Html.SmartLocalize("Include Gift")</label>
            </div>
            <div class="col-md-4">
                <select asp-for="ComboGiftProduct" class="form-select searchableSelect" id="comboGiftProduct">
                    <option value="">@Html.SmartLocalize("Select Product")</option>
                    <option value="Product1">@Html.SmartLocalize("Product 1")</option>
                    <option value="Product2">@Html.SmartLocalize("Product 2")</option>
                    <option value="Product3">@Html.SmartLocalize("Product 3")</option>
                </select>
            </div>
        </div>
        <div class="card-header border-top d-flex align-items-center justify-content-between flex-wrap row-gap-3 my-4 pt-3">
            <h3>@Html.SmartLocalize("Combo List")</h3>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                <div class="dropdown me-3">
                    <div class="input-group">
                        <input asp-for="ComboSearch" class="form-control" id="comboSearch" type="text" placeholder="@Html.SmartLocalize("Search")" aria-label="Categories" aria-describedby="basic-addon2" />
                        <span class="input-group-text" id="basic-addon2"> <i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="dropdown">
                    <select asp-for="ComboSort" class="form-select searchableSelect" id="comboSort">
                        <option value="">@Html.SmartLocalize("Sort by Last 7 days")</option>
                        <option value="15days">@Html.SmartLocalize("Sort by Last 15 days")</option>
                        <option value="1month">@Html.SmartLocalize("Sort by Last 1 Month")</option>
                        <option value="3months">@Html.SmartLocalize("Sort by Last 3 Month")</option>
                        <option value="6months">@Html.SmartLocalize("Sort by Last 6 Month")</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="border-top border-translucent p-3">
            <div id="employeeListTable">
                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-sm fs-9 leads-table">
                        <thead>
                            <tr>
                                <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                                    <div class="form-check mb-0 fs-8">
                                        <input class="form-check-input" type="checkbox" />
                                    </div>
                                </th>
                                <th class="sort align-middle ps-5 pe-5 text-uppercase text-nowrap" scope="col" data-sort="comboName">@Html.SmartLocalize("Combo Name")</th>
                                <th class="sort align-middle pe-5 text-uppercase text-nowrap" scope="col" data-sort="productList">@Html.SmartLocalize("Product List")</th>
                                <th class="sort align-middle pe-5 text-uppercase text-nowrap" scope="col" data-sort="startDate">@Html.SmartLocalize("Start Date")</th>
                                <th class="sort align-middle pe-5 text-uppercase text-nowrap" scope="col" data-sort="endDate">@Html.SmartLocalize("End Date")</th>
                                <th class="sort align-middle pe-5 text-uppercase text-nowrap" scope="col" data-sort="bundlePrice">@Html.SmartLocalize("Bundle Price")</th>
                                <th class="sort align-middle pe-5 text-uppercase text-nowrap" scope="col" data-sort="sellingPrice">@Html.SmartLocalize("Selling Price")</th>
                                <th class="sort align-middle pe-5 text-uppercase text-nowrap" scope="col" data-sort="maximumTime">@Html.SmartLocalize("Maximum Time")</th>
                                <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list" id="purchasers-sellers-body">
                            @for (int i = 0; i < Model.ComboOffers.Count; i++)
                            {
                                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                    <td class="fs-9 align-middle py-0">
                                        <div class="form-check mb-0 fs-8">
                                            <input class="form-check-input" type="checkbox"  />
                                        </div>
                                    </td>
                                    <td class="comboName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-2">
                                        <div class="d-flex align-items-center position-relative">
                                            <div class="flex-1">
                                                <a class="fw-bold mb-0 text-body-emphasis" href="#">@Model.ComboOffers[i].ComboComboName</a>
                                                <p class="fs-10 mb-0 text-body-tertiary text-opacity-85 fw-semibold">
                                                    @Model.ComboOffers[i].ComboCreatedDate<span class="fa-solid fa-circle text-body-quaternary text-opacity-50" data-fa-transform="shrink-10 down-2"></span>@Model.ComboOffers[i].ComboCreatedTime
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="productList align-middle white-space-nowrap text-start pe-0 ps-1">
                                        @foreach (var product in Model.ComboOffers[i].ComboProductListDetails)
                                        {
                                            <span>@product.ComboProductName (@product.ComboProductQuantity pic)</span><br>
                                        }
                                    </td>
                                    <td class="startDate align-middle white-space-nowrap text-start pe-0 ps-1">@Model.ComboOffers[i].ComboStartDate</td>
                                    <td class="endDate align-middle white-space-nowrap text-start pe-0 ps-1">@Model.ComboOffers[i].ComboEndDate</td>
                                    <td class="bundlePrice align-middle white-space-nowrap text-start pe-0 ps-1">@Model.ComboOffers[i].ComboBundlePrice tk</td>
                                    <td class="sellingPrice align-middle white-space-nowrap text-start pe-0 ps-1">@Model.ComboOffers[i].ComboSellingPrice tk</td>
                                    <td class="maximumTime align-middle white-space-nowrap text-start pe-0 ps-1">@Model.ComboOffers[i].ComboMaximumTime</td>
                                    <td class="align-middle white-space-nowrap text-start pe-0 ps-1">
                                        <div class="btn-reveal-trigger position-static">
                                            <a href="#" class="nav-item mx-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#edit_user">
                                                <i class="fas fa-edit text-success"></i>
                                            </a>
                                            <a href="#" class="nav-item mx-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                <i class="fas fa-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row align-items-center justify-content-between pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 end-0">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-sm btn-primary px-4 ms-2" id="comboCreateButton">@Html.SmartLocalize("Create")</button>
            </div>
        </div>
    </div>
</div>