@model GCTL.Core.ViewModels.CRM.AddTeamVM

<div class="row">
    <input type="hidden" asp-for="TeamID"/>
    <div class="flatpickr-input-container col-md-4">
        <div class="form-floating">
            <input class="form-control" type="text" placeholder="@Html.SmartLocalize("Generated ID")" readonly/>
            <label>@Html.SmartLocalize("Generated ID") <span style="color: red;">*</span></label>
        </div>
        <span id="nameError" class="text-danger" style="display:none;"></span>
    </div>
    <div class="flatpickr-input-container col-md-4">
        <div class="form-floating">
            <input class="form-control" type="text" asp-for="TeamName" placeholder="@Html.SmartLocalize("Team Name")" />
            <label class="req" asp-for="TeamName"></label>
        </div>
        <span id="nameError" class="text-danger" style="display:none;"></span>
    </div>
    <div class="flatpickr-input-container col-md-4">
        <div class="mb-3">
            <div class="form-floating">
                <select class="form-multi-select coreUiDD" asp-for="EmployeeIds" asp-items="@ViewBag.OrganizationDD as SelectList"
                        id="OrganizationIDs"
                        multiple
                        data-coreui-selection-type="counter"
                        data-coreui-search="true"
                        data-coreui-placeholder="@Html.SmartLocalize("Select Organization")..." required>
                </select>                
                @* <span asp-validation-for="EmployeeIds" id="OrganizationIDsError" class="text-danger" style="display:none;"></span> *@

            </div>
           
        </div>
    </div>
</div>

