@model GCTL.Core.ViewModels.AttendanceManagement.ScheduleManagement.AssignSpiralPattern.AssignSpiralPatternEditVM

@{
    var editDepartments = ViewBag.DepartmentDD as List<GCTL.Core.ViewModels.CommonSelectVM>;
    var editEmployees = ViewBag.EmployeeList as List<GCTL.Core.ViewModels.CommonSelectVM>;
    var editSpiralPatterns = ViewBag.SpiralPatternDD as List<GCTL.Core.ViewModels.CommonSelectVM>;
}

<!-- Edit Spiral Pattern -->
<div class="modal fade" id="assignSpiralPatternEditModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Html.SmartLocalize("Edit Spiral Pattern")</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="AssignSpiralPattern" asp-action="Update" id="assignSpiralPattern-editForm" enctype="multipart/form-data">
                <div class="modal-body pb-0">
                    <div class="row">
                        <input type="hidden" asp-for="SpiralPatternAssignListID" />
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="EditOrganizationID" class="form-label">@Html.SmartLocalize("Select Organization")</label>
                                <select class="form-select" asp-for="EditOrganizationID" asp-items="@ViewBag.OrganizationDD as SelectList">
                                    <option value="">@Html.SmartLocalize("Select Organization")...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" asp-for="EditDepartmentID">@Html.SmartLocalize("Select Department")</label>
                                <select class="form-multi-select" asp-for="EditDepartmentID"
                                        data-coreui-multiple="false"
                                        data-coreui-placeholder="@Html.SmartLocalize("Select Department")..."
                                        data-coreui-search="true">
                                    @foreach (var group in editDepartments.GroupBy(e => e.GroupName))
                                    {
                                        <optgroup label="@group.Key">
                                            @foreach (var emp in group)
                                            {
                                                <option value="@emp.Id">@emp.Name</option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" asp-for="EditEmployeeID">@Html.SmartLocalize("Select Employee")</label>
                                <select class="form-multi-select" asp-for="EditEmployeeID"
                                        data-coreui-multiple="false"
                                        data-coreui-placeholder="@Html.SmartLocalize("Select Employee")..."
                                        data-coreui-search="true">
                                    @foreach (var group in editEmployees.GroupBy(e => e.GroupName))
                                    {
                                        <optgroup label="@group.Key">
                                            @foreach (var emp in group)
                                            {
                                                <option value="@emp.Id">@emp.Name</option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" asp-for="EditSpiralPatternTypeID">@Html.SmartLocalize("Spiral Pattern Type")</label>
                                <select class="form-select" asp-for="EditSpiralPatternTypeID" asp-items="@ViewBag.SpiralPatternTypeDD">
                                    <option value="">@Html.SmartLocalize("Select Spiral Pattern Type")...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" asp-for="EditSpiralPatternID">@Html.SmartLocalize("Spiral Pattern")</label>
                                <select class="form-select" asp-for="EditSpiralPatternID">
                                    <option value="">@Html.SmartLocalize("Select Spiral Pattern")...</option>
                                    @foreach (var group in editSpiralPatterns.GroupBy(e => e.GroupName))
                                    {
                                        <optgroup label="@group.Key">
                                            @foreach (var emp in group)
                                            {
                                                <option value="@emp.Id">@emp.Name</option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3 flatpickr-input-container">
                            <label class="form-label" asp-for="EditStartDate">@Html.SmartLocalize("Start Date")<span style="color: red;">&nbsp;*</span></label>
                            <div class="input-icon-end position-relative flatpickr">
                                <input class="form-control datetimepicker" asp-for="EditStartDate" type="text" placeholder="dd/mm/yyyy" />
                                <span class="uil uil-calendar-alt position-absolute top-50 end-0 translate-middle-y me-3 text-body-tertiary"></span>
                                <span id="EditStartDateError" class="text-danger" style="display:none;"></span>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3 flatpickr-input-container">
                            <label class="form-label" asp-for="EditEndDate">@Html.SmartLocalize("End Date")<span style="color: red;">&nbsp;*</span></label>
                            <div class="input-icon-end position-relative flatpickr">
                                <input class="form-control datetimepicker" asp-for="EditEndDate" type="text" placeholder="dd/mm/yyyy" />
                                <span class="uil uil-calendar-alt position-absolute top-50 end-0 translate-middle-y me-3 text-body-tertiary"></span>
                                <span id="EditEndDate" class="text-danger" style="display:none;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">@Html.SmartLocalize("Cancel")</button>
                    <button type="submit" class="btn btn-primary" id="assignSpiralPatter-updateBtn">@Html.SmartLocalize("Update")</button>
                </div>
            </form>
        </div>
    </div>
</div>