<div class="mb-9">
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col-auto">
        </div>


    </div>

    <div class="px-3 mb-5">
        <div class="row">
            <div class="col-12">

                <div class="search-box me-3 mb-3">
                    <form class="position-relative">
                        <input class="form-control search-input search" type="search" placeholder="Employee Name / Phone / Email" aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>

                    </form>
                </div>

                <div class="mx-n4 mx-lg-n6 px-lg-6  bg-body-emphasis pb-4">

                    <form action="">
                        <div class="col-12 col-xl-12 col-xxl-12">

                            <ul class="nav nav-underline fs-9 deal-details scrollbar flex-nowrap w-100 py-2 mb-2 mx-2" id="myTab" role="tablist">

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingPInfo">
                                    <a class="nav-link active" href="/EmployeePersonal/index" role="tab" aria-selected="true" aria-controls="empPersonalInfo"> <span class="fa-solid fa-user me-2 tab-icon-color"></span>@Html.SmartLocalize("Personal Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingEmpOfficialInfo">
                                    <a class="nav-link"  href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empOfficialInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Official Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingempPayroleInfo">
                                    <a class="nav-link"  href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empPayroleInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Payroll Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingAdditionalInfo">
                                    <a class="nav-link"  href="/EmployeeAdditional/index" role="tab" aria-selected="false" aria-controls="additionalInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Additional Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingeducationInfo">
                                    <a class="nav-link"  href="/EmployeeEducation/index" role="tab" aria-selected="false" aria-controls="educationInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>Education Info.</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingTranningInfo">
                                    <a class="nav-link"  href="/EmployeeTraining/index" role="tab" aria-selected="false" aria-controls="tranningInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>Tranning Info.</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingFamilyInfo">
                                    <a class="nav-link"  href="/EmployeeFamily/index" role="tab" aria-selected="false" aria-controls="familyInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>Family Info.</a>
                                </li>

                            </ul>
                            <div class="card tab-content bg-white accordion" id="myTabContent">

                                <div class="tab-pane fade show active p-2" role="empPersonalInfo" id="empPersonalInfo" aria-labelledby="empPersonalInfo">

                                    <div class=" px-25 ">
                                        <div class="d-flex justify-content-center mt-2 ">
                                            <div class="col-12 row flex gy-3 pb-3">



                                                <p class="border-bottom">@Html.SmartLocalize("Basic Information")</p>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" id="" type="text" placeholder="Enter Firs Name" required />
                                                        <label for="">@Html.SmartLocalize("First Name")</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" id="" type="text" placeholder="Enter Last Name" />
                                                        <label for="">@Html.SmartLocalize("Last Name")</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select mb-4">
                                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                                            <option selected="selected">Select Gender</option>
                                                            <option value="1">Male</option>
                                                            <option value="1">Female</option>
                                                            <option value="1">Other</option>
                                                            <option value="1">Prefer not to say</option>
                                                        </select>
                                                        <label for="floatingSelectLitigation">Gender</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" id="" type="text" placeholder="Personal Mobile No. " />
                                                        <label for="">Personal Mobile No. </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" id="" type="text" placeholder="Personal Email " />
                                                        <label for="">Personal Email </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" id="" type="text" placeholder="TIN No " />
                                                        <label for="">TIN No </label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" id="" type="text" placeholder="Enter Father's Name" />
                                                        <label for="">Father's Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" id="" type="text" placeholder="Enter Mother's Name" />
                                                        <label for="">Mother's Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select mb-4">
                                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                                            <option selected="selected">Select Religion</option>
                                                            <option value="christianity">Christianity</option>
                                                            <option value="islam">Islam</option>
                                                            <option value="hinduism">Hinduism</option>
                                                            <option value="buddhism">Buddhism</option>
                                                            <option value="judaism">Judaism</option>
                                                            <option value="sikhism">Sikhism</option>
                                                            <option value="other">Other</option>
                                                            <option value="preferNotToSay">Prefer not to say</option>
                                                        </select>
                                                        <label for="floatingSelectLitigation">Religion</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="flatpickr-input-container mb-4">
                                                        <div class="form-floating">
                                                            <input class="form-control datetimepicker" id="floatingInputReportDate" type="text" placeholder="Enter Date of Birth" data-options='{"disableMobile":true}' />
                                                            <label class="ps-6" for="floatingInputReportDate">Date of Birth</label><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" id="" type="text" placeholder="Birth Certificate No" />
                                                        <label for="">Birth Certificate No</label>
                                                    </div>
                                                </div>


                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select mb-4">
                                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                                            <option selected="selected">Select Blood Group</option>
                                                            <option value="A+">A+</option>
                                                            <option value="A-">A-</option>
                                                            <option value="B+">B+</option>
                                                            <option value="B-">B-</option>
                                                            <option value="O+">O+</option>
                                                            <option value="O-">O-</option>
                                                            <option value="AB+">AB+</option>
                                                            <option value="AB-">AB-</option>
                                                        </select>
                                                        <label for="floatingSelectLitigation">Blood Group</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    

                                                    <div class="input-group form-floating form-floating-advance-select mb-4">
                                                        <label for="floatingSelectLitigation">Nationality</label>
                                                        <input type="text" id="nationalitySearch" class="form-control" placeholder="Search Nationality...">
                                                        <button class="btn btn-outline-secondary" type="button" id="addNationalityBtn" data-bs-toggle="modal" data-bs-target="#addNationalityModal" disabled>
                                                            <i class="fas fa-plus"></i> Add
                                                        </button>
                                                        <button class="btn btn-outline-danger" type="button" id="removeNationalityBtn" style="display: none;">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>

                                                    <div class="search-results card" id="searchResults">
                                                        <div class="list-group" id="nationalityList">
                                                            <!-- Nationality items will be populated here by JavaScript -->
                                                        </div>
                                                        <div class="no-results" id="noResults" style="display: none;">
                                                            Item Not Found। Are you add new item?
                                                            <button class="btn btn-sm btn-link p-0" id="addNewNationalityBtn">Click Hear</button>
                                                        </div>
                                                    </div>

                                                </div>







                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" id="" type="text" placeholder="Enter National ID" />
                                                        <label for="">National ID</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select mb-4">
                                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                                            <option selected="selected">Select Marital Status</option>
                                                            <option value="single">Single</option>
                                                            <option value="married">Married</option>
                                                            <option value="divorced">Divorced</option>
                                                            <option value="widowed">Widowed</option>
                                                            <option value="separated">Separated</option>
                                                            <option value="preferNotToSay">Prefer not to say</option>
                                                        </select>
                                                        <label for="floatingSelectLitigation">Marital Status</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-floating mb-4">
                                                        <textarea class="form-control" id="floatingProjectOverview" placeholder="About Employee" style="height: 120px"></textarea>
                                                        <label for="floatingProjectOverview">About Employee</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-12 row flex ">
                                                    <p class="border-bottom">Address Information</p>
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" id="" type="text" placeholder="Enter Country" />
                                                            <label for="">Country </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" id="" type="text" placeholder="Enter State" />
                                                            <label for="">State </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" id="" type="text" placeholder="Enter City" />
                                                            <label for="">City </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" id="" type="text" placeholder="Enter House No." />
                                                            <label for="">House No. </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" id="" type="text" placeholder="Enter Road No." />
                                                            <label for="">Road No. </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" id="" type="text" placeholder="Enter Postal Code" />
                                                            <label for="">Postal Code </label>
                                                        </div>
                                                    </div>



                                                </div>


                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="epImageUpload" type="file" placeholder="Employee Picture  " />
                                                        <label for="">Employee Picture  </label>
                                                    </div>
                                                    <img class="border rounded-4 mt-3" id="epImagePreview" src="" alt="" style="width: 150px; height: 150px;visibility: hidden;">
                                                </div>

                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="esImageUpload" type="file" placeholder="Employee Picture  " />
                                                        <label for="">Signature  </label>
                                                    </div>
                                                    <img class="border rounded-4 mt-3" id="esImagePreview" src="" alt="" style="width: 150px; height: 50px;visibility: hidden;">
                                                </div>

                                                <script>
                                                    // Get the file input element and image preview element
                                                    const epImageUpload = document.getElementById('epImageUpload');
                                                    const epImagePreview = document.getElementById('epImagePreview');
                                                    const esImageUpload = document.getElementById('esImageUpload');
                                                    const esImagePreview = document.getElementById('esImagePreview');

                                                    // Event listener for the file input
                                                    epImageUpload.addEventListener('change', function(event) {
                                                        const file = event.target.files[0]; // Get the first file selected

                                                        // If a file is selected
                                                        if (file) {
                                                            // Create a FileReader object to read the file
                                                            const reader = new FileReader();

                                                            // Set up the callback function that will run once the file is read
                                                            reader.onload = function(e) {
                                                                // Set the image source to the loaded file
                                                                epImagePreview.src = e.target.result;

                                                                epImagePreview.style.visibility = 'visible';
                                                            };

                                                            // Read the image file as a data URL (base64 string)
                                                            reader.readAsDataURL(file);
                                                        }
                                                    });

                                                    esImageUpload.addEventListener('change', function(event) {
                                                        const file = event.target.files[0]; // Get the first file selected

                                                        // If a file is selected
                                                        if (file) {
                                                            // Create a FileReader object to read the file
                                                            const reader = new FileReader();

                                                            // Set up the callback function that will run once the file is read
                                                            reader.onload = function(e) {
                                                                // Set the image source to the loaded file
                                                                esImagePreview.src = e.target.result;

                                                                esImagePreview.style.visibility = 'visible';
                                                            };

                                                            // Read the image file as a data URL (base64 string)
                                                            reader.readAsDataURL(file);
                                                        }
                                                    });

                                                </script>



                                                <div class="col-12">
                                                    <div class="row g-3 justify-content-end">
                                                        <div class="col-auto">
                                                            <button class="btn btn-phoenix-primary px-5">Cancel</button>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button class="btn btn-primary px-5 px-sm-15">Save</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>



                                </div>

                               

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>



