@model GCTL.Core.ViewModels.Employee.EmployeePersonal.EmployeePersonalPostViewModel


<style>
    .search-results {
        position: absolute;
        width: 100%;
        z-index: 1050;
    }

    .list-group-item {
        cursor: pointer;
    }
</style>





<div id="toastr-data" data-message="@TempData["ToastrMessage"]" data-type="@TempData["ToastrType"]" style="display:none;"></div>

<div class="mb-9">
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col-auto">
        </div>
    </div>

    <div class="px-3 mb-5">
        <div class="row">
            <div class="col-12">
                <!--
                <div class="search-box me-3 mb-3">
                    <form class="position-relative">
                        <input class="form-control search-input search" type="search" placeholder="@Html.SmartLocalize("Employee Name / Phone / UserEmail")" aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
                -->


                <div class="row g-2 align-items-center">


                    <div class="col-md-3">
                        <div class="position-relative">
                            <input class="form-control search-input search" type="search" placeholder="Employee Name / Phone / Email" aria-label="Search" />
                            <span class="fas fa-search search-box-icon position-absolute top-50 end-0 translate-middle-y me-3"></span>
                        </div>
                    </div>

                    <div class="col-md-3"></div>

                    <!--
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Department" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Designation" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Location" />
                    </div>

                    -->

                </div>

                <div class="mx-n4 mx-lg-n6 px-lg-6  bg-body-emphasis pb-4">

                    <form id="employeeForm" asp-controller="EmployeePersonal" asp-action="Index" method="post" enctype="multipart/form-data">
                        <div class="col-12 col-xl-12 col-xxl-12">

                            <ul class="nav nav-underline fs-9 deal-details scrollbar flex-nowrap w-100 py-2 mb-2 mx-2" id="myTab" role="tablist">

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingPInfo">
                                    <a class="nav-link active" href="/EmployeePersonal/index" role="tab" aria-selected="true" aria-controls="empPersonalInfo"> <span class="fa-solid fa-user me-2 tab-icon-color"></span>@Html.SmartLocalize("Personal Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingEmpOfficialInfo">
                                    <a class="nav-link" href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empOfficialInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Official Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingempPayroleInfo">
                                    <a class="nav-link" href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empPayroleInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Payroll Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingAdditionalInfo">
                                    <a class="nav-link" href="/EmployeeAdditional/index" role="tab" aria-selected="false" aria-controls="additionalInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Additional Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingeducationInfo">
                                    <a class="nav-link" href="/EmployeeEducation/index" role="tab" aria-selected="false" aria-controls="educationInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Education Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingTranningInfo">
                                    <a class="nav-link" href="/EmployeeTraining/index" role="tab" aria-selected="false" aria-controls="tranningInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Training Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingFamilyInfo">
                                    <a class="nav-link" href="/EmployeeFamily/index" role="tab" aria-selected="false" aria-controls="familyInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Family Info.")</a>
                                </li>

                            </ul>
                            <div class="card tab-content bg-white accordion" id="myTabContent">

                                <div class="tab-pane fade show active p-2" role="empPersonalInfo" id="empPersonalInfo" aria-labelledby="empPersonalInfo">

                                    <div class=" px-25 ">
                                        <div class="d-flex justify-content-center mt-2 ">
                                            <div class="col-12 row flex gy-3 pb-3">

                                                <p class="border-bottom">@Html.SmartLocalize("Basic Information")</p>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control"  asp-for="FirstName" id="firstName" type="text" placeholder="@Html.SmartLocalize("Enter First Name")" required />
                                                        <label asp-for="FirstName" for="firstName">@Html.SmartLocalize("First Name")</label>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" asp-for="LastName" id="lastName" type="text" placeholder="@Html.SmartLocalize("Enter Last Name")" />
                                                        <label asp-for="LastName" for="lastName">@Html.SmartLocalize("Last Name")</label>
                                                    </div>
                                                </div>
                                                

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select mb-2">
                                                        <label asp-for="Gender">Choose Gender</label>
                                                        <select class="form-select" asp-for="Gender" asp-items="@ViewBag.GenderDD as SelectList">
                                                            <option value="">Select Gender</option>
                                                        </select>

                                                    </div>
                                                </div>


                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" asp-for="PersonalMobile" id="personalMobile" type="text" placeholder="@Html.SmartLocalize("Personal Mobile No.")" />
                                                        <label asp-for="PersonalMobile" for="personalMobile">@Html.SmartLocalize("Personal Mobile No.")</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" asp-for="PersonalEmail" id="personalEmail" type="text" placeholder="@Html.SmartLocalize("Personal UserEmail")" />
                                                        <label asp-for="PersonalEmail" for="personalEmail">@Html.SmartLocalize("Personal UserEmail")</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" asp-for="TinNo" id="tinNo" type="text" placeholder="@Html.SmartLocalize("TIN No")" />
                                                        <label asp-for="TinNo" for="tinNo">@Html.SmartLocalize("TIN No")</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" asp-for="FatherName" id="fatherName" type="text" placeholder="@Html.SmartLocalize("Enter Father's Name")" />
                                                        <label asp-for="FatherName" for="fatherName">@Html.SmartLocalize("Father's Name")</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" asp-for="MotherName" id="motherName" type="text" placeholder="@Html.SmartLocalize("Enter Mother's Name")" />
                                                        <label asp-for="MotherName" for="motherName">@Html.SmartLocalize("Mother's Name")</label>
                                                    </div>
                                                </div>
                                               

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select mb-2">
                                                        <label asp-for="Religion">Choose Religion</label>
                                                        <select class="form-select" asp-for="Religion" asp-items="@ViewBag.ReligionDD as SelectList">
                                                            <option value="">Select Relogion </option>
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="flatpickr-input-container mb-4">
                                                        <div class="form-floating">
                                                            <input class="form-control datetimepicker" asp-for="DateOfBirth" id="floatingInputReportDate" type="text" placeholder="@Html.SmartLocalize("Enter Date of Birth")" data-options='{"disableMobile":true}' />
                                                            <label asp-for="DateOfBirth" class="ps-6" for="floatingInputReportDate">@Html.SmartLocalize("Date of Birth")</label><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" asp-for="BirthCertificateNo" id="birthCertificate" type="text" placeholder="@Html.SmartLocalize("Birth Certificate No")" />
                                                        <label asp-for="BirthCertificateNo" for="birthCertificate">@Html.SmartLocalize("Birth Certificate No")</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select mb-4">
                                                        <select class="form-select" asp-for="BloodGroup" id="bloodGroup" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                                            <option value="" selected="selected">@Html.SmartLocalize("Select Blood Group")</option>
                                                            <option value="A+">A+</option>
                                                            <option value="A-">A-</option>
                                                            <option value="B+">B+</option>
                                                            <option value="B-">B-</option>
                                                            <option value="O+">O+</option>
                                                            <option value="O-">O-</option>
                                                            <option value="AB+">AB+</option>
                                                            <option value="AB-">AB-</option>
                                                        </select>
                                                        <label asp-for="BloodGroup" for="floatingSelectLitigation">@Html.SmartLocalize("Blood Group")</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">

                                                    <div class="input-group form-floating form-floating-advance-select mb-4">
                                                        <label asp-for="Nationality" for="floatingSelectLitigation">@Html.SmartLocalize("Nationality")</label>
                                                        <input type="text" asp-for="Nationality" id="nationalitySearch" class="form-control" placeholder="@Html.SmartLocalize("Search Nationality...")">
                                                        
                                                        <button class="btn btn-outline-danger" type="button" id="removeNationalityBtn" style="display: none;">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>

                                                    <div class="search-results card" id="searchResults">
                                                        <div class="list-group" id="nationalityList">
                                                            <!-- Nationality items will be populated here by JavaScript -->
                                                        </div>
                                                        <div class="no-results" id="noResults" style="display: none;">
                                                            @Html.SmartLocalize("Item Not Found. Are you add new item?")
                                                            <button class="btn btn-sm btn-link p-0" id="addNewNationalityBtn">@Html.SmartLocalize("Click Here")</button>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input class="form-control" asp-for="NationalId" id="nationalId" type="text" placeholder="@Html.SmartLocalize("Enter National ID")" />
                                                        <label asp-for="NationalId" for="nationalId">@Html.SmartLocalize("National ID")</label>
                                                    </div>
                                                </div>

                                                
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select mb-2">
                                                        <label asp-for="MaritalStatus">Choose Marrital Status</label>
                                                        <select class="form-select" asp-for="MaritalStatus" asp-items="@ViewBag.MaritalStatusDD as SelectList">
                                                            <option value="">Select Marital Status</option>
                                                        </select>

                                                    </div>
                                                </div>

                                                


                                               



                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-floating mb-4">
                                                        <textarea class="form-control" asp-for="AboutEmployee" id="floatingProjectOverview" placeholder="@Html.SmartLocalize("About Employee")" style="height: 120px"></textarea>
                                                        <label asp-for="AboutEmployee" for="floatingProjectOverview">@Html.SmartLocalize("About Employee")</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-12 row flex ">
                                                    <p class="border-bottom">@Html.SmartLocalize("Address Information")</p>
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" asp-for="Country" id="country" type="text" placeholder="@Html.SmartLocalize("Enter Country")" />
                                                            <label asp-for="Country" for="country">@Html.SmartLocalize("Country")</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" asp-for="State" id="state" type="text" placeholder="@Html.SmartLocalize("Enter State")" />
                                                            <label asp-for="State" for="state">@Html.SmartLocalize("State")</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" asp-for="City" id="city" type="text" placeholder="@Html.SmartLocalize("Enter City")" />
                                                            <label asp-for="City" for="city">@Html.SmartLocalize("City")</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" asp-for="HouseNo" id="houseNo" type="text" placeholder="@Html.SmartLocalize("Enter House No.")" />
                                                            <label asp-for="HouseNo" for="houseNo">@Html.SmartLocalize("House No.")</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" asp-for="RoadNo" id="roadNo" type="text" placeholder="@Html.SmartLocalize("Enter Road No.")" />
                                                            <label asp-for="RoadNo" for="roadNo">@Html.SmartLocalize("Road No.")</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-floating mb-4">
                                                            <input class="form-control" asp-for="PostalCode" id="postalCode" type="text" placeholder="@Html.SmartLocalize("Enter Postal Code")" />
                                                            <label asp-for="PostalCode" for="postalCode">@Html.SmartLocalize("Postal Code")</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" asp-for="EmployeePicture" id="epImageUpload" type="file" placeholder="@Html.SmartLocalize("Employee Picture")" />
                                                        <label asp-for="EmployeePicture" for="epImageUpload">@Html.SmartLocalize("Employee Picture")</label>
                                                    </div>
                                                    <div class="position-relative d-inline-block">
                                                        <img class="border rounded-4 mt-3" id="epImagePreview" src="" alt="" style="width: 150px; height: 150px;visibility: hidden;">
                                                        <button type="button" class="btn btn-sm btn-danger position-absolute" id="epCloseBtn" style="top: 5px; right: 5px; display: none; border-radius: 50%; width: 25px; height: 25px; padding: 0;">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" asp-for="Signature" id="esImageUpload" type="file" placeholder="@Html.SmartLocalize("Signature")" />
                                                        <label asp-for="Signature" for="esImageUpload">@Html.SmartLocalize("Signature")</label>
                                                    </div>
                                                    <div class="position-relative d-inline-block">
                                                        <img class="border rounded-4 mt-3" id="esImagePreview" src="" alt="" style="width: 150px; height: 50px;visibility: hidden;">
                                                        <button type="button" class="btn btn-sm btn-danger position-absolute" id="esCloseBtn" style="top: 5px; right: 5px; display: none; border-radius: 50%; width: 25px; height: 25px; padding: 0;">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="row g-3 justify-content-end">
                                                        
                                                        <div class="col-auto">
                                                            <button class="btn btn-phoenix-primary px-5">@Html.SmartLocalize("Cancel")</button>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button type="submit" id="submitButton" class="btn btn-primary px-5 px-sm-15">@Html.SmartLocalize("Save")</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Preview Modal -->
<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">@Html.SmartLocalize("Employee Information Preview")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="previewContent">
                <!-- Preview content will be populated here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Html.SmartLocalize("Close")</button>
                <button type="button" class="btn btn-primary" id="printPreview">@Html.SmartLocalize("Print")</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addNationalityModal" tabindex="-1" aria-labelledby="addNationalityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNationalityModalLabel">Add New Nationality</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="newNationalityName" class="form-label">Nationality Name</label>
                    <input type="text" class="form-control" id="newNationalityName" placeholder="যেমন: বাংলাদেশী টাকা">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmAddNationalityBtn">Add</button>
            </div>
        </div>
    </div>
</div>




@section Scripts
{
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");


    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/pages/employees/employeepersonal.js"></script>

}

