@using GCTL.Core.ViewModels.PayrollManagements.PayrollPolicy.PayRollEmpSalary

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- Include Month Select Plugin CSS (important to load for correct styling) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">

<style>
    .flatpickr-monthSelect-months {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        gap: 10px; /* Space between months */
        margin: 10px 1px 3px 1px;
    }

    /* Styling for individual months */
    .flatpickr-monthSelect-month {
        background: none;
        border: 1px solid transparent;
        border-radius: 4px;
        box-sizing: border-box;
        color: #393939;
        cursor: pointer;
        display: flex; /* Use flexbox to center the text inside the month */
        justify-content: center;
        padding: 10px;
        position: relative;
        text-align: center;
        width: 100%; /* Make sure it takes full width of the column */
    }

        /* Disabled month styling */
        .flatpickr-monthSelect-month.flatpickr-disabled {
            color: #eee;
        }

            .flatpickr-monthSelect-month.flatpickr-disabled:hover,
            .flatpickr-monthSelect-month.flatpickr-disabled:focus {
                cursor: not-allowed;
                background: none !important;
            }

    /* Dark theme adjustments */
    .flatpickr-monthSelect-theme-dark {
        background: #3f4458;
    }

        .flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month {
            color: rgba(255, 255, 255, 0.95);
        }

            .flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.selected {
                background-color: #80cbc4;
                color: #fff;
                border-color: #80cbc4;
            }

    /* Styling for today’s month */
    .flatpickr-monthSelect-month.today {
        border-color: #959ea9;
    }

    .flatpickr-monthSelect-month.selected,
    .flatpickr-monthSelect-month.startRange,
    .flatpickr-monthSelect-month.endRange {
        background-color: #569ff7;
        box-shadow: none;
        color: #fff;
        border-color: #569ff7;
    }

    /* Range selection */
    .flatpickr-monthSelect-month.startRange {
        border-radius: 50px 0 0 50px;
    }

    .flatpickr-monthSelect-month.endRange {
        border-radius: 0 50px 50px 0;
    }

    .flatpickr-monthSelect-month.inRange {
        border-radius: 0;
        box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
    }
</style>


<style>

    #payRollEmp-searchForm {
        position: relative;
    }

    #payRollEmp-searchInput {
        padding-right: 2.25rem; /* Leave space for the icon inside */
        height: calc(1.5em + 0.75rem + 2px); /* Same as .form-select */
    }

    .search-box-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #6c757d;
        pointer-events: none;
    }


    .date-input {
        width: 108%;
        border: 2px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        transition: all 0.3s ease;
        background: white;
    }

        .date-input:focus {
            outline: none;
            border-color: #4facfe;
            box-shadow: 0 0 0 3px rgba(79, 172, 254, 0.1);
        }

    .date-picker-wrapper .footer {
        display: none !important;
    }


    .date-picker-wrapper {
        margin-left: 8.2vw !important;
    }

    .card-header {
        
        border-bottom: var(--phoenix-card-border-width) solid rgb(203 208 221 / 3%) !important;
    }

</style>
<div class="card">


   

    <!-- Confirm Partial Paid Modal -->
    <div class="modal fade" id="confirmMarkPaidModalPartial" tabindex="-1" aria-labelledby="confirmMarkPaidModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Mark as Paid (Partial)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <span>Name: <strong id="empName"></strong></span>
                            </div>
                            <p class="extra-notes"><strong>Earnings</strong></p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong class="ms-2">Basic</strong>
                                            <span class="me-2 float-end" id="BasicSalary"></span>
                                        </td>
                                    </tr>
                                <tbody id="allowanceTable"></tbody>
                                <tbody id="benefitTable"></tbody>
                                <tr>
                                    <td>
                                        <strong class="ms-2">Total Earnings</strong>
                                        <span class="me-2 float-end"><strong id="TotalSalary"></strong></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <h6 id="NetPay" class="text-end pe-2"></h6>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" id="confirmMarkPaidBtnPartial">
                        Yes, Mark as Paid Partial
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="card-header mb-0 pb-2">


        <div class="d-flex justify-content-between">
            <h4 class="mb-1">Employee Salary List</h4>

            <div class="btn-group ms-3" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Export <i class="fa-solid fa-file-export"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);" id="export-pdf-btn"><span data-feather="download"></span>PDF</a></li>
                    @* <li><a class="dropdown-item" href="javascript:void(0);" id="exportToExcelTaxOverview"><span data-feather="download"></span>Excel</a></li> *@
                </ul>
            </div>

          

        </div>

        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

            <div class="dropdown me-2">
                <select class="form-select" id="OrganizationID" asp-items="@ViewBag.OrganizationDD" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Company</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-multi-select" asp-items="@ViewBag.DepartmentDD" id="DepartmentID" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                    <option value="">Select Department</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-multi-select" id="EmployeeID" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                    @foreach (var group in (Dictionary<string, List<EmployeeGroupVM>>)ViewBag.GroupedEmployees)
                    {
                        <optgroup label="@group.Key">
                            @foreach (var emp in group.Value)
                            {
                                <option value="@emp.EmployeeID">@emp.FullName</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
            <div class="flatpickr-input-container me-3">
                <input class="form-control ps-6 flatpickr-input" id="year-month-picker-1" type="text" readonly="readonly" placeholder="Select Month">
                <span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
            </div>

            <div class="flatpickr-input-container me-3 d-none" id="markAsSaveContainer">
                <button id="MarkasSaved" class="btn btn-primary btn-sm">
                    Mark as Paid
                </button>
            </div>
@* 
            <div class="flatpickr-input-container me-3 d-none" id="markAsSaveContainerPartial">
                <button id="MarkasSavedPartial" class="btn btn-primary btn-sm">
                    Mark as Paid Partial
                </button>
            </div> *@
            <!-- Confirmation Modal -->
            <div class="modal fade" id="confirmMarkPaidModal" tabindex="-1" aria-labelledby="confirmMarkPaidModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmMarkPaidModalLabel">Confirm Mark as Paid</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
 
                        <div class="modal-body">
                            <p>Are you sure you want to mark the selected employees as <strong>Paid</strong>?</p>

                            <div class="row align-items-center mb-3">
                                <label for="paidPercentageBasic" class="col-sm-5 col-form-label">Basic(%)</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="paidPercentageBasic" name="PaidPercentageBasic"
                                           placeholder="%" min="0" max="100" step="0.01" required>
                                </div>
                            </div>

                            <div class="row align-items-center mb-3">
                                <label for="paidPercentageBonus" class="col-sm-5 col-form-label">Bonus(%)</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="paidPercentageBonus" name="PaidPercentageBonus"
                                           placeholder="%" min="0" max="100" step="0.01" required>
                                </div>
                            </div>
                        </div>



                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btn-sm" id="confirmMarkPaidBtn">Yes, Mark as Paid</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
    <div class="card-header d-flex align-items-center justify-content-between pb-0 pt-1 ">


        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

            <div class="col-12 col-sm-auto">
                <div class="d-flex align-items-center me-3" style="width: auto;">
                    <span class="ms-2">@Html.SmartLocalize("Showing"):</span> &nbsp;
                    <div style="width: 100%;">
                        <select id="payRollEmp-pageSizeSelect" class="form-select form-select-sm" tabindex="10">
                          @*   <option class="dropdown-item" value="5">@Html.SmartLocalize("5")</option> *@
                            <option class="dropdown-item" value="10">@Html.SmartLocalize("10")</option>
                            <option class="dropdown-item" value="25">@Html.SmartLocalize("25")</option>
                            <option class="dropdown-item" value="50">@Html.SmartLocalize("50")</option>
                            <option class="dropdown-item" value="100">@Html.SmartLocalize("100")</option>
                        </select>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-12 col-sm-auto">
            <div class="d-flex align-items-center">

                
                <div class="d-none me-3" id="payRollEmp-bulkSelectActions">
                    <div class="position-relative">
                        <button type="button" class="btn btn-phoenix-danger btn-sm ms-2" id="payRollEmp-bulkDelBtn">@Html.SmartLocalize("Delete")</button>
                    </div>
                </div>


                

                <div class="dropdown me-3 d-flex align-items-center">
                    <label for="PaidUnpaid" class="me-2 fw-semibold">@Html.SmartLocalize("Salary Status"):</label>
                    <select id="PaidUnpaid" class="form-select form-select-sm" style="width: auto;" tabindex="10">
                        <option value="">@Html.SmartLocalize("Select")</option>
                        <option value="true">@Html.SmartLocalize("Paid")</option>
                        <option value="false">@Html.SmartLocalize("UnPaid")</option>
                    </select>
                </div>

                <div class="dropdown me-3" id="payRollEmp-searchBox">
                    <form class="position-relative" id="payRollEmp-searchForm">
                        <input class="form-control search-input" id="payRollEmp-searchInput" type="search"
                               placeholder="@Html.SmartLocalize("Search here")" aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="border-translucent p-3">
        <div id="employeeListTable">

            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 leads-table">
                    <thead>
                        <tr>
                            <th class="text-center text-middle align-middle ps-0" scope="col" style="width: 5%;">
                                <input type="checkbox" class="form-check-input" id="PayRollPaySlip-check-all" />
                            </th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empId">Employee Id</th>
                            <th class="sort align-middle ps-1 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empName">Employee Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDept">Department</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empSalary">Salary</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empBonus">Bonus</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDeduction">Deductions</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="netSalary">Net Salary</th>
                            <th class="sort align-middle ps-0 pe-0 text-uppercase text-nowrap" scope="col">Status</th>
                            <th class="align-middle ps-4 pe-5 text-uppercase text-nowrap">Payslip</th>
                        </tr>
                    </thead>
                    <tbody  id="PayRollEmpSalary-sellers-body">
                        

                    </tbody>
                </table>
            </div>

            <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
                <div class="d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="payRollEmp-paginationInfo"></p>

                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
                </div>
                <div class="d-flex">
                    <button class="page-link" data-list-pagination="prev" id="payRollEmp-prevPageBtn"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination" id="payRollEmp-paginationLinks"></ul>
                    <button class="page-link pe-0" data-list-pagination="next" id="payRollEmp-nextPageBtn"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>

        </div>
    </div>

</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/payrollmanagements/payrollpolicy/PayRollEmpSalary.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
}
