@{
    var departments = ViewBag.DepartmentDD as List<GCTL.Core.ViewModels.CommonSelectVM>;
    var employees = ViewBag.EmployeeList as List<GCTL.Core.ViewModels.CommonSelectVM>;
}


<style>
    #earlyLoanPayment-searchForm {
        position: relative;
    }

    #earlyLoanPayment-searchInput {
        padding-right: 2.25rem; 
        height: calc(1.5em + 0.75rem + 2px);
    }

    .search-box-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #6c757d;
        pointer-events: none;
    }


    .date-input {
        width: 108%;
        border: 2px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        transition: all 0.3s ease;
        background: white;
    }

        .date-input:focus {
            outline: none;
            border-color: #4facfe;
            box-shadow: 0 0 0 3px rgba(79, 172, 254, 0.1);
        }

    .date-picker-wrapper .footer {
        display: none !important;
    }


    .date-picker-wrapper {
        margin-left: 8.2vw !important;
    }
</style>


<div class="card-body py-0 scrollbar to-do-list-body">
<div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">Employee Loan Early Payment Information</h4>
        <a href="#" class="btn btn-outline-info rounded-pill d-flex align-items-center"
           data-bs-target="#add_employee_loan_early_payment"
           data-bs-toggle="modal">
            <i class="fa fa-plus me-2"></i> Early Payment
        </a>
    </div>
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis py-5 border-y">
    <div class="row g-3 align-items-end mb-4" style="margin-right:1%">
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Organization</label>
                    <select class="form-select choiceDD" id="OrganizationID" asp-items="@ViewBag.OrganizationDDTable as SelectList">
                        <option value="">@Html.SmartLocalize("Select Organization")</option>
                    </select>
                    <span id="OrganizationIDError" class="text-danger" style="display:none;"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-4">
                    <label class="form-label">Department</label>
                    <select class="form-multi-select" id="DepartmentIDs"
                            multiple data-coreui-selection-type="counter"
                            data-coreui-placeholder="@Html.SmartLocalize("Select Department")"
                            data-coreui-search="true">
                        @foreach (var group in departments.GroupBy(e => e.GroupName))
                        {
                            <optgroup label="@group.Key">
                                @foreach (var emp in group)
                                {
                                    <option value="@emp.Id">@emp.Name</option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-4">
                    <label class="form-label">Employee</label>
                    <select class="form-multi-select" id="EmployeeIDs"
                            multiple data-coreui-selection-type="counter"
                            data-coreui-placeholder="@Html.SmartLocalize("Select Employee")"
                            data-coreui-search="true">
                        @foreach (var group in employees.GroupBy(e => e.GroupName))
                        {
                            <optgroup label="@group.Key">
                                @foreach (var emp in group)
                                {
                                    <option value="@emp.Id">@emp.Name</option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>

        </div>


        <div class="row g-3 justify-content-between align-items-end mb-4">

            <div class="col-12 col-sm-auto">
                <div class="d-flex align-items-center me-3" style="width: auto;">
                    <span class="ms-2">@Html.SmartLocalize("Showing"):</span> &nbsp;
                    <div style="width: 100%;">
                        <select id="earlyLoanPayment-pageSizeSelect" class="form-select form-select-sm" tabindex="10">
                            <option class="dropdown-item" value="5">@Html.SmartLocalize("5")</option>
                            <option class="dropdown-item" value="10">@Html.SmartLocalize("10")</option>
                            <option class="dropdown-item" value="25">@Html.SmartLocalize("25")</option>
                            <option class="dropdown-item" value="50">@Html.SmartLocalize("50")</option>
                            <option class="dropdown-item" value="100">@Html.SmartLocalize("100")</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-auto">
                <div class="d-flex align-items-center">
                    <div class="d-none me-3" id="earlyLoanPayment-bulkSelectActions">
                        <div class="position-relative">
                            <button type="button" class="btn btn-phoenix-danger btn-sm ms-2" id="earlyLoanPayment-bulkDelBtn">@Html.SmartLocalize("Delete")</button>
                        </div>
                    </div>
                    <div class="dropdown me-3" id="earlyLoanPayment-searchBox">
                        <form class="position-relative" id="earlyLoanPayment-searchForm">
                            <input class="form-control search-input" id="earlyLoanPayment-searchInput" type="search"
                                   placeholder="@Html.SmartLocalize("Search here")" aria-label="Search" />
                            <span class="fas fa-search search-box-icon"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive ms-n1 ps-1 scrollbar">
            <table class="table fs-9 mb-0 border-top border-translucent table-hover table-striped">
                <thead>
                    <tr>
                        <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                            <div class="form-check mb-0 fs-8">
                                <input class="form-check-input" type="checkbox" />
                            </div>
                        </th>
                        <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empId">Employee Id</th>
                        <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empName">Employee Name</th>
                        <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empDept">Department</th>
                        <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empLoanAmount">Loan Amount</th>
                        <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empEarlyPayAmount">Early Pay Amount</th>
                        <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="paymentDate">Payment Date</th>
                        <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="receivedBy">Received By</th>
                        <th class="sort text-end align-middle pe-0 ps-3" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="earlyLoanPayment-tBody">
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
            <div class="d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="earlyLoanPayment-paginationInfo"></p>

                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
            </div>
            <div class="d-flex">
                <button class="page-link" data-list-pagination="prev" id="earlyLoanPayment-prevPageBtn"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination" id="earlyLoanPayment-paginationLinks"></ul>
                <button class="page-link pe-0" data-list-pagination="next" id="earlyLoanPayment-nextPageBtn"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>
    </div>
</div>


@* <div class="card">
    <div class="card-header mb-4">
        <div class="d-flex justify-content-between">
            <h4 class="mb-1">Employee Loan Early Payment Information</h4>

            <div class="dropdown start-0">
                <a href="#" class="btn btn-outline-info  rounded-pill d-flex align-items-center" data-bs-target="#add_employee_loan_early_payment"
                   data-bs-toggle="modal"><i class="fa fa-plus me-2"></i>Early Payment</a>
            </div>

        </div>
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

            <div class="dropdown me-2">
                <select class="form-select" id="organizerSingle" data-choices="data-choices" >
                    <option value="">Select Company</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-multi-select" id="multiple-dep-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                    <option value="">Select Department</option>
                    <option>Developer</option>
                    <option>Designer</option>
                    <option>Finance</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-multi-select" id="multiple-emp-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                    <optgroup label="Developer">
                        <option value="2">Alam</option>
                        <option value="3">Momin</option>
                    </optgroup>
                    <optgroup label="Designer">
                        <option value="4">Name (id)</option>
                        <option value="5">Name (id)</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="border-translucent p-3">
            <div id="employeeListTable">

                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-sm fs-9 leads-table">
                        <thead>
                            <tr>
                                <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empId">Employee Id</th>
                                <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empName">Employee Name</th>
                                <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empDept">Department</th>
                                <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empLoanAmount">Loan Amount</th>
                                <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="empEarlyPayAmount">Early Pay Amount</th>
                                <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="paymentDate">Payment Date</th>
                                <th class="sort align-middle ps-4 pe-3 text-uppercase text-nowrap" scope="col" data-sort="receivedBy">Received By</th>
                                <th class="sort text-end align-middle pe-0 ps-3" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list" id="purchasers-sellers-body">
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="empId align-middle white-space-nowrap ps-5 fw-semibold text-body py-1">
                                    <span>#Emp54736</span>
                                </td>
                                <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-1">
                                    <div class="d-flex align-items-center position-relative">
                                        <div class="avatar avatar-m me-3">
                                            <img class="rounded-circle avatar-placeholder" src="../../assets/img/team/avatar.webp" alt="" />
                                        </div><a class="text-body-highlight fw-bold stretched-link" href="#!">Hasan Ali</a>
                                    </div>
                                </td>
                                <td class="empDept align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Developer</td>
                                <td class="empLoanAmount align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">100000 tk</td>
                                <td class="empEarlyPayAmount align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">50000 tk</td>
                                <td class="paymentDate align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">10-Jan-2025</td>
                                <td class="receivedBy align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">FD</td>
                                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                    <div class="btn-reveal-trigger position-static">
                                        <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_employee_loan_early_payment">
                                            <i class="fas fa-edit text-success"></i>
                                        </a>
                                        <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                            <i class="fas fa-trash text-danger"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="row align-items-center justify-content-between pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> *@
