<!-- Modal  for edit shift  used-->
<div class="modal fade" id="rosterInOfficeDays-editShiftModal" tabindex="-1" aria-labelledby="editShiftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="OfficeDayRoster" asp-action="UpdateEmpShiftAsync" id="EditShiftModal-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="shiftModalLabel">@Html.SmartLocalize("Edit shift")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <p id="shiftModalDetails" class="mb-3 text-muted"></p>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="EditShiftModal-ShiftID">@Html.SmartLocalize("Shift Name")</label>
                            <select class="form-select" asp-items="@ViewBag.ShiftDD as SelectList" id="EditShiftModal-ShiftID">
                                <option value="">@Html.SmartLocalize("Select Shift")...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Html.SmartLocalize("Close")</button>
                    <button type="submit" class="btn btn-primary" id="EditShiftModal-saveShift">@Html.SmartLocalize("Save shift")</button>
                </div>
            </form>
        </div>
    </div>
</div>