@model GCTL.Core.ViewModels.AttendanceManagement.ScheduleManagement.OfficeDayRoster.RosterInOfficeDaysSetupVM

@{
    var employees = ViewBag.EmployeeList as List<GCTL.Core.ViewModels.AttendanceManagement.ScheduleManagement.OfficeDayRoster.RosterInOfficeDaysSetupVM>;
}

<form asp-controller="OfficeDayRoster" asp-action="Create" id="rosterInOfficeDays-form" enctype="multipart/form-data">
    <div class="d-flex gap-3 flex-wrap">
        <div class="mb-3 one">
            <label class="form-label" for="organizerSingle">Company Name</label>
            <select class="form-multi-select" asp-for="OrganizationID" asp-items="@ViewBag.OrganizationDD as SelectList" multiple data-coreui-multiple="false" data-coreui-selection-type="counter" data-coreui-search="true">
            </select>
        </div>

        <div class="mb-3 two">
            <label class="form-label" for="organizerSingle">Select Department</label>
            <select class="form-multi-select" asp-for="DepartmentIDs" asp-items="@ViewBag.DepartmentDD as SelectList" multiple data-coreui-multiple="true" data-coreui-selection-type="counter" data-coreui-search="true">
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="organizerSingle">Employee</label>
            <select class="form-multi-select" asp-for="EmployeeIDs" multiple data-coreui-multiple="true" data-coreui-selection-type="counter" data-coreui-search="true">
                @foreach (var group in employees.GroupBy(e => e.DepartmentName))
                {
                    <optgroup label="@group.Key">
                        @foreach (var emp in group)
                        {
                            <option value="@emp.EmployeeID">@emp.EmployeeName</option>
                        }
                    </optgroup>
                }
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="organizerSingle">Select Shift</label>
            <select class="form-select" asp-items="@ViewBag.ShiftDD as SelectList" asp-for="ShiftID" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option value="">Select Roster...</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="timepicker2">Select Date Range</label>
            <input class="form-control datetimepicker" id="timepicker2" type="text" placeholder="DD/MM/YYYY to DD/MM/YYYY" data-options='{"mode":"range","dateFormat":"d/m/y","disableMobile":true}' />
        </div>

    </div>
    @* <div class="modal-body pb-0">
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-2">
            </div>


            <div class="col-md-2">
            </div>

            <div class="col-md-2">
            </div>

            <div class="col-md-2">
            </div>

        </div>
    </div> *@
</form>