@model GCTL.Core.ViewModels.AttendanceManagement.ScheduleManagement.OfficeDayRoster.RosterInOfficeDaysSetupVM

@{
    var employees = ViewBag.EmployeeList as List<GCTL.Core.ViewModels.CommonSelectVM>;
}

<style>
    element.style {
        top: 276.25px;
        left: 1378.03px;
        user-select: none;
    }

    .date-picker-wrapper {
        margin-left: 1.2vw !important;
    }
</style>

<form asp-controller="OfficeDayRoster" asp-action="Create" id="rosterInOfficeDays-form" enctype="multipart/form-data">
    <div class="row g-3 mb-3">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="RosterInOfficeDayID" />

        <div class="col-md">
            <label class="form-label" asp-for="OrganizationID">@Html.SmartLocalize("Organization Name")</label>
            <select class="form-select" asp-for="OrganizationID" asp-items="@ViewBag.OrganizationDD as SelectList">
                <option value="">@Html.SmartLocalize("Select Organization")...</option>
            </select>
        </div>

        <div class="col-md branch">
            <label class="form-label" asp-for="BranchIDs">@Html.SmartLocalize("Branch Name")</label>
            <select class="form-multi-select"
                    asp-for="BranchIDs"
                    asp-items="@ViewBag.BrnchDD as SelectList"
                    multiple data-coreui-multiple="true"
                    data-coreui-selection-type="counter"
                    data-coreui-search="true"
                    data-coreui-placeholder="@Html.SmartLocalize("Select Branch")...">
            </select>
        </div>

        <div class="col-md department">
            <label class="form-label" asp-for="DepartmentIDs">@Html.SmartLocalize("Department Name")</label>
            <select class="form-multi-select"
                    asp-for="DepartmentIDs"
                    asp-items="@ViewBag.DepartmentDD as SelectList"
                    multiple data-coreui-multiple="true"
                    data-coreui-selection-type="counter"
                    data-coreui-search="true"
                    data-coreui-placeholder="@Html.SmartLocalize("Select Department")...">
            </select>
        </div>

        <div class="col-md employee">
            <label class="form-label" asp-for="EmployeeIDs">@Html.SmartLocalize("Employee Name")</label>
            <select class="form-multi-select"
                    asp-for="EmployeeIDs"
                    multiple data-coreui-multiple="true"
                    data-coreui-selection-type="counter"
                    data-coreui-search="true"
                    data-coreui-placeholder="@Html.SmartLocalize("Select Employee")...">
                @foreach (var group in employees.GroupBy(e => e.GroupName))
                {
                    <optgroup label="@group.Key">
                        @foreach (var emp in group)
                        {
                            <option value="@emp.Id">@emp.Name</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md">
            <label class="form-label" asp-for="ShiftID">@Html.SmartLocalize("Shift Name")</label>
            <select class="form-select" asp-items="@ViewBag.ShiftDD as SelectList" asp-for="ShiftID">
                <option value="">@Html.SmartLocalize("Select Shift")...</option>
            </select>
        </div>

        <div class="col-md">
            <label class="form-label" asp-for="StartDate">@Html.SmartLocalize("Start Date")</label>
            <input class="form-control datetimepicker" asp-for="StartDate" type="text" placeholder="DD/MM/YYYY" data-options='{"altInput": true, "altFormat": "d/m/Y", "dateFormat": "Y-m-d", "monthSelectorType": "dropdown", "disableMobile": true}' />
        </div>

        <div class="col-md">
            <label class="form-label" asp-for="EndDate">@Html.SmartLocalize("End Date")</label>
            <input class="form-control datetimepicker" asp-for="EndDate" type="text" placeholder="DD/MM/YYYY" data-options='{"altInput": true, "altFormat": "d/m/Y", "dateFormat": "Y-m-d", "monthSelectorType": "dropdown", "disableMobile": true}' />
        </div>

        @* <input type="text" id="basic-daterange" class="form-control date-input" placeholder="d/m/y to d/m/y" readonly>
            <input type="hidden" asp-for="StartDate" name="StartDate" />
            <input type="hidden" asp-for="EndDate" name="EndDate" /> *@
    </div>
    <div class="col-12">
        <div class="row g-3 justify-content-end">
            <div class="col-auto">
                <button type="reset" class="btn btn-phoenix-primary px-5" id="rosterInOfficeDays-resetBtn">@Html.SmartLocalize("Reset")</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary px-5 px-sm-10" id="rosterInOfficeDays-saveBtn">@Html.SmartLocalize("Save")</button>
            </div>
        </div>
    </div>
</form>
@* data-coreui-cleaner="true|false" — Show or hide the “clear selection” button
data-coreui-disabled="true|false" — Enable or disable the dropdown
data-coreui-invalid="true|false" — Apply invalid state styling
data-coreui-multiple="true|false" — Allow single or multi-select
data-coreui-name="string" — Set form name attribute
data-coreui-options-max-height="[value]" — Max‑height of dropdown (e.g., 200px)
data-coreui-options-style="checkbox|text" — Display checkboxes or plain text lists
data-coreui-placeholder="string" — Input placeholder, e.g. "Select..."
data-coreui-search="true|false" — Enable search/filter input
data-coreui-search-no-results-label="string" — Customize “no results” message
data-coreui-select-all="true|false" — Show or hide a “Select All” option
data-coreui-select-all-label="string" — Set custom label for “Select All”
data-coreui-selection-type="tag|counter|text" — Display selected items as tags, counter, or comma‑separated text
data-coreui-selection-type-counter-text="string" — Change counter text, e.g. "items selected"
data-coreui-valid="true|false" — Apply valid state styling *@