@model GCTL.Core.ViewModels.MenuTab.MenuTabVM

<div class="card h-100">
    <div class="card-header border-bottom-1">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <h3 class="text-body-emphasis mt-3">@Html.SmartLocalize("Add Menu Tab")</h3>
            </div>
        </div>
    </div>

    <div class="card-body mt-2">
        <form asp-action="Create" asp-controller="MenuTabs" method="post" enctype="multipart/form-data" id="menuTab-form">
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <input type="hidden" asp-for="MenuTabId" />
                    <div class="flatpickr-input-container">
                        <div class="form-floating">
                            <input class="form-control form-control-sm" asp-for="Title" type="text" placeholder="@Html.SmartLocalize("Title")" tabindex="1" />
                            <label asp-for="Title">@Html.SmartLocalize("Title")<span style="color: red;">*</span></label>
                        </div>
                        <span asp-validation-for="Title" class="text-danger"></span>
                        <span id="nameError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>

                <div class="col-sm-6 mb-2">
                    <div class="flatpickr-input-container">
                        <div class="form-floating form-floating-advance-select mb-2">
                            <label asp-for="Type">@Html.SmartLocalize("Type")<span style="color: red;">*</span></label>
                            <select asp-for="Type" class="form-select" tabindex="2">
                                <option value="">@Html.SmartLocalize("Select Type")</option>
                                <option value="Primary">@Html.SmartLocalize("Primary")</option>
                                <option value="Secondary">@Html.SmartLocalize("Secondary")</option>
                                <option value="Tertiary">@Html.SmartLocalize("Tertiary")</option>
                            </select>
                        </div>
                        <span asp-validation-for="Type" class="text-danger"></span>
                        <span id="nameError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="flatpickr-input-container">
                        <div class="form-floating">
                            <input class="form-control" asp-for="ParentId" type="number" placeholder="@Html.SmartLocalize("Parent Id")" tabindex="3" />
                            <label asp-for="ParentId">@Html.SmartLocalize("Parent Id")</label>
                        </div>
                        <span asp-validation-for="ParentId" class="text-danger"></span>
                        <span id="nameError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>

                <div class="col-sm-6 mb-2">
                    <div class="flatpickr-input-container">
                        <div class="form-floating">
                            <input class="form-control" asp-for="OrderBy" type="number" placeholder="@Html.SmartLocalize("Order By")" tabindex="4" />
                            <label asp-for="OrderBy">@Html.SmartLocalize("Order By")</label>
                        </div>
                        <span asp-validation-for="OrderBy" class="text-danger"></span>
                        <span id="nameError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="flatpickr-input-container">
                        <div class="form-floating">
                            <input class="form-control" asp-for="ControllerName" type="text" placeholder="@Html.SmartLocalize("Controller Name")" tabindex="5" />
                            <label asp-for="ControllerName">@Html.SmartLocalize("Controller Name")</label>
                        </div>
                        <span asp-validation-for="ControllerName" class="text-danger"></span>
                        <span id="nameError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>

                <div class="col-sm-6 mb-2">
                    <div class="flatpickr-input-container">
                        <div class="form-floating">
                            <input class="form-control bg-default" asp-for="ViewName" type="text" placeholder="@Html.SmartLocalize("View Name")" disabled />
                            <label asp-for="ViewName">@Html.SmartLocalize("View Name")</label>
                        </div>
                        <span asp-validation-for="ViewName" class="text-danger"></span>
                        <span id="nameError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="flatpickr-input-container">
                        <div class="form-floating">
                            <input class="form-control" asp-for="Icon" type="text" placeholder="@Html.SmartLocalize("Icon")" tabindex="6" />
                            <label asp-for="Icon">@Html.SmartLocalize("Icon")</label>
                        </div>
                        <span asp-validation-for="Icon" class="text-danger"></span>
                        <span id="nameError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>

                <div class="col-sm-6 mb-2">
                    <div class="form-group">
                        <input class="form-check" asp-for="IsActive" type="checkbox" tabindex="7" />
                        <label asp-for="IsActive">@Html.SmartLocalize("Is Active")</label>
                    </div>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <span id="nameError" class="text-danger" style="display:none;"></span>
                </div>
            </div>

            <div class="col-12 mb-2">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <button type="reset" class="btn btn-phoenix-primary px-5" id="menuTab-resetBtn" tabindex="8">@Html.SmartLocalize("Reset")</button>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary px-5 px-sm-15" id="menuTab-saveBtn" tabindex="9">@Html.SmartLocalize("Save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
