@model GCTL.Core.ViewModels.AttendanceManagement.AttendenceReportAlls.AttendanceEmployeeReportVM 
@{
    var departments = ViewBag.DepartmentDD as List<GCTL.Core.ViewModels.CommonSelectVM>;
    var employees = ViewBag.EmployeeList as List<GCTL.Core.ViewModels.CommonSelectVM>;
   
}
<!-- Search Information -->
<div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">

    <h4 class="mb-1">Employees List</h4>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
        <div class="dropdown me-3">
            <select class="form-select choiceDD" asp-items="@ViewBag.OrganizationDD as SelectList" id="organizationid" name="OrganizationID">
                <option value="">Select Company</option>
            </select>
        </div>
        <div class="dropdown me-2">
            <select class="form-multi-select" asp-for="DepartmentIDs"
                    multiple data-coreui-selection-type="counter"
                    data-coreui-placeholder="@Html.SmartLocalize("Select Department")..."
                    data-coreui-search="true">
                @foreach (var group in departments.GroupBy(e => e.GroupName))
                {
                    <optgroup label="@group.Key">
                        @foreach (var emp in group)
                        {
                            <option value="@emp.Id">@emp.Name</option>
                        }
                    </optgroup>
                }
            </select>
        </div>


        <div class="dropdown me-2">
            <select class="form-multi-select" asp-for="EmployeeIDs"
                    multiple data-coreui-selection-type="counter"
                    data-coreui-placeholder="@Html.SmartLocalize("Select Employee")..."
                    data-coreui-search="true">
                @foreach (var group in employees.GroupBy(e => e.GroupName))
                {
                    <optgroup label="@group.Key">
                        @foreach (var emp in group)
                        {
                            <option value="@emp.Id">@emp.Name</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
        <div class="dropdown">
            <button class="btn btn-phoenix-secondary rounded-3 me-1 mb-1" type="button">
                <span class="fas fa-print me-2" data-fa-transform="shrink-3"></span>Print
            </button>
        </div>
    </div>
</div>

<!-- All Employee Daily Attendance Report -->
<div class="border-translucent p-3">
    <div id="allEmployeeDailyAttendanceTable">

        <div class="table-responsive ms-n1 ps-1 scrollbar">
            <table class="table fs-9 mb-0 border-top border-translucent">
                <thead>
                    <tr>

                        <th class="text-center text-middle align-middle ps-0" scope="col" style="width: 10%;">@Html.SmartLocalize("Sl. No")</th>
                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="EmployeeName">@Html.SmartLocalize("Date")</th>
                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="Status">@Html.SmartLocalize("Status")</th>
                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="CheckIn">@Html.SmartLocalize("Check In")</th>
                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="CheckOut">@Html.SmartLocalize("Check Out")</th>
                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="Brake">@Html.SmartLocalize("Brake")</th>
                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="Late">@Html.SmartLocalize("Late")</th>
                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="Production">@Html.SmartLocalize("Production")</th>

                    </tr>
                </thead>
                <tbody id="empAttendencindividual-tBody">
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
            <div class="d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="empAttendencindividual-paginationInfo"></p>
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
            </div>
            <div class="d-flex">
                <button class="page-link" data-list-pagination="prev" id="empAttendencindividual-prevPageBtn"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination" id="empAttendencindividual-paginationLinks"></ul>
                <button class="page-link pe-0" data-list-pagination="next" id="empAttendencindividual-nextPageBtn"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>

    </div>
</div>