@model GCTL.Core.ViewModels.Finance.AddJournalVM.CreateAddJournalVM

@{
    ViewData["Title"] = @Html.SmartLocalize("New Journal");
    // var mainAccDD = ViewBag.MainAccDD as List<GCTL.Core.ViewModels.CommonSelectVM>;
}

@section Styles {
    <style>

    </style>
}

<div class="card">
    <div class="card-header">
        <h4>@Html.SmartLocalize("New Journal")</h4>
    </div>

    <div class="card-body">
        <form asp-controller="AddJournal" asp-action="Create" method="post" enctype="multipart/form-data" id="addJournals-form">
            <div class="row">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="JournalID" />

                <div class="col-md-4">
                    <div class="mb-2">
                        <label class="form-label" asp-for="JournalCode">@Html.SmartLocalize("Journal Id")<span style="color:red;">*&nbsp;</span></label>
                        <input class="form-control bg-light" asp-for="JournalCode" type="text" readonly />
                        <span asp-validation-for="JournalCode" id="JournalCodeError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-2">
                        <label class="form-label" asp-for="JournalTypeID">@Html.SmartLocalize("Journal Type")<span style="color:red;">*&nbsp;</span></label>
                        <select class="form-select" asp-for="JournalTypeID" asp-items="@ViewBag.JournalTypeDD as SelectList">
                            <option value="">@Html.SmartLocalize("Select Journal Type")</option>
                        </select>
                        <span asp-validation-for="JournalTypeID" id="JournalTypeIDError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-2">
                        <label class="form-label" asp-for="PostingRuleID">@Html.SmartLocalize("Scenario Type")<span style="color:red;">*&nbsp;</span></label>
                        <select class="form-select" asp-for="PostingRuleID" asp-items="@ViewBag.ScenarioTypeDD as SelectList">
                            <option value="">@Html.SmartLocalize("Select Scenario Type")</option>
                        </select>
                        <span asp-validation-for="PostingRuleID" id="PostingRuleIDError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>

                <div class="row d-none" id="correctionJournalDiv">
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" for="">Reference Party(Customer/Supplier)</label>
                            <div class="d-flex">
                                <select class="form-select " id="">
                                    <option>Select Class Type</option>
                                    <option value="" selected>Customer</option>
                                    <option value="">Supplier</option>
                                    <option value="">Employee</option>
                                </select>
                                <select class="form-select " id="">
                                    <option>Select Class Type</option>
                                    <option value="" selected>Customer A</option>
                                    <option value="">Customer B</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" for="">Reference Documents(PO/Invoice)</label>
                            <div class="d-flex">
                                <select class="form-select " id="">
                                    <option>Select Class Type</option>
                                    <option value="" selected>PO</option>
                                    <option value="">Invoice</option>
                                </select>
                                <select class="form-select " id="">
                                    <option>Select PO Type</option>
                                    <option value="" selected>Purchase Order</option>
                                    <option value="">Sales Order</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                                
                <div class="col-md-6">
                    <div class="mb-2">
                        <label class="form-label" asp-for="FinancialYearID">@Html.SmartLocalize("Transaction Year")<span style="color:red;">*&nbsp;</span></label>
                        <select class="form-select" asp-for="FinancialYearID" asp-items="@ViewBag.FinancialYearDD as SelectList">
                            <option value="">@Html.SmartLocalize("Select Transaction Year")</option>
                        </select>
                        <span asp-validation-for="FinancialYearID" id="FinancialYearIDError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-2">
                        <label class="form-label" asp-for="JournalDate">@Html.SmartLocalize("Date")<span style="color:red;">*&nbsp;</span></label>
                        <input class="form-control datetimepicker" asp-for="JournalDate" type="text" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="JournalDate" id="JournalDateError" class="text-danger" style="display:none;"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="mb-2">
                        <label class="form-label" asp-for="Note">Note</label>
                        <textarea class="form-control" asp-for="Note" rows="2" placeholder="Note"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 mt-3">
                <table class="table  table-responsive scrollbar fs-9">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15%;">@Html.SmartLocalize("Main Account")</th>
                            <th scope="col" style="width: 20%;">@Html.SmartLocalize("Sub Account")</th>
                            <th scope="col" style="width: 20%;">@Html.SmartLocalize("Transaction Account")</th>
                            <th scope="col" style="width: 10%;">@Html.SmartLocalize("Transaction Type")</th>
                            <th scope="col" style="width: 20%;">@Html.SmartLocalize("Description")</th>
                            <th scope="col" style="width: 10%;">@Html.SmartLocalize("Amount")</th>
                            <th scope="col" style="width: 5%;">@Html.SmartLocalize("Action")</th>
                        </tr>
                    </thead>
                    <tbody id="journalDetails-TBody">
                        @for (int i = 0;  i < Model.CreateJournalDetailsVMs.Count; i++)
                        {
                            <tr class="CreateJournalDetailsVMs">
                                <input type="hidden" asp-for="CreateJournalDetailsVMs[@i].JournalDetailID" class="JournalDetailID" />
                                <td>
                                    @* <select class="form-select mainAccDD" asp-for="CreateJournalDetailsVMs[@i].MainAccountID">
                                        <option value="">@Html.SmartLocalize("Select")...</option>
                                        @foreach (var group in mainAccDD.GroupBy(e => e.GroupName))
                                        {
                                            <optgroup label="@group.Key">
                                                @foreach (var emp in group)
                                                {
                                                    <option value="@emp.Id">@emp.Name</option>
                                                }
                                            </optgroup>
                                        }
                                    </select> *@
                                    <select class="form-select mainAccDD" asp-for="CreateJournalDetailsVMs[@i].MainAccountID">
                                        <option value="">@Html.SmartLocalize("Select")...</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select subAccDD" asp-for="CreateJournalDetailsVMs[@i].SubAccountID">
                                        <option value="">@Html.SmartLocalize("Select")...</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select trxAccDD" asp-for="CreateJournalDetailsVMs[@i].TransactionAccountID">
                                        <option value="">@Html.SmartLocalize("Select")...</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select initDrCr" asp-for="CreateJournalDetailsVMs[@i].TrxType">
                                        <option value="">@Html.SmartLocalize("Select")...</option>
                                        <option value="D">Debit</option>
                                        <option value="C">Credit</option>
                                    </select>
                                    <span id="DebitError" class="text-danger" style="display:none;"></span>
                                </td>
                                <td>
                                    <textarea class="form-control bg-transparent description" asp-for="CreateJournalDetailsVMs[@i].Description" rows="2"> </textarea>
                                </td>
                                <td>
                                    <input class="form-control bg-transparent amount" asp-for="CreateJournalDetailsVMs[@i].Amount" />
                                    <span id="AmountError" class="text-danger" style="display:none;"></span>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <a href="#!" class="btn btn-outline-light btn-icon me-2 detailsRemoveRowBtn" id="detailsDelBtn">
                                            <i class="far fa-trash-alt text-black"></i>
                                        </a>
                                        @if (i == Model.CreateJournalDetailsVMs.Count - 1)
                                        {
                                            <button class="btn btn-outline-light btn-icon detailsAddRowBtn" id="detailsAddBtn">
                                                <i class="fa-regular fa-square-plus text-black"></i>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- Summary Section -->
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label fw-bold">
                            Attachments
                        </label>
                        <div class="input-group mb-2">
                            <input type="file" class="form-control" asp-for="FileLink">
                        </div>
                        <small class="text-muted">You can upload a maximum of 5 files, 10MB each</small>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="col-md-6 bg-body p-3">
                        <div class="row  p-3 fs-7">
                            <div class="col-md-6">Total Debit Amount</div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3" id="totalDebitAmount"></div>
                        </div>
                        <div class="row  p-3 fs-7">
                            <div class="col-md-6">Total Credit Amount</div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3" id="totalCreditAmount"></div>
                        </div>
                        <div class="row  p-3 text-danger notResetDanger">
                            <div class="col-md-6">Difference</div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3" id="creditAmountDifference"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-2 mt-3">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <button type="reset" class="btn btn-phoenix-primary px-5" id="addJournals-resetBtn">@Html.SmartLocalize("Reset")</button>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary px-5 px-sm-15" id="addJournals-saveBtn">@Html.SmartLocalize("Save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_Table" />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/pages/finance/addjournal.js"></script>
    <script>
        $(function () {
            $.addjournal({
                baseUrl: '@Url.Action("", "AddJournal")'
            });
        });
    </script>
}