@{
    ViewData["Title"] = @Html.SmartLocalize("New Journal");
}

@section Styles {
    <style>
        .no-border-input {
            border: 1px solid #f3f7fc !important;
            box-shadow: none !important;
            transition: border-color 0.15s ease, box-shadow 0.15s ease;
            outline: none;
        }

            .no-border-input:hover,
            .no-border-input:focus {
                border-color: #a6b1c1 !important;
                box-shadow: none !important;
            }

        .form-select {
            border-color: #eef5fa;
        }

            .form-select:hover {
                border-color: #a6b1c1;
            }

    </style>
}

<div class="p-3 bg-white">
    <div class="border-bottom">
        <h4>New Journal</h4>
    </div>

    <div class="tab-content">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="form-label" for="">Journal Id</label>
                        <input class="form-control no-border-input " id="" type="text" placeholder="32" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="form-label" for="">Journal Type</label>
                        <select class="form-select " id="JournalTypeID">
                            <option>Select Journal Type</option>
                            <option value="1" selected>Regular Journal</option>
                            <option value="2">Correction Journal</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="form-label" for="">Scenario Type</label>
                        <select class="form-select " id="journalType1">
                            <option selected>Select Scenario Type</option>
                            <option value="">Cash Sale (Direct)</option>
                            <option value="">Bank Sale (Transfer)</option>
                            <option value="">Credit Sale</option>
                            <option value="">Customer Receipt – Cash</option>
                        </select>
                    </div>
                </div>

                <div class="row d-none" id="correctionJournalDiv">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="">Reference Party(Customer/Supplier)</label>
                            <div class="d-flex">
                                <select class="form-select " id="">
                                    <option>Select Class Type</option>
                                    <option value="" selected>Customer</option>
                                    <option value="">Supplier</option>
                                    <option value="">Employee</option>
                                </select>
                                <select class="form-select " id="">
                                    <option>Select Class Type</option>
                                    <option value="" selected>Customer A</option>
                                    <option value="">Customer B</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="">Reference Documents(PO/Invoice)</label>
                            <div class="d-flex">
                                <select class="form-select " id="">
                                    <option>Select Class Type</option>
                                    <option value="" selected>PO</option>
                                    <option value="">Invoice</option>
                                </select>
                                <select class="form-select " id="">
                                    <option>Select PO Type</option>
                                    <option value="" selected>Purchase Order</option>
                                    <option value="">Sales Order</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                                
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="">Transaction Year</label>
                        <select class="form-select ">
                            <option selected>Select Transaction Year</option>
                            <option value="1">2025-2026</option>
                            <option value="2">2026 -2027</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="">Date</label>
                        <input class="form-control no-border-input  datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="form-label" for="">Note</label>
                        <textarea class="form-control " id="exampleTextarea" rows="2" placeholder="Note"> </textarea>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-xl-12 mt-3">
            <table class="table  table-responsive scrollbar fs-9">
                <thead>
                    <tr>
                        <th scope="col" style="width: 15%;">@Html.SmartLocalize("Main Account")</th>
                        <th scope="col" style="width: 20%;">@Html.SmartLocalize("Sub Account")</th>
                        <th scope="col" style="width: 20%;">@Html.SmartLocalize("Transaction Account")</th>
                        <th scope="col" style="width: 20%;">@Html.SmartLocalize("Description")</th>
                        <th scope="col" style="width: 10%;">@Html.SmartLocalize("Debit")</th>
                        <th scope="col" style="width: 10%;">@Html.SmartLocalize("Credit")</th>
                        <th scope="col" style="width: 5%;">@Html.SmartLocalize("Action")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="form-select initChoices mainAccDD">
                                <option value="">@Html.SmartLocalize("Select Main Account")...</option>
                            </select>
                            <span id="MainAccountIDError" class="text-danger" style="display:none;"></span>
                        </td>
                        <td>
                            <select class="form-select initChoices mainAccDD">
                                <option value="">@Html.SmartLocalize("Select Sub Account")...</option>
                            </select>
                            <span id="MainAccountIDError" class="text-danger" style="display:none;"></span>
                        </td>
                        <td>
                            <select class="form-select initChoices mainAccDD">
                                <option value="">@Html.SmartLocalize("Select Transaction Account")...</option>
                            </select>
                            <span id="MainAccountIDError" class="text-danger" style="display:none;"></span>
                        </td>
                        <td>
                            <textarea class="form-control no-border-input bg-transparent" id="" rows="2"> </textarea>
                        </td>
                        <td>
                            <input class="form-control no-border-input bg-transparent" id="" type="text" placeholder="" />
                        </td>
                        <td>
                            <input class="form-control no-border-input bg-transparent" id="" type="text" placeholder="" />
                        </td>
                        <td>
                            <button class="btn btn-outline-light btn-icon" id="detailsAddBtn">
                                <i class="fa-regular fa-square-plus"></i>
                            </button>
                            <a href="#!" class="btn btn-outline-light btn-icon postingRules-single-deleteBtn" id="detailsDelBtn">
                                <i class="far fa-trash-alt text-black"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>



            <!-- Summary Section -->
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label fw-bold">
                        Attachments
                    </label>
                    <div class="input-group mb-2">
                        <input type="file" class="form-control">
                    </div>
                    <small class="text-muted">You can upload a maximum of 5 files, 10MB each</small>
                </div>

                <div cite="col-md-2">

                </div>

                <div class="col-md-6 bg-body p-3">
                    <div class="row  p-3 fs-7">
                        <div class="col-md-6">Total (BDT)</div>
                        <div class="col-md-3">0.00</div>
                        <div class="col-md-3">0.00</div>
                    </div>
                    <div class="row  p-3 text-danger">
                        <div class="col-md-6">Difference</div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">0.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/pages/finance/addjournal.js"></script>
    <script>
        $(function () {
            $.addjournal({
                baseUrl: '@Url.Action("", "AddJournal")'
            });
        });
    </script>
}