@using GCTL.Core.ViewModels.CRM
@model CustomerInfoVM

<style>
    .option-btn.active {
        background-color: #0d6efd; /* Bootstrap primary */
        color: white;
        border-color: #0d6efd;
    }

    #activity-list {
        height: 560px; /* adjust to your desired height */
        overflow-y: auto;
        scrollbar-width: none;
        margin-top: 22px;
    }

    #upcoming-activity {
        height: 360px; /* adjust to your desired height */
        overflow-y: auto;
        scrollbar-width: none;
    }

        #activity-list::-webkit-scrollbar {
            display: none;
        }
        </style>
    <div class="pb-1">
        <div class="row align-items-center justify-content-between g-3">
            <div class="col-12 col-md-auto">
                <h2 class="mb-0">Lead Details</h2>
            </div>
            <div class="col-12 col-md-auto d-flex">
                <button class="btn btn-phoenix-secondary px-3 px-sm-5 me-2" data-bs-toggle="modal" data-bs-target="#editDealModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-edit me-sm-2"></span><span class="d-none d-sm-inline">Edit		</span></button>
                <button class="btn btn-phoenix-danger me-2"><span class="fa-solid fa-trash me-2"></span><span>Delete Deal</span></button>
                <div>
                    <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                    <ul class="dropdown-menu dropdown-menu-end p-0" style="z-index: 9999;">
                        <li><a class="dropdown-item" href="#!">View profile</a></li>
                        <li><a class="dropdown-item" href="#!">Report</a></li>
                        <li><a class="dropdown-item" href="#!">Manage notifications</a></li>
                        <li><a class="dropdown-item text-danger" href="#!">Delete Lead</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row g-4 g-xl-6">
            <div class="col-xl-5 col-xxl-4">
                <div class="sticky-leads-sidebar">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row align-items-center g-3">
                                <div class="col-12 col-sm-auto flex-1">
                                    <h3 class="fw-bolder mb-2 line-clamp-1">@Model.LeadName</h3>
                                    <div class="d-md-flex d-xl-block align-items-center justify-content-between mb-2">
                                        <div class="d-flex align-items-center mb-3 mb-md-0 mb-xl-3">
                                            <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="../../assets/img/team/72x72/58.webp" alt="" /></div>
                                            <div>
                                            <h5>@Model.FullName</h5>
                                                <div class="dropdown">
                                                    <a class="text-body-secondary dropdown-toggle text-decoration-none dropdown-caret-none" href="#!" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Owner<span class="fa-solid fa-caret-down text-body-secondary fs-9 ms-2"></span>
                                                    </a>
                                                    <div class="dropdown-menu shadow-sm" style="min-width:20rem">
                                                        <div class="card position-relative border-0">
                                                            <div class="card-body p-0">
                                                                <div class="mx-3">
                                                                    <h4 class="mb-3 fw-bold">Switch ownership</h4>
                                                                    <h5 class="mb-3">Deal Owner</h5>
                                                                    <select class="form-select mb-3" aria-label="Default select">
                                                                        <option selected="selected">Select</option>
                                                                        <option value="1">Jerry Seinfield</option>
                                                                        <option value="2">Anthoney Michael</option>
                                                                        <option value="3">Ansolo Lazinatov</option>
                                                                    </select>
                                                                    <div class="text-end">
                                                                        <button class="btn btn-link text-danger" type="button">Cancel</button>
                                                                        <button class="btn btn-sm btn-primary px-5" type="button">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="badge badge-phoenix badge-phoenix-success me-2">Success 68%</span>
                                            <span class="badge badge-phoenix badge-phoenix-danger me-2">Lost 12%</span>
                                            <span class="badge badge-phoenix badge-phoenix-secondary">Cancel 20%</span>
                                        </div>
                                    </div>
                                    <div class="progress mb-2 px-3 bg-white" style="height:25px">
                                    <input class="form-range" id="customRange1" value="@Model.Probability" type="range" />
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0"> Probability</p>
                                        <div><span class="d-inline-block lh-sm me-1" data-feather="clock" style="height:16px;width:16px;"></span><span class="d-inline-block lh-sm"> @Model.Created</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-2">Custommer Information</h4> 
                            <table>

                            <tr class="text-center align-middle">
                                <td class="d-flex align-items-center my-2">
                                    <div class="d-flex bg-success-subtle rounded-circle flex-center me-2" style="width:26px; height:26px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="text-success-dark" data-feather="users">
                                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="9" cy="7" r="4"></circle>
                                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                        </svg>
                                    </div>
                                    <span class="fw-bold">Contact Name</span>
                                </td>

                                <td class="align-middle text-center px-2">:</td>

                                <td class="align-middle text-start">
                                    <span>@Model.FullName</span>
                                </td>
                            </tr>
                            <tr class="text-center align-middle">
                                <td class="d-flex align-items-center my-2">
                                    <div class="d-flex bg-primary-subtle rounded-circle flex-center me-2" style="width:26px; height:26px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="text-success-dark" data-feather="phone">
                                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="9" cy="7" r="4"></circle>
                                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                        </svg>
                                    </div>
                                    <span class="fw-bold">Phone</span>
                                </td>

                                <td class="align-middle text-center px-2">:</td>

                                <td class="align-middle text-start">
                                    <span>@Model.Phone</span>
                                </td>
                            </tr>
                            <tr class="text-center align-middle">
                                <td class="d-flex align-items-center my-2">
                                    <div class="d-flex bg-secondary-subtle rounded-circle flex-center me-2" style="width:26px; height:26px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="text-success-dark" data-feather="mail">
                                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="9" cy="7" r="4"></circle>
                                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                        </svg>
                                    </div>
                                    <span class="fw-bold">Email</span>
                                </td>

                                <td class="align-middle text-center px-2">:</td>

                                <td class="align-middle text-start">
                                    <span>@Model.Email</span>
                                </td>
                            </tr>
                            <tr class="text-center align-middle">
                                <td class="d-flex align-items-center my-2">
                                    <div class="d-flex bg-primary-subtle rounded-circle flex-center me-2" style="width:26px; height:26px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="text-success-dark" data-feather="clock">
                                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="9" cy="7" r="4"></circle>
                                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                        </svg>
                                    </div>
                                    <span class="fw-bold">Create Date</span>
                                </td>

                                <td class="align-middle text-center px-2">:</td>

                                <td class="align-middle text-start">
                                    <span>@Model.Created</span>
                                </td>
                            </tr>
                            <tr class="text-center align-middle">
                                <td class="d-flex align-items-center my-2">
                                    <div class="d-flex bg-warning-subtle rounded-circle flex-center me-2" style="width:26px; height:26px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="text-success-dark" data-feather="clock">
                                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="9" cy="7" r="4"></circle>
                                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                        </svg>
                                    </div>
                                    <span class="fw-bold">Closing Date</span>
                                </td>

                                <td class="align-middle text-center px-2">:</td>

                                <td class="align-middle text-start">
                                    <span>12/01/2025</span>
                                </td>
                            </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-xxl-8">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="row g-4 g-xl-1 g-xxl-3 justify-content-between">
                            <div class="col-md-4">
                                <label for="form-control">Lead Source</label>
                            <select class="form-select mb-3" id="leadSource" asp-items="@ViewBag.LeadSourceDD as SelectList" required>
                                    <option value="" disabled>select</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label for="form-control">Priority</label>
                                <select class="form-select mb-3" id="organizerSingle2" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="low">Low</option>
                                    <option value="high">High</option>
                                    <option value="medium">Medium</option>
                                    <option value="urgent">Urgent</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="form-control">Stage</label>
                            <select class="form-select mb-3" id="organizerSingle2" asp-items="@ViewBag.LeadStatus as SelectList">
                                    <option value="" disabled selected>Select Staus</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card mb-5">
                    <div class="card-body">
                        <div class="mb-4" id="optionBtnDiv">
                        @foreach (var item in ViewBag.LeadActivityTypes)
                        {
                            <button class="btn btn-phoenix-secondary me-1 mb-1 option-btn"
                                    type="button"
                                    data-id="@item.LeadActivityTypeID">
                                <span class="fs-7 mb-2 fa-solid @item.LeadActivityIcon me-2 tab-icon-color"></span>
                                <br>@item.LeadActivityName
                            </button>
                        }

                        </div> 

                        <div class="col-md-12">
                            <div class="mb-1">
                                <div class="row g-3">
                                    <div class="col-6">
                                        <label class="text-body-highlight fw-bold mb-2">Set Date and Time</label>
                                        <div class="input-group mb-3">
                                        <input class="form-control datetimepicker" id="lDetailsDate" type="text" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
                                            <span class="input-group-text " id="basic-addon2">
                                                <span class="fs-7 fa-solid far fa-calendar me-2 tab-icon-color"></span>
                                            </span>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    <div class="mb-1" id="file-field" style="display:none;">
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="text-body-highlight fw-bold mb-2">File</label>
                                <div class="mb-3">
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                            </div>
                        </div>
                    </div>

       

                        <input type="number" id="leadID" value="@Model.LeadID" hidden/>



                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="text-body-highlight mb-2">Note </label>
                                <textarea class="form-control" id="lDetailsText" rows="3"> </textarea>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">

                            <button type="submit" id="addLDetails" class="btn btn-primary">Add Activity</button>

                            <div>
                                <button type="submit" data-bs-toggle="modal" data-bs-target="#wonCentered" class="btn btn-phoenix-secondary rounded-pill">
                                    <span class="fs-7 fa-solid far fa-grin me-2 tab-icon-color"></span> Won
                                </button>
                                <button type="submit" data-bs-toggle="modal" data-bs-target="#lossCentered" class="btn btn-phoenix-secondary rounded-pill">
                                    <span class="fs-7 fa-solid far fa-frown-open me-2 tab-icon-color"></span> Loss
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mt-3 p-1">
                <h4 class="pt-3 px-2 pb-2 border-bottom">Upcomming  Activities</h4>

                   <div id="upcoming-activity">

                   </div>

                </div>

                <ul class="nav nav-underline fs-9 deal-details scrollbar d-flex justify-content-center w-100 pb-1 mb-6 mt-3" id="myTab" role="tablist" style="overflow-y: hidden;">
                    <li class="nav-item text-nowrap me-2" role="presentation"><a class="nav-link active" id="activity-tab"> <span class="fa-solid fa-chart-line me-2 tab-icon-color"></span>All Activity</a></li>
                    @foreach (var item in ViewBag.LeadActivityTypes)
                    {
                        var safeName = item.LeadActivityName.Replace(" ", "-");

                        <li class="nav-item text-nowrap me-2" role="presentation"><a class="nav-link" id="@safeName-tab"> <span class="fa-solid @item.LeadActivityIcon me-2 tab-icon-color"></span>@item.LeadActivityName</a></li>
                    }
                </ul>
                    <h2 class="mb-4"></h2>
                    <div class="row align-items-center g-3 justify-content-between justify-content-start">
                        <div class="col-12 col-sm-auto">
                            <div class="search-box mb-2 mb-sm-0">
                                <form class="position-relative">
                                    <input class="form-control search-input search ms-1" id="search-activity" type="search" placeholder="Search Activity" aria-label="Search" />
                                    <span class="fas fa-search search-box-icon"></span>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="activity-list" class="activity-site"></div>
                    </div>
                </div>
    </div>
@section Scripts {
    <script src="~/js/pages/CRM/lead_details.js"></script>
}