@model GCTL.Core.ViewModels.RequisitionDistribution.Purchase.CreatePO.PurchaseOrderViewModel

@{
    var bankAccList = ViewBag.BankAccDD as List<GCTL.Core.ViewModels.CommonSelectVM>;
}

<div class="row mb-4 mt-3 bg-body-emphasis rounded">
    <div class="row col-xl-12 ">
        <p2 class="mb-1 fw-bold fs-7">Create Purchase Order</p2>
        <p2 class="mb-2 fw-lighter fs-9">Billing details appear in your invoice. Invoice Date is used in the dashboard and reports. Select the date you expect to get paid as the Due Date. </p2>
        <div class="border-bottom border-2"></div>
    </div>
    <div class="row mb-3">
        <div class="col-xl-12">
            <form id="purchaseOrderForm">

                <div class="row justify-content-between">
                    <div class="col-xl-5">
                        <div class="mt-2">


                            <div class="d-flex gap-3">
                                <div class="col-md-6">
                                    <!-- Add Vendor Button -->
                                    <button type="button" class="btn border border-github py-5 px-10 mt-4" id="showUserSearchBtn" onclick="toggleVendorDropdown()">
                                        <i class="fa fa-user fs-3 mb-2" aria-hidden="true"></i>
                                        <p>+ Add Vendor</p>
                                    </button>
                                    <select id="vendorSelect" class="form-control mt-4" style="display: none;" onchange="selectVendorFromDropdown()">
                                        <option value="">Select Vendor</option>
                                        <option value="add_new_vendor">+ Add New Vendor</option>

                                        <!-- Vendors will be populated here by JavaScript -->
                                    </select>

                                    @*<button type="button" class="btn btn-sm btn-outline-primary mt-2" onclick="showAddVendorModal()">+ Add New Vendor</button>*@

                                    <div id="userInfo" class="card mb-3" style="display: none;">
                                        <div class="card-body">
                                            <h5 class="card-title">Billing Information</h5>
                                            <p class="mb-1 fs-9" id="billTo"></p>
                                            <p class="mb-1 fs-9" id="billAddress"></p>
                                            <p class="mb-1 fs-9 d-none" id="billTax"></p>
                                            <p class="mb-1 fs-9" id="billPhone"></p>
                                            <p class="mb-1 fs-9" id="billEmail"></p>
                                            @*<div class="form-check mt-3">
                                                    <input class="form-check-input" type="checkbox" id="shippingCheckbox" onchange="toggleShippingSection()">
                                                    <label class="form-check-label fs-9" for="shippingCheckbox">Shipping address different from Billing address</label>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn border border-github py-5 px-10 mt-4" id="showShippingSearchBtn" style="display: none;" onclick="toggleShippingDropdown()">
                                        <i class="fa fa-user fs-3 mb-2" aria-hidden="true"></i>
                                        <p>+ Add shipping address</p>
                                    </button>
                                    <select id="shippingSelect" class="form-control mt-4" onchange="selectShippingFromDropdown()">
                                        @* style="display: none;">*@
                                        <option value="">Select Shipping Address</option>
                                        @*<option value="add_new_shipping">+ Add New Shipping Address</option>*@

                                    </select>

                                    @*<button type="button" class="btn btn-sm btn-outline-primary mt-2" onclick="showAddShippingModal()">+ Add New Shipping Address</button>*@

                                    <div id="shipingInfo" class="card" style="display: none;">
                                        <div class="card-body">
                                            <h5 class="card-title">Shipping To</h5>
                                            <p class="mb-1 fs-9" id="shipAddress"></p>
                                            <p class="mb-1 fs-9" id="shipContact"></p>
                                            <p class="mb-1 fs-9" id="shipPhone"></p>
                                            <p class="mb-1 fs-9" id="shipEmail"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="getLocationId" asp-for="Tolocation" />
                            <input type="hidden" id="purchaseOderId" asp-for="PurchaseOrderID" />


                            <div class="modal fade" id="addUserModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add New User</h5>
                                            <button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @*<form id="addUserForm">*@
                                            <div class="mb-3">
                                                <label for="companyName" class="form-label">Company Name</label>
                                                <input type="text" class="form-control" id="companyName" name="companyName">
                                            </div>
                                            <div class="mb-3">
                                                <label for="userName" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="userName" name="userName">
                                            </div>
                                            <div class="mb-3">
                                                <label for="userEmail" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="userEmail" name="userEmail">
                                            </div>
                                            <div class="mb-3">
                                                <label for="userPhone" class="form-label">Phone Number</label>
                                                <input type="tel" class="form-control" id="userPhone" name="userPhone">
                                            </div>
                                            @*</form>*@
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="saveUserBtn" onclick="saveNewVendor()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="addShippingModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add New Shipping Address</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @*<form id="addShippingForm">*@
                                            <div class="mb-3">
                                                <label for="shippingName" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="shippingName" name="shippingName">
                                            </div>
                                            <div class="mb-3">
                                                <label for="shippingEmail" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="shippingEmail" name="shippingEmail">
                                            </div>
                                            <div class="mb-3">
                                                <label for="shippingPhone" class="form-label">Phone Number</label>
                                                <input type="tel" class="form-control" id="shippingPhone" name="shippingPhone">
                                            </div>
                                            <div class="mb-3">
                                                <label for="shippingAddress" class="form-label">Address</label>
                                                <textarea class="form-control" id="shippingAddress" name="shippingAddress" rows="3"></textarea>
                                            </div>
                                            @*</form>*@
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close </button>
                                            <button type="button" class="btn btn-primary" id="saveShippingBtn" onclick="saveNewShipping()">Save Info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="row mt-3">
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label class="form-label">PO Date </label>
                                    <input type="date" class="form-control" id="billDate" asp-for="PurchaseDate" name="billDate" placeholder="Enter Date">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label class="form-label">PO Number </label>
                                    <input type="text" class="form-control" asp-for="POID" name="POID" placeholder="Enter PO">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label class="form-label">Due Date</label>
                                    <input type="date" class="form-control" id="dueDate" name="dueDate" asp-for="DueDate" placeholder="Date">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label for="otherReference" class="form-label">Other Reference </label>
                                    <input type="text" class="form-control" id="otherReference" name="otherReference" placeholder="Enter Reference">
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label class="form-label">Work Order Date</label>
                                    <input type="date" class="form-control" id="workOrderDate" name="workOrderDate" placeholder="Date">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label for="otherReference" class="form-label">Work Order No</label>
                                    <input type="text" class="form-control" id="workOrderNo" name="workOrderNo" placeholder="Enter work Order No">
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-xl-12">

                        <div id="item-container" class="mb-3 border p-3 rounded position-relative mt-3">
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary" onclick="addNewItemRow()">+ Add More Item</button>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Item</th>
                                        <th>Unit</th>
                                        <th>Purchase Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="item-table-body">
                                    @for (int i = 0; i < Model.Items.Count; i++)
                                    {
                                        <tr>
                                            <th>@Model.Items[i].ProductID</th>
                                            <td>@Model.Items[i].ItemName</td>
                                            <td>@Model.Items[i].Unit</td>
                                            <td>
                                                <input type="number" class="form-control quantity"
                                                       name="Items[@i].Quantity"
                                                       value="@Model.Items[i].Quantity"
                                                       step="1" min="0"
                                                       onchange="updateRowTotal(this, @i)" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control unit-price"
                                                       name="Items[@i].UnitPrice"
                                                       value="@Model.Items[i].UnitPrice"
                                                       step="0.01" min="0"
                                                       onchange="updateRowTotal(this, @i)" />
                                            </td>
                                            <td class="total-amount">@((Model.Items[i].Quantity * Model.Items[i].UnitPrice).Value.ToString("F2"))</td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm" onclick="removeItemRow(this)">Remove</button>
                                            </td>
                                            <td class="d-none">
                                                <input type="hidden" class="purchasOrderItemID" name="Items[@i].PurchasOrderItemID" value="@Model.Items[i].PurchasOrderItemID" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                        <!-- Summary Section -->
                        <div class="text-end me-5">

                            <div class="d-flex justify-content-end align-items-center">
                                <p class="fw-bold">Sub Total Amount: <span class="ms-5" id="TotalAmount">0.00</span></p>
                            </div>

                            <div class="d-flex justify-content-end align-items-center mb-2">
                                <span class="me-2">Tax Rate (%)</span>
                                <input type="number" id="TaxRate" name="TaxRate" class="form-control w-auto text-end" value="@Model.TaxRate" step="0.1" min="0" onchange="updateGrandTotal()">
                                <p class=" fw-bold mb-0 ms-2">Tax Amount: <span class="ms-5" id="TaxAmount">0.00</span></p>
                            </div>
                            
                            <div class="d-flex justify-content-end align-items-center">
                                <p class="fw-bold">Grand Total Amount: <span class="ms-5" id="GrandTotalAmount">0.00</span></p>
                            </div>

                            <div class="d-flex justify-content-end align-items-center mb-2">
                                <span class="me-2 fw-bold">Payment Type<span style="color: red;">&nbsp;*</span></span>
                                <select id="PaymentMethodID" class="form-select fw-bold w-auto mx-2" asp-items="@ViewBag.PaymentTypeDD as SelectList">
                                    <option value="">Select Payment Type</option>
                                </select>

                                <div class="form-floating d-none" id="AccountsDiv">
                                    <select class="form-select fw-bold w-auto mx-2" id="BankAccountInfoID">
                                        <option value="">Select Account...</option>
                                        @foreach (var group in bankAccList.GroupBy(e => e.GroupName))
                                        {
                                            <optgroup label="@group.Key">
                                                @foreach (var item in group)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                    <label class="form-label" for="BankAccountInfoID">Select Account<span style="color: red;">&nbsp;*</span></label>
                                </div>

                                <div class="d-none" id="chequeDiv">
                                    <div class="d-flex gap-2">
                                        <div class="form-floating flex-fill">
                                            <input type="text" class="form-control" id="CheckNumber" placeholder="Input Check Number" />
                                            <label for="CheckNumber" class="form-label">Check Number<span style="color: red;">&nbsp;*</span></label>
                                        </div>

                                        <div class="form-icon-container">
                                            <div class="form-floating flex-fill">
                                                <input type="text" class="form-control form-icon-input datetimepicker" id="CheckDate" placeholder="dd/MM/yyyy" />
                                                <label for="CheckDate" class="form-icon-label">Check Date<span style="color: red;">&nbsp;*</span></label>
                                            </div>
                                            <span class="fa-regular fa-calendar text-body fs-9 form-icon"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-none" id="mobileBankingDiv">
                                    <div class="form-floating">
                                        <select class="form-select fw-bold w-auto mx-2" id="MobileBankingType">
                                            <option value="">Select...</option>
                                            <option value="BKash">BKash</option>
                                            <option value="Nagad">Nagad</option>
                                            <option value="Rocket">Rocket</option>
                                            <option value="Upay">Upay</option>
                                            <option value="SureCash">SureCash</option>
                                        </select>
                                        <label class="form-label">Select...<span style="color: red;">&nbsp;*</span></label>
                                    </div>
                                </div>

                                <span class="me-2 fw-bold">Paid Amount </span>
                                <input type="number" id="PaidAmount" name="PaidAmount" class="form-control fw-bold w-auto text-end fs-8 pe-4" value="@Model.PaidAmount" step="1" min="0">

                            </div>
                            <div class="d-flex justify-content-end align-items-center mb-2">
                                <span class="me-2 fw-bold">Due Amount </span>
                                <input type="text" id="DueAmount" name="DueAmount" class="form-control fw-bold bg-transparent border-0 w-auto text-end fs-8 pe-0" value="@Model.DueAmount" step="1" min="0" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-xl-12 mb-3">
                    <p2 class="mb-1 fw-bold fs-8">Note</p2>
                    <div class="pe-3">
                        <textarea type="text" class="form-control" name="note" placeholder=""></textarea>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-xl-12">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item border-top">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Advanced</button>
                                </h2>
                                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body pt-0">
                                        <p class="mb-2 fw-lighter fs-9">Select the category, add or edit folder, add attachment to your invoice</p>
                                        <div class="row justify-content-between">
                                            <div class="col-xl-9">
                                                <!-- Dropzone for file uploads -->
                                                <div class="dropzone dropzone-multiple p-0 border rounded" id="dropzone-multiple">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple="multiple" />
                                                    </div>
                                                    <div class="dz-message text-center p-4" data-dz-message>
                                                        <i class="fas fa-cloud-upload-alt fs-3 mb-2 text-muted"></i>
                                                        <p class="mb-0">Drop files here or click to upload</p>
                                                        <small class="text-muted">Maximum file size: 10MB</small>
                                                    </div>
                                                    <div class="dz-preview dz-preview-multiple m-0 d-none">
                                                        <div class="d-flex mb-3 pb-3 border-bottom border-translucent">
                                                            <div class="border p-2 rounded-2 me-2">
                                                                <img class="rounded-2 dz-image" width="40" height="40" alt="" data-dz-thumbnail />
                                                            </div>
                                                            <div class="flex-1 d-flex justify-content-between align-items-center">
                                                                <div>
                                                                    <h6 class="mb-1" data-dz-name></h6>
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="mb-0 fs-9 text-body-quaternary lh-1" data-dz-size></p>
                                                                        <div class="dz-progress ms-2" style="height: 4px; width: 100px;">
                                                                            <span class="dz-upload bg-primary" data-dz-uploadprogress style="display: block; height: 100%;"></span>
                                                                        </div>
                                                                    </div>
                                                                    <span class="fs-10 text-danger" data-dz-errormessage></span>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <button class="btn btn-link text-body-tertiary btn-sm dropdown-toggle btn-reveal" type="button" data-bs-toggle="dropdown">
                                                                        <i class="fas fa-ellipsis-h"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-end border py-2">
                                                                        <a class="dropdown-item text-danger" href="#!" data-dz-remove>Remove File</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Alternative simple file input (fallback) -->
                                                <div class="border p-3 rounded mt-3" id="simple-file-upload" style="display: none;">
                                                    <label for="attachments" class="form-label">Upload Attachments</label>
                                                    <input type="file" class="form-control" multiple name="attachments" id="attachments" accept=".pdf,.doc,.docx,.jpg,.png,.txt" />
                                                    <small class="text-muted">You can select multiple files (PDF, DOC, DOCX, JPG, PNG, TXT)</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="row mb-3">
                    <div class="col-xl-12">
                        <div class="accordion" id="accordionExample2">
                            <div class="accordion-item border-top">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseOne">Terms & Conditions</button>
                                    <p2 class="mb-2 fw-lighter fs-9">Select the category, add or edit folder, add attachment to your invoice</p2>
                                </h2>
                                <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body pt-0">
                                        <div class="row justify-content-between">
                                            <div class="col-xl-9">
                                                <textarea class="tinymce w-100" name="terms" data-tinymce="{}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-xl-12 mb-3">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary me-2" href="#">Cancel</a>
                        <button type="submit" class="btn btn-primary me-2">Save</button>
                        @*<a class="btn btn-primary" href="#">Send To</a>*@
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>







<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/pages/RequisitionDistribtion/Purchase/ManualPO.js"></script>

    

}