@model string

<div class="col-12 col-md-12 col-lg-12">
    <ul class="nav nav-underline fs-9 mt-3" id="dailyReportTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link @(Model == "ReportForAll" ? "active" : "")"
               href="@Url.Action("Index", "DailyReportForAll")"
               role="tab"
               aria-controls="tab-dailyReportForAll"
               aria-selected="@(Model == "ReportForAll" ? "true" : "false")">
                Report For All
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(Model == "IndividualReport" ? "active" : "")"
               href="@Url.Action("Index", "DailyIndividualReport")"
               role="tab"
               aria-controls="tab-dailyReportForIndividual"
               aria-selected="@(Model == "IndividualReport" ? "true" : "false")">
                Individual Report
            </a>
        </li>


        
       
    </ul>
    
    

</div>




