@{
    ViewData["Title"] = @Html.SmartLocalize("Chart of Account");
    var bodyTabs = ViewBag.BodyTabs as List<GCTL.Data.Models.MenuTab>;
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

@section Styles {
    <style>

    </style>
}

<ul class="nav nav-underline fs-9">
    @if (bodyTabs != null && bodyTabs.Any())
    {
        foreach (var tab in bodyTabs)
        {
            var isActive = tab.ControllerName.Equals(currentController, StringComparison.OrdinalIgnoreCase)
            ? "active" : "";

            <li class="nav-item">
                <a class="nav-link @isActive"
                   href="@Url.Action("Index", tab.ControllerName)">
                    @if (!string.IsNullOrEmpty(tab.Icon))
                    {
                        <i class="@tab.Icon me-1"></i>
                    }
                    @Html.SmartLocalize(tab.Title)
                </a>
            </li>
        }
    }
    else
    {
        <li class="nav-item"><span class="text-muted">No menu items found</span></li>
    }
</ul>