@model GCTL.Core.ViewModels.AttendanceManagement.ScheduleManagement.Shift.ShiftUpdateSetupVM

<div class="modal fade" id="editShiftModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Shift</h4>
                <button type="button" class="btn-close custom-btn-close" id="editShiftModalCloseBtn" aria-label="Close"></button>
            </div>
            <form asp-action="Update" asp-controller="AddShift" method="post" enctype="multipart/form-data" id="addShift-Updateform">
                <div class="modal-body pb-0">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" asp-for="UpdateShiftID" />
                            <div class="mb-3">
                                <label class="form-label" asp-for="UpdateShiftName">@Html.SmartLocalize("Shift Name")</label>
                                <input class="form-control" asp-for="UpdateShiftName" type="text" placeholder="@Html.SmartLocalize("Enter Name")" />
                            </div>
                            <span asp-validation-for="UpdateShiftName" class="text-danger"></span>
                            <span id="nameError" class="text-danger" style="display:none;"></span>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" asp-for="UpdateOrganizationID">@Html.SmartLocalize("Company Name")</label>
                                <select class="form-select" asp-for="UpdateOrganizationID" asp-items="ViewBag.OrganizationDD as SelectList">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" asp-for="UpdateStartTime">@Html.SmartLocalize("Start Time")</label>
                                <input class="form-control timepicker-12hr" asp-for="UpdateStartTime" type="text" placeholder="@Html.SmartLocalize("hour : minute")">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" asp-for="UpdateEndTime">@Html.SmartLocalize("End Time")</label>
                                <input class="form-control timepicker-12hr" asp-for="UpdateEndTime" type="text" placeholder="@Html.SmartLocalize("hour : minute")">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 d-inline-flex align-items-center">
                                    <label class="form-check-label me-2" asp-for="UpdateIsLateCount">@Html.SmartLocalize("Disable Late count")</label>
                                    <div class="form-check form-switch ">
                                        <input class="form-check-input mt-2" type="checkbox" asp-for="UpdateIsLateCount">
                                    </div>
                                    <label class="form-check-label me-2" asp-for="UpdateIsLateCount">@Html.SmartLocalize("Enable Late Count")</label>
                                </div>

                                <div class="col-md-6 d-none" id="addShift-UpdateGraceTimeDiv">
                                    <label class="form-label" for="organizerSingle">@Html.SmartLocalize("Grace Time")</label>
                                    <div class="input-group">
                                        <input class="form-control" asp-for="UpdateGraceTimeHour" type="number" placeholder="@Html.SmartLocalize("Hour")" />
                                        <span class="input-group-text">Hour</span>
                                        <input class="form-control" asp-for="UpdateGraceTimeMinute" type="number" placeholder="@Html.SmartLocalize("Minute")" />
                                        <span class="input-group-text">Minute</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 d-inline-flex align-items-center">
                                    <label class="form-check-label me-2" asp-for="UpdateIsFlexibleInTime">@Html.SmartLocalize("Restrict early In Time")</label>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" asp-for="UpdateIsFlexibleInTime">
                                    </div>
                                </div>

                                <div class="col-md-6 d-none" id="addShift-UpdatePunchCountFromDiv">
                                    <label class="form-label" id="UpdatePunchCountFrom">@Html.SmartLocalize("In Punch Count Before Shift")</label>
                                    <div class="input-group">
                                        <input class="form-control" asp-for="UpdateEarlyInTimeHour" type="number" placeholder="Hours">
                                        <span class="input-group-text">Hour</span>
                                        <input class="form-control" asp-for="UpdateEarlyInTimeMinute" type="number" placeholder="Minutes">
                                        <span class="input-group-text">Minute</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 d-inline-flex align-items-center">
                                    <label class="form-check-label me-2" asp-for="UpdateIsFlexibleOutTime">@Html.SmartLocalize("Restrict Late Out Time")</label>
                                    <div class="form-check form-switch ">
                                        <input class="form-check-input" type="checkbox" asp-for="UpdateIsFlexibleOutTime">
                                    </div>
                                </div>

                                <div class="col-md-6 d-none" id="addShift-UpdatePunchCountOutDiv">
                                    <label class="form-label" for="PunchCountOut">@Html.SmartLocalize("Out Punch Count After Shift")</label>
                                    <div class="input-group">
                                        <input class="form-control" asp-for="UpdateEarlyOutTimeHour" type="number" placeholder="Hours">
                                        <span class="input-group-text">Hour</span>
                                        <input class="form-control" asp-for="UpdateEarlyOutTimeMinute" type="number" placeholder="Minutes">
                                        <span class="input-group-text">Minute</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-2 mt-3">
                                <table>
                                    <tr>
                                        <td>
                                            <label class="form-check-label me-2" asp-for="UpdateIsAutomaticORManualBreakTime">@Html.SmartLocalize("Automatic Break Time")</label>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input bg-success mt-2" type="checkbox" asp-for="UpdateIsAutomaticORManualBreakTime">
                                            </div>
                                        </td>
                                        <td>
                                            <label class="form-check-label me-2" asp-for="UpdateIsAutomaticORManualBreakTime">@Html.SmartLocalize("Manual Break Time")</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="p-3 mb-2 border d-none rounded-3" id="addShift-UpdateBreakTimeDiv">
                            <div class="d-flex col-md-12  px-3">
                                <div class="col-md-4 me-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="organizerSingle">@Html.SmartLocalize("Break Time")</label>
                                        <div class="input-group">
                                            <input class="form-control" asp-for="UpdateMealBreakTimeHour" type="number" placeholder="@Html.SmartLocalize("Hour")" />
                                            <span class="input-group-text">Hour</span>
                                            <input class="form-control" asp-for="UpdateMealBreakTimeMinute" type="number" placeholder="@Html.SmartLocalize("Minute")" />
                                            <span class="input-group-text">Minute</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 me-2">
                                    <div class="mt-5 ">
                                        <input class="form-check-input" id="radio1" asp-for="UpdateIsMBCompulsaryOrComplementaryDeductWithShift" name="UpdateIsMBCompulsaryOrComplementaryDeductWithShift" id="addShift-CompulsaryDeduct" type="radio" value="true" />
                                        <label class="form-check-label" for="radio1" asp-for="UpdateIsMBCompulsaryOrComplementaryDeductWithShift">@Html.SmartLocalize("Compulsary Deduct With Shift")</label>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="mt-5">
                                        <input class="form-check-input" id="radio2" asp-for="UpdateIsMBCompulsaryOrComplementaryDeductWithShift" name="UpdateIsMBCompulsaryOrComplementaryDeductWithShift" id="addShift-Complementary" type="radio" value="false" />
                                        <label class="form-check-label" for="radio2" asp-for="UpdateIsMBCompulsaryOrComplementaryDeductWithShift">@Html.SmartLocalize("Complementory With Shift")</label>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-start">
                                <div>
                                    <label class="form-check-label me-2 d-none" asp-for="UpdateIsAllowStartAndEndTime" id="addShift-UpdateDenyStartEndTime">@Html.SmartLocalize("Deny Start and End Time")</label>
                                </div>
                                <div class="form-check form-switch flex-row">
                                    <label class="form-check-label me-2" asp-for="UpdateIsAllowStartAndEndTime" id="addShift-UpdateAllowStartEndTime">@Html.SmartLocalize("Allow Start and End Time")</label>
                                    <input class="form-check-input" type="checkbox" asp-for="UpdateIsAllowStartAndEndTime">
                                </div>
                            </div>

                            <div class=" p-3 d-none" id="addShift-UpdateStartEndTimeDiv">
                                <div class="d-flex col-md-12  px-3">
                                    <div class="col-md-3 me-4">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="UpdateMealBreakStartTime">@Html.SmartLocalize("Start Time")</label>
                                            <input class="form-control timepicker-12hr" asp-for="UpdateMealBreakStartTime" type="text" placeholder="@Html.SmartLocalize("hour : minute")">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="">
                                            <label class="form-label" asp-for="UpdateMealBreakEndTime">@Html.SmartLocalize("End Time")</label>
                                            <input class="form-control timepicker-12hr" asp-for="UpdateMealBreakEndTime" type="text" placeholder="@Html.SmartLocalize("hour : minute")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="d-flex justify-content-start mb-3">
                                <div>
                                    <label class="form-check-label me-2 d-none" asp-for="UpdateIsAllowOvertime" id="addShift-UpdateDisableOvertime">@Html.SmartLocalize("Disable Overtime")</label>
                                </div>
                                <div class="form-check form-switch flex-row">
                                    <label class="form-check-label me-2" asp-for="UpdateIsAllowOvertime" id="addShift-UpdateAllowOvertime">@Html.SmartLocalize("Allow Overtime")</label>
                                    <input class="form-check-input" type="checkbox" asp-for="UpdateIsAllowOvertime">
                                </div>
                            </div>
                        </div>

                        <div class="row d-none" id="addShift-UpdateOvertimeDiv">
                            <div class="d-flex justify-content-between border rounded-3">
                                <div class="col-md-4 me-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="organizerSingle">
                                            @Html.SmartLocalize("Minimum working time eligable for overtime")
                                        </label>
                                        <div class="input-group">
                                            <input class="form-control" asp-for="UpdateMinimumWorkingTimeHour" type="number" placeholder="@Html.SmartLocalize("Hour")" />
                                            <span class="input-group-text">Hour</span>
                                            <input class="form-control" asp-for="UpdateMinimumWorkingTimeMinute" type="number" placeholder="@Html.SmartLocalize("Minute")" />
                                            <span class="input-group-text">Minute</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 me-3">
                                    <div class="mb-4">
                                        <label class="form-label" for="organizerSingle">@Html.SmartLocalize("Minimum Required Overtime")</label>
                                        <div class="input-group">
                                            <input class="form-control" asp-for="UpdateMinimumRequiredOvertimeHour" type="number" placeholder="@Html.SmartLocalize("Hour")" />
                                            <span class="input-group-text">Hour</span>
                                            <input class="form-control" asp-for="UpdateMinimumRequiredOvertimeMinute" type="number" placeholder="@Html.SmartLocalize("Minute")" />
                                            <span class="input-group-text">Minute</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mb-1">
                                        <label class="form-label" for="organizerSingle">@Html.SmartLocalize("Maximum Allowed Overtime")</label>
                                        <div class="input-group">
                                            <input class="form-control" asp-for="UpdateMaximumAllowedOvertimeHour" type="number" placeholder="@Html.SmartLocalize("Hour")" />
                                            <span class="input-group-text">Hour</span>
                                            <input class="form-control" asp-for="UpdateMaximumAllowedOvertimeMinute" type="number" placeholder="@Html.SmartLocalize("Minute")" />
                                            <span class="input-group-text">Minute</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-light me-2" id="editShiftModalCancelBtn">@Html.SmartLocalize("Cancel")</button>
                    <button type="submit" class="btn btn-primary" id="editShiftModalUpdateBtn">@Html.SmartLocalize("Update")</button>
                </div>
            </form>
        </div>
    </div>
</div>