<div class="card mt-4">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
        <h4 class="mb-1">@Html.SmartLocalize("Shift List")</h4>
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
            <div class="dropdown me-3">
                <select class="form-select" id="addShift-dd-search" asp-items="ViewBag.OrganizationDD as SelectList" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">@Html.SmartLocalize("Company Name")</option>
                </select>
            </div>
        </div>
    </div>

    <div class="border-translucent p-3">
        <div class="row g-3 justify-content-between align-items-end mb-4">
            <div class="col-12 col-sm-auto">
                <div class="d-flex align-items-center me-3" style="width: auto;">
                    <span class="ms-2">@Html.SmartLocalize("Showing"):</span> &nbsp;
                    <div style="width: 100%;">
                        <select id="addShift-pageSizeSelect" class="form-select form-select-sm" tabindex="10">
                            <option class="dropdown-item" value="5">@Html.SmartLocalize("5")</option>
                            <option class="dropdown-item" value="10">@Html.SmartLocalize("10")</option>
                            <option class="dropdown-item" value="25">@Html.SmartLocalize("25")</option>
                            <option class="dropdown-item" value="50">@Html.SmartLocalize("50")</option>
                            <option class="dropdown-item" value="100">@Html.SmartLocalize("100")</option>
                            <option class="dropdown-item" value="0">@Html.SmartLocalize("All")</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-auto">
                <div class="d-flex align-items-center">
                    <div class="d-none me-3" id="addShift-bulkSelectActions">
                        <div class="position-relative">
                            <button type="button" class="btn btn-phoenix-danger btn-sm ms-2" id="addShift-bulkDelBtn">@Html.SmartLocalize("Delete")</button>
                        </div>
                    </div>

                    <div class="search-box me-3" id="addShift-searchBox">
                        <form class="position-relative" id="addShift-searchForm">
                            <input class="form-control search-input search" id="addShift-searchInput" type="search" placeholder="@Html.SmartLocalize("Search here")" aria-label="Search" />
                            <span class="fas fa-search search-box-icon"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive scrollbar mx-n1 px-1">
            <table class="table table-sm fs-9 leads-table">
                <thead>
                    <tr>
                        <th class="text-center text-middle align-middle ps-0" scope="col" style="width: 5%;">
                            <input type="checkbox" class="form-check-input" id="addShift-check-all" />
                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="ShiftName">@Html.SmartLocalize("Shift Name")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="OrganizationName">@Html.SmartLocalize("Company Name")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="StartTime">@Html.SmartLocalize("Start Time")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="EndTime">@Html.SmartLocalize("End Time")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="GraceTime">@Html.SmartLocalize("Grace Time")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="MealBreakTime">@Html.SmartLocalize("Break Time")</th>
                        <th class="align-middle white-space-nowrap ps-0 text-uppercase" scope="col" style="width: 5%;">@Html.SmartLocalize("Action")</th>
                    </tr>
                </thead>
                <tbody id="addShift-tBody">
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
            <div class="d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="addShift-paginationInfo"></p>

                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
            </div>
            <div class="d-flex">
                <button class="page-link" data-list-pagination="prev" id="addShift-prevPageBtn"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination" id="addShift-paginationLinks"></ul>
                <button class="page-link pe-0" data-list-pagination="next" id="addShift-nextPageBtn"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>
    </div>
</div>