@model GCTL.Core.ViewModels.MasterSetup.PaymenPeriodTypes.PaymentPeriodsVM

<div class="card h-100">
    <div class="card-header border-bottom-1">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <h3 class="text-body-emphasis mt-3">@Html.SmartLocalize("Add Payment Period")</h3>
            </div>
        </div>
    </div>

    <div class="card-body mt-2">
        <form asp-action="Create" asp-controller="PaymentPeriods" method="post" enctype="multipart/form-data" id="paymentPeriod-form">
            @Html.AntiForgeryToken()
            <div class="col-sm-12 col-md-12 mb-2">
                <input type="hidden" asp-for="PaymentPeriodTypeID" />

                <div class="flatpickr-input-container">
                    <div class="form-floating">
                        <input class="form-control" asp-for="PaymentPeriodTypeName" type="text" placeholder="@Html.SmartLocalize("Payment Period Name")" />
                        <label asp-for="PaymentPeriodTypeName">@Html.SmartLocalize("Payment Period Name")<span style="color: red;">*</span></label>
                    </div>
                    <span asp-validation-for="PaymentPeriodTypeName" class="text-danger"></span>
                    <span id="nameError" class="text-danger" style="display:none;"></span>
                </div>
            </div>

            <div class="col-12 mb-2">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <button type="reset" class="btn btn-phoenix-primary px-5" id="paymentPeriod-resetBtn">@Html.SmartLocalize("Reset")</button>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary px-5 px-sm-15" id="paymentPeriod-saveBtn">@Html.SmartLocalize("Save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
