@model GCTL.Core.ViewModels.PayrollManagements.PayrollPolicy.PayRollEmpAllowance.PayRollEmpAllowanceSaveVM
<form id="payrollEmpAllowanceForm" class="row g-3">
   
    <div class="col-md-6">

        <div class="mb-3">
            <div class="content-head d-flex justify-content-between align-items-center">
                <label class="form-label" for="organizerSingle">Company Name</label>
                <div class="form-check form-switch">
                </div>
            </div>
            <select class="form-multi-select"  multiple    asp-for="OrganizationID"  asp-items="@ViewBag.OrganizationDD"
                    data-coreui-selection-type="tags" data-coreui-search="true">
                <option value="">Select Company</option>
                
            </select>
            <span id="OrganizationID-error" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="mb-3">
            <div class="content-head d-flex justify-content-between align-items-center">
                <label class="form-label" for="timepicker1">Mobile/Internet Allowance</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="IsMobileInternetAllowanceEnabled">
                </div>
            </div>
            <input class="form-control"  type="text" placeholder="Ex: 1000 tk Monthly" asp-for="MobileInternetAllowance">
        </div>
    </div>

  
   <div class="col-md-12">
    <div class="mb-3">
        <div class="content-head d-flex justify-content-between align-items-center border-bottom">
            <h5>House Rent Allowance</h5>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" asp-for="IsHouseRentAllowanceEnabled">
            </div>
        </div>
    </div>
</div>
<div id="houseRentContainer">
<div class="card shadow-sm rounded-3 mb-3 houseRentRow">
    <div class="card-body">
        <div class="row g-3">
            <!-- Min Salary -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="form-label" for="MinSalary">Min Salary</label>
                <input type="text" asp-for="HouseRentAllowances[0].MinSalary" class="form-control" placeholder="Enter Min Salary" />
            </div>

            <!-- Max Salary -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="form-label" for="MaxSalary">Max Salary</label>
                <input type="text" asp-for="HouseRentAllowances[0].MaxSalary" class="form-control" placeholder="Enter Max Salary" />
            </div>
            <!-- Rate -->

            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="form-label" for="MedicalAllowanceRate">Rate</label>
                <select class="form-select choiceDD" asp-for="HouseRentAllowances[0].Rate" asp-items="@ViewBag.PercenatageDD as SelectList">
                    <option value="">Select %</option>
                </select>
            </div>



            <!-- Effective Date -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="form-label" for="ToDate">Effective Date</label>
                <div class="input-icon-end position-relative">
                    <input type="text" asp-for="HouseRentAllowances[0].EffectiveDate" class="form-control datetimepicker" readonly required placeholder="dd/mm/yyyy">
                    <span class="uil uil-calendar-alt position-absolute top-50 end-0 translate-middle-y me-3 text-body-tertiary"></span>
                </div>
            </div>
               <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">Allowance Depends on</label>
            <select class="form-select choiceDD" asp-items="@ViewBag.SalaryTypesDD as SelectList" asp-for="HouseRentAllowances[0].HRentDependsOnSalaryTypeID">
                <option value="">Select Salary</option>
                
            </select>
        </div>
       </div>
            <!-- IsActive -->
            <div class="col-lg-2 col-md-2 col-sm-12">
                <label class="form-label" for="IsActive">Is Active</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="IsActive" />
                    <label class="form-check-label" for="IsActive">Active</label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 text-end">
                <button type="button" id="addDetails" class="btn btn-primary mt-3 addRow">
                    <i class="bi bi-plus-circle"></i> +
                </button>
            </div>


        </div>

    

    </div>
</div>

</div>
 
    <div class="col-md-12">
        <div class="mb-3">
            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                <h5>Medical Allowance</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="IsMedicalAllowanceEnabled">
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">Medical Allowance Rate</label>
            <select class="form-select mb-3 choiceDD" asp-for="MedicalAllowanceRate" asp-items="@ViewBag.PercenatageDD as SelectList">
                <option value="">Select %</option>
            </select>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">Allowance Depends on</label>
            <select class="form-select choiceDD" asp-items="@ViewBag.SalaryTypesDD as SelectList" asp-for="MediAllowDepOnSalaryTypeID">
                <option value="">Select Salary</option>
              
            </select>
        </div>
    </div>

    <div class="col-md-12">
        <div class="mb-3">
            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                <h5>Conveyance Allowance</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="IsConveyanceAllowanceEnabled">
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">Conveyance Allowance Rate</label>
            <select class="form-select mb-3 choiceDD" asp-for="ConveyanceAllowanceRate" asp-items="@ViewBag.PercenatageDD as SelectList">
                <option value="">Select %</option>
            </select>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">Allowance Depends on</label>
            <select class="form-select choiceDD" asp-items="@ViewBag.SalaryTypesDD as SelectList" asp-for="ConAllowDepOnSalaryTypeID">
                <option value="">Select Salary</option>
            </select>
        </div>
    </div>

    <div class="col-12">
        <div class="row g-3 justify-content-end">
            <div class="col-auto">
                <button class="btn btn-phoenix-primary px-5" id="ResetButton">Cancel</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary px-5 px-sm-15"  id="PayRollEmpAllowanceSave">Save</button>
            </div>
        </div>
    </div>
</form>