

<style>

    #payRollEmp-searchForm {
        position: relative;
    }

    #payRollEmp-searchInput {
        padding-right: 2.25rem; /* Leave space for the icon inside */
        height: calc(1.5em + 0.75rem + 2px); /* Same as .form-select */
    }

    .search-box-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #6c757d;
        pointer-events: none;
    }


    .date-input {
        width: 108%;
        border: 2px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        transition: all 0.3s ease;
        background: white;
    }

        .date-input:focus {
            outline: none;
            border-color: #4facfe;
            box-shadow: 0 0 0 3px rgba(79, 172, 254, 0.1);
        }

    .date-picker-wrapper .footer {
        display: none !important;
    }


    .date-picker-wrapper {
        margin-left: 8.2vw !important;
    }
</style>

<div class="card-header d-flex align-items-center justify-content-between pb-0 ps-3 pe-1">


    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

        <div class="col-12 col-sm-auto">
            <div class="d-flex align-items-center me-3" style="width: auto;">
                <span class="ms-2">@Html.SmartLocalize("Showing"):</span> &nbsp;
                <div style="width: 100%;">
                    <select id="payRollEmp-pageSizeSelect" class="form-select form-select-sm" tabindex="10">
                        <option class="dropdown-item" value="5">@Html.SmartLocalize("5")</option>
                        <option class="dropdown-item" value="10">@Html.SmartLocalize("10")</option>
                        <option class="dropdown-item" value="25">@Html.SmartLocalize("25")</option>
                        <option class="dropdown-item" value="50">@Html.SmartLocalize("50")</option>
                        <option class="dropdown-item" value="100">@Html.SmartLocalize("100")</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-sm-auto">
        <div class="d-flex align-items-center">

            <div class="dropdown me-3">
                <select class="form-multi-select"
                        id="OrganizationIDD"
                        asp-items="@ViewBag.OrganizationDD as SelectList"
                        multiple data-coreui-multiple="true"
                        data-coreui-selection-type="counter"
                        data-coreui-search="true"
                        data-coreui-placeholder="@Html.SmartLocalize("Select Company")">
                </select>
            </div>
            <div class="d-none me-3" id="payRollEmp-bulkSelectActions">
                <div class="position-relative">
                    <button type="button" class="btn btn-phoenix-danger btn-sm ms-2" id="payRollEmp-bulkDelBtn">@Html.SmartLocalize("Delete")</button>
                </div>
            </div>
            <div class="dropdown me-3" id="payRollEmp-searchBox">
                <form class="position-relative" id="payRollEmp-searchForm">
                    <input class="form-control search-input" id="payRollEmp-searchInput" type="search"
                           placeholder="@Html.SmartLocalize("Search here")" aria-label="Search" />
                    <span class="fas fa-search search-box-icon"></span>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="border-translucent p-3">

    <div class="table-responsive scrollbar mx-n1 px-1">
        <table class="table table-bordered fs-9 leads-table " style="text-align:center;">
            <thead>
                <tr>

                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="companyName" rowspan="2">Company Name</th>
                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="mobileAllowance" rowspan="2">Allowance Type</th>
                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="mobileAllowance" rowspan="2">Effective Date</th>
                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="mobileAllowance" rowspan="2">IsActive</th>
                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="medicalAllowance" colspan="2">Salary</th>
                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="conveyanceAllowance" colspan="2">Depends on</th>
                    <th class="align-middle pe-0 ps-5" scope="col" rowspan="2">Action </th>
                </tr>
                <tr>
                   
                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="medicalAllowanceR">Min</th>
                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="medicalAllowanceS">Max</th>
                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="conveyanceAllowanceR">Fixed</th>
                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="conveyanceAllowanceS">Percentage(%)</th>
                </tr>
            </thead>
            <tbody class="list" id="PayRollEmployeeAllowance-body">
            </tbody>
        </table>
    </div>

    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
        <div class="d-flex">
            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="payRollEmp-paginationInfo"></p>

            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
        </div>
        <div class="d-flex">
            <button class="page-link" data-list-pagination="prev" id="payRollEmp-prevPageBtn"><span class="fas fa-chevron-left"></span></button>
            <ul class="mb-0 pagination" id="payRollEmp-paginationLinks"></ul>
            <button class="page-link pe-0" data-list-pagination="next" id="payRollEmp-nextPageBtn"><span class="fas fa-chevron-right"></span></button>
        </div>
    </div>

</div>

