@using GCTL.Core.ViewModels.CRM
@model CustomerInfoVM
<div class="container m-0 p-0">

    <div class="mb-4">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">
                <h4 class="mb-1">@Html.SmartLocalize("Lead Table")</h4>
                <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                    <div class="dropdown me-3">
                        <div class="input-icon-end position-relative">
                            <input class="form-control" id="dataSearch" type="text" placeholder="@Html.SmartLocalize("Search...")">
                        </div>
                    </div>

                    <div class="dropdown me-3">
                        <div class="columnDrag leadTable" placeholder="Column settings"></div>
                    </div>


                    <div class="dropdown me-3">
                        <div class="input-icon-end position-relative">
                            <input class="form-control datetimepicker flatpickr-input caiCon" id="dateRange2" type="text" placeholder="@Html.SmartLocalize("Select Date Range")" data-options='{"mode":"range","dateFormat":"d/m/y","disableMobile":true}' readonly="readonly">
                        </div>
                    </div>
                    <div class="dropdown me-3">
                        <select class="form-select choiceDD" id="customerType" data-choices="data-choices" size="1" required="required" name="customerType" asp-items="@ViewBag.ServiceTypeDD">
                            <option value="">@Html.SmartLocalize("Customer Type")</option>
                        </select>
                    </div>

                    <div class="dropdown me-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@Html.SmartLocalize("Showing")</span>
                            </div>
                            <select class="form-select" id="pageElementSize" data-choices="data-choices" size="1" name="pageSizeSelectApprove" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>


                </div>
            </div>

            <div class="border-translucent p-3">
                <div id="processedResignationTable">
                    <div class="table-responsive scrollbar mx-n1 px-1">
                        <table class="table table-sm fs-9 leads-table dyn-tableDrag leadTable table-hover" id="resignProcessed">
                            <thead>
                                <tr>
                                    <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                                        <div class="form-check mb-0 fs-8">
                                            <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"processed-resignation-body"}' />
                                        </div>
                                    </th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="leadName" data-column="0">@Html.SmartLocalize("Leads Name")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="leadStatus" data-column="1">@Html.SmartLocalize("leadStatus")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="leadSourceName" data-column="2">@Html.SmartLocalize("leadSourceName")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="leadOwnerName" data-column="3">@Html.SmartLocalize("leadOwnerName")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="approximateDealValue" data-column="4">@Html.SmartLocalize("approximateDealValue")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="probabilityPercentage" data-column="5">@Html.SmartLocalize("probabilityPercentage")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="email" data-column="6">@Html.SmartLocalize("Email")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="phone" data-column="7">@Html.SmartLocalize("Phone")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="contactName" data-column="8">@Html.SmartLocalize("Contact Name")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status" data-column="9">@Html.SmartLocalize("Status")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status" data-column="10">@Html.SmartLocalize("Action")</th>
                                </tr>
                            </thead>
                            <tbody class="list" id="processed-resignation-body">
                                <!-- Processed resignation rows will be populated here -->
                            </tbody>
                        </table>
                    </div>

                    <div class="row align-items-center justify-content-between pe-0 fs-9">
                        <div class="col-auto d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="totalApprove" data-list-info="data-list-info"></p>
                        </div>
                        <div class="col-auto d-flex">
                            <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination" id="pageNumber"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/CRM/crm_index.js"></script>
}
