

<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
    <div class="my-auto mb-2">
        <h2 class="mb-1">@Html.SmartLocalize("Employee Promotion")</h2>
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#"><i class="ti ti-smart-home"></i></a>
                </li>
                <li class="breadcrumb-item">@Html.SmartLocalize("Employee")</li>
                <li class="breadcrumb-item active" aria-current="page">@Html.SmartLocalize("Promotion")</li>
            </ol>
        </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
        <div class="mb-2">
            <a href="#" data-bs-toggle="modal" data-bs-target="#add_promotion" class="btn btn-primary d-flex align-items-center">
                <i class="ti ti-circle-plus me-2"></i>@Html.SmartLocalize("Add Promotion")
            </a>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-black-le">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="text-start">
                        <p class="mb-1">@Html.SmartLocalize("Pending Promotions")</p>
                        <h4 id="pendingPromotions">0</h4>
                    </div>
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-2">
                            <span class="avatar avatar-md d-flex">
                                <i class="ti ti-clock fs-5 text-white"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-purple-le">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="text-start">
                        <p class="mb-1">@Html.SmartLocalize("Approved Promotions")</p>
                        <h4 id="approvedPromotions">0</h4>
                    </div>
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-2">
                            <span class="avatar avatar-md d-flex">
                                <i class="ti ti-check fs-5 text-white"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-pink-le">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="text-start">
                        <p class="mb-1">@Html.SmartLocalize("This Month")</p>
                        <h4 id="thisMonthPromotions">0</h4>
                    </div>
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-2">
                            <span class="avatar avatar-md d-flex">
                                <i class="ti ti-calendar-month fs-5 text-white"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-blue-le">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="text-start">
                        <p class="mb-1">@Html.SmartLocalize("Total Promotions")</p>
                        <h4 id="totalPromotions">0</h4>
                    </div>
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-2">
                            <span class="avatar avatar-md d-flex">
                                <i class="ti ti-trending-up fs-5 text-white"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-4">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">
            <h4 class="mb-1">@Html.SmartLocalize("Employee Promotion List")</h4>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

                <div class="me-3">
                    <input class="form-control" id="searchInput" type="text" placeholder="@Html.SmartLocalize("Search by Employee Name")">
                </div>

                <div class="dropdown me-3">
                    <div class="columnDrag PromotionListTblDy" placeholder="Column settings"></div>
                </div>


                <div class="me-3">
                    <div class="input-icon-end position-relative">
                        <input class="form-control datetimepicker flatpickr-input caiCon" id="dateRangePicker" type="text" placeholder="@Html.SmartLocalize("Select Date")">
                    </div>
                </div>
                <div class="dropdown me-3">
                    <select class="form-select choiceDD" id="departmentFilter" asp-items="@ViewBag.DepartmentDD as SelectList">
                        <option value="">@Html.SmartLocalize("Select Department")</option>
                    </select>
                </div>
                <div class="dropdown me-3">
                    <select class="form-select choiceDD" id="promotionStatusFilter" asp-items="@ViewBag.IncrementTypeList as SelectList">
                        <option value="">@Html.SmartLocalize("Select Status")</option>
                    </select>
                </div>
                <div class="dropdown me-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@Html.SmartLocalize("Showing")</span>
                        </div>
                        <select class="form-select" id="pageSizeSelect" data-choices="data-choices" size="1" name="pageSizeSelect" data-options='{"removeItemButton":true,"placeholder":true}'>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-translucent p-3 pt-0">
            <div id="promotionListTable">
                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-sm fs-9 leads-table dyn-tableDrag PromotionListTblDy" id="PromotionListTblDy">
                        <thead>
                            <tr>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="employeeName" data-column="0">@Html.SmartLocalize("Employee")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="department" data-column="1">@Html.SmartLocalize("Department")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="currentPosition" data-column="2">@Html.SmartLocalize("Current Position")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="promotedPosition" data-column="3">@Html.SmartLocalize("Promoted Position")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="effectiveDate" data-column="4">@Html.SmartLocalize("Effective Date")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="salaryIncrease" data-column="5">@Html.SmartLocalize("Salary Increase")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status" data-column="6">@Html.SmartLocalize("Status")</th>
                            </tr>
                        </thead>
                        <tbody class="list" id="promotion-body">
                            <!-- Data will be populated by JavaScript -->
                        </tbody>
                    </table>
                </div>
                <div class="row align-items-center justify-content-between pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add/Edit Promotion Modal -->
<div class="modal fade" id="add_promotion">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Html.SmartLocalize("Add/Edit Promotion")</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @await Html.PartialAsync("~/Views/Promotion/_PromotionForm.cshtml")

        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    
    <script src="~/js/pages/Employees/EmployeeStatus/Promotion/PromotionList.js"></script>
    <script src="~/js/pages/Employees/EmployeeStatus/Promotion/PromotionForm.js"></script>
}


