<h1>Test Enviroment</h1>



@*<div class="mb-4">
        <div class="dropdown me-3">
            <input class="columnDrag table12" placeholder="Column settings" />
        </div>
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">
                <h4 class="mb-1">@Html.SmartLocalize("Processed Terminations")</h4>
                <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                    <div class="dropdown me-3">
                        <div class="input-icon-end position-relative">
                            <input class="form-control" id="processedSearch" type="text" placeholder="@Html.SmartLocalize("Search...")">
                        </div>
                    </div>
                    <div class="dropdown me-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@Html.SmartLocalize("Showing")</span>
                            </div>
                            <select class="form-select" id="pageSizeSelectApprove" data-choices="data-choices" size="1" name="pageSizeSelectApprove" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-translucent p-3">
                <div id="processedTerminationTable">
                    <div class="table-responsive scrollbar mx-n1 px-1">
                        <table class="table table-sm fs-9 leads-table dyn-tableDrag table12" id="table1">
                            <thead>
                                <tr>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="employeeName" data-column="0">@Html.SmartLocalize("Employee Name")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="department" data-column="1">@Html.SmartLocalize("Department")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="position" data-column="2">@Html.SmartLocalize("Position")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationType" data-column="3">@Html.SmartLocalize("Termination Type")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="reason" data-column="4">@Html.SmartLocalize("Reason")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="processedDate" data-column="5">@Html.SmartLocalize("Processed Date")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationDate" data-column="6">@Html.SmartLocalize("Termination Date")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status" data-column="7">@Html.SmartLocalize("Status")</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="row align-items-center justify-content-between pe-0 fs-9">
                        <div class="col-auto d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="totalApprove" data-list-info="data-list-info"></p>
                        </div>
                        <div class="col-auto d-flex">
                            <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination" id="paginationApprove"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@




<div class="dropdown me-3">
    <div class="columnDrag table22" placeholder="Column settings" />
</div>
<div class="border-translucent p-3">
    <div id="processedTerminationTable">
        <div class="table-responsive scrollbar mx-n1 px-1">
            <h4> data-column</h4>
            <table class="table table-sm fs-9 leads-table dyn-tableDrag table22" id="table2">
                <thead>
                    <tr>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="employeeName" data-column="0">@Html.SmartLocalize("Employee Name")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="department" data-column="1">@Html.SmartLocalize("Department")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="position" data-column="2">@Html.SmartLocalize("Position")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationType" data-column="3">@Html.SmartLocalize("Termination Type")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="reason" data-column="4">@Html.SmartLocalize("Reason")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="processedDate" data-column="5">@Html.SmartLocalize("Processed Date")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationDate" data-column="6">@Html.SmartLocalize("Termination Date")</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status" data-column="7">@Html.SmartLocalize("Status")</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="row align-items-center justify-content-between pe-0 fs-9">
            <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="totalApprove" data-list-info="data-list-info"></p>
            </div>
            <div class="col-auto d-flex">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination" id="paginationApprove"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>
    </div>
</div>



<div class="mb-4">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">
            <h4 class="mb-1">@Html.SmartLocalize("without data-column")</h4>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

                <!-- Column Visibility Toggle -->
                <div class="dropdown me-3">
                    <div class="columnDrag table33" placeholder="Column settings" />

                </div>


                <!-- Existing filters -->
                <div class="me-3">
                    <input class="form-control" id="searchInput" type="text" placeholder="@Html.SmartLocalize("Search by Employee Name")">
                </div>
                <div class="me-3">
                    <div class="input-icon-end position-relative">
                        <input class="form-control datetimepicker flatpickr-input caiCon" id="dateRangePicker" type="text" placeholder="@Html.SmartLocalize("dd/mm/yyyy")">
                    </div>
                </div>
                <div class="dropdown me-3">
                    <select class="form-select choiceDD" id="departmentFilter" data-choices="data-choices" size="1" name="departmentFilter" asp-items="@ViewBag.DepartmentDD as SelectList">
                        <option value="">@Html.SmartLocalize("Select Department")</option>
                    </select>
                </div>
                <div class="dropdown me-3">
                    <select class="form-select choiceDD" id="incrementTypeFilter" asp-items="@ViewBag.IncrementTypeList as SelectList">
                        <option value="">@Html.SmartLocalize("Select Type")</option>
                    </select>
                </div>
                <div class="dropdown me-3">
                    <select class="form-select" id="pageSizeSelect" data-choices="data-choices" size="1" name="pageSizeSelect" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="10">@Html.SmartLocalize("10 per page")</option>
                        <option value="25">@Html.SmartLocalize("25 per page")</option>
                        <option value="50">@Html.SmartLocalize("50 per page")</option>
                        <option value="100">@Html.SmartLocalize("100 per page")</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="border-translucent p-3 pt-0">
            <div id="incrementListTable">
                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-sm fs-9 leads-table dyn-tableDrag table33" id="table3">
                        <thead class="sticky-header">
                            <tr>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="employeeName" >@Html.SmartLocalize("Employee Name")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="department" >@Html.SmartLocalize("Department")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="position" >@Html.SmartLocalize("Position")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationType" >@Html.SmartLocalize("Termination Type")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="reason" >@Html.SmartLocalize("Reason")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="processedDate" >@Html.SmartLocalize("Processed Date")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationDate" >@Html.SmartLocalize("Termination Date")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status" >@Html.SmartLocalize("Status")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- The body will be populated dynamically by JavaScript -->
                        </tbody>
                    </table>
                </div>
                <div class="row align-items-center justify-content-between pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="mb-4">
        <div class="dropdown me-3">
            <div class="columnDD test1" placeholder="Column settings"></div>
            <div class="columnDD test3" placeholder="Column settings"></div>
        </div>
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">
                <h4 class="mb-1">@Html.SmartLocalize("Processed Terminations")</h4>
                <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                    <div class="dropdown me-3">
                        <div class="input-icon-end position-relative">
                            <input class="form-control" id="processedSearch" type="text" placeholder="@Html.SmartLocalize("Search...")">
                        </div>
                    </div>
                    <div class="dropdown me-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@Html.SmartLocalize("Showing")</span>
                            </div>
                            <select class="form-select" id="pageSizeSelectApprove" data-choices="data-choices" size="1" name="pageSizeSelectApprove" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-translucent p-3">
                <div id="processedTerminationTable">
                    <div class="table-responsive scrollbar mx-n1 px-1">
                        <table class="table table-sm fs-9 leads-table dyn-tableDD test1" id="table1">
                            <thead>
                                <tr>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="employeeName">@Html.SmartLocalize("Employee Name")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="department">@Html.SmartLocalize("Department")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="position">@Html.SmartLocalize("Position")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationType">@Html.SmartLocalize("Termination Type")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="reason">@Html.SmartLocalize("Reason")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="processedDate">@Html.SmartLocalize("Processed Date")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationDate">@Html.SmartLocalize("Termination Date")</th>
                                    <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status">@Html.SmartLocalize("Status")</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="row align-items-center justify-content-between pe-0 fs-9">
                        <div class="col-auto d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="totalApprove" data-list-info="data-list-info"></p>
                        </div>
                        <div class="col-auto d-flex">
                            <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination" id="paginationApprove"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="dropdown me-3">
        <div class="columnDD test2" placeholder="Column settings"></div>
    </div>
    <div class="border-translucent p-3">
        <div id="processedTerminationTable">
            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 leads-table dyn-tableDD test2" id="table2">
                    <thead>
                        <tr>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="employeeName">@Html.SmartLocalize("Employee Name")</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="department">@Html.SmartLocalize("Department")</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="position">@Html.SmartLocalize("Position")</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationType">@Html.SmartLocalize("Termination Type")</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="reason">@Html.SmartLocalize("Reason")</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="processedDate">@Html.SmartLocalize("Processed Date")</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationDate">@Html.SmartLocalize("Termination Date")</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status">@Html.SmartLocalize("Status")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-between pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="totalApprove" data-list-info="data-list-info"></p>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination" id="paginationApprove"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>*@


<!--
<div class="mb-4">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">
            <h4 class="mb-1">@Html.SmartLocalize("Processed Terminations")</h4>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                <div class="dropdown me-3">
                    <div class="input-icon-end position-relative">
                        <input class="form-control" id="processedSearch" type="text" placeholder="@Html.SmartLocalize("Search...")">
                    </div>
                </div>

                <div class="dropdown me-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@Html.SmartLocalize("Showing")</span>
                        </div>
                        <select class="form-select" id="pageSizeSelectApprove" data-choices="data-choices" size="1" name="pageSizeSelectApprove" data-options='{"removeItemButton":true,"placeholder":true}'>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-translucent p-3">
            <div id="processedTerminationTable">
                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-sm fs-9 leads-table dyn-tableDD test3" id="table3">
                        <thead>
                            <tr>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="employeeName">@Html.SmartLocalize("Employee Name")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="department">@Html.SmartLocalize("Department")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="position">@Html.SmartLocalize("Position")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationType">@Html.SmartLocalize("Termination Type")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="reason">@Html.SmartLocalize("Reason")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="processedDate">@Html.SmartLocalize("Processed Date")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="terminationDate">@Html.SmartLocalize("Termination Date")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status">@Html.SmartLocalize("Status")</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="row align-items-center justify-content-between pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="totalApprove" data-list-info="data-list-info"></p>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination" id="paginationApprove"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/Employees/test.js"></script>
}


