
<style>

    .choices__list.choices__list--dropdown {
        z-index: 1010;
    }

    .dropdown-menu {
        z-index: 1010;
    }

    .sticky-top {
        top: 65px;
        z-index: 1001;
    }
</style>




<div class="d-flex mb-5 " id="scrollspyEcommerce">
    <span class="fa-stack me-2 ms-n1">
        <i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle fas fa-users" data-fa-transform="shrink-4"></i>
    </span>
    <div class="col">
        <h3 class="mb-0 text-primary position-relative fw-bold">
            <span class="bg-body pe-2">Product Purchase </span>
            <span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
        </h3>

    </div>
</div>

<div class="row mt-3 bg-body-emphasis rounded">
    <div class="col-12">


        <div class="px-4 px-lg-6">
            <div class="mt-5">



                <div id="projectSummary">

                    <div class="row g-3 justify-content-between align-items-end mb-4">

                        <div class="col-12 col-sm-auto">

                            <div class="d-flex align-items-center">
                                <div class=" me-3">
                                    <div class="columnDrag ProductPurchase "></div>
                                </div>







                                <div class="dropdown me-3">
                                    <select class="form-select choiceDD" id="productTypeFilter" asp-items="@ViewBag.ProductTypes as SelectList">
                                        <option value="">@Html.SmartLocalize("Select Product Type")</option>

                                    </select>
                                </div>


                            </div>
                        </div>

                        <div class="col-12 col-sm-auto">

                            <div class="d-flex align-items-center">

                                <div class="me-3">
                                    <input class="form-control" id="searchInput" type="text" placeholder="@Html.SmartLocalize("Search")">
                                </div>


                                <div class="dropdown me-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@Html.SmartLocalize("Showing")</span>
                                        </div>
                                        <select class="form-select" id="pageSizeSelect" data-choices="data-choices" size="1" name="pageSizeSelect" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="table ms-n1 ps-1 scrollbar">
                        <table class="table fs-9 mb-0 border-top border-translucent dyn-tableDrag ProductPurchase" id="ProductPurchase">
                            <thead>
                                <tr>
                                    <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;" data-column="0">
                                        <div class="form-check mb-0 fs-8">
                                            <input class="form-check-input" type="checkbox" id="selectAll" />
                                        </div>
                                    </th>
                                    <th class="sort white-space-nowrap align-middle ps-0" data-column="1" data-sort="id">ID</th>
                                    <th class="sort white-space-nowrap align-middle ps-2" data-column="2" data-sort="poid">PO_ID</th>
                                    <th class="sort white-space-nowrap align-middle ps-2" data-column="3" data-sort="suppiler">Suppiler</th>
                                    <th class="sort white-space-nowrap align-middle ps-2" data-column="4" data-sort="poDate">PO_Date</th>
                                    <th class="sort white-space-nowrap align-middle ps-2" data-column="5" data-sort="note">Note</th>
                                    <th class="sort white-space-nowrap align-middle ps-2" data-column="6" data-sort="product">Total Product</th>
                                    <th class="sort white-space-nowrap align-middle ps-2" data-column="7" data-sort="quentity">Total Quantity</th>
                                    <th class="sort white-space-nowrap align-middle ps-2" data-column="8" data-sort="price">Total Price</th>
                                    <th class="sort align-middle text-end"  style="width:100px;" data-column="9">Action</th>
                                </tr>
                            </thead>



                            <tbody  id="product-Requisition-history-table">



                                



                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
                        <div class="col-auto">
                            @*<a class="btn btn-primary px-3" data-bs-toggle="modal" data-bs-target="#manualPurchase">Purchase</a>*@
                        </div>
                    </div>

                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
                        <div class="d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="showDown2" data-list-info="data-list-info">
                                Showing 1 to 3 of 3
                            </p>

                        </div>

                        <div class="d-flex">
                            <button class="page-link" data-list-pagination="prev">
                                <span class="fas fa-chevron-left"></span>
                            </button>
                            <ul class="mb-0 pagination">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                            </ul>
                            <button class="page-link pe-0" data-list-pagination="next">
                                <span class="fas fa-chevron-right"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>








<div class="modal fade" id="productPurchase" tabindex="-1" aria-labelledby="productPurchase" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDistribution">Product Purchase Information</h5>
                <button class="btn btn-close p-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="col-xl-12">
                    <form class="row g-3 mb-6">

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="productName">Product Name</label>
                                <select class="form-select choiceDD" id="productName1" asp-items="@ViewBag.ProductDD as SelectList">
                                    <option value="">Select Product</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="quantity">Quentity</label>
                                <input class="form-control" id="quantity1" type="text" placeholder="Enter Quantity" />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="unitPrice">Unit Price</label>
                                <input class="form-control" id="unitPrice1" type="text" placeholder="Enter unit Price" />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="supplierName">Supplier Name</label>
                                <select class="form-select choiceDD" id="supplierName1" asp-items="@ViewBag.SupplierDD as SelectList">
                                    <option value="">Select Supplier</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="purchaserName">Purchaser Name</label>
                                <select class="form-select choiceDD" id="purchaserName1" asp-items="@ViewBag.PurchaserDD as SelectList">
                                    <option value="">Select Purchaser</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="receiverName">Receiver Name</label>
                                <select class="form-select choiceDD" id="receiverName1" asp-items="@ViewBag.ReceiverDD as SelectList">
                                    <option value="">Select Receiver</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="warehouseName">Warehouse Name</label>
                                <select class="form-select choiceDD" id="warehouseName1" asp-items="@ViewBag.WareHouseDD as SelectList">
                                    <option value="0">Select Warehouse</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button">Okay</button>
                <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="manualPurchase" tabindex="-1" aria-labelledby="manualPurchase" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDistribution">Product Purchase Information</h5>
                <button class="btn btn-close p-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="col-xl-12">
                    <form class="row g-3 mb-6">

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="productName">Product Name</label>
                                <select class="form-select choiceDD" id="productName" asp-items="@ViewBag.ProductDD as SelectList">
                                    <option value="">Select Product</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="quantity">Quentity</label>
                                <input class="form-control" id="quantity" type="text" placeholder="Enter Quantity" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="unitPrice">Unit Price</label>
                                <input class="form-control" id="unitPrice" type="text" placeholder="Enter unit Price" />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="supplierName">Supplier Name</label>
                                <select class="form-select choiceDD" id="supplierName" asp-items="@ViewBag.SupplierDD as SelectList">
                                    <option value="">Select Supplier</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="purchaserName">Purchaser Name</label>
                                <select class="form-select choiceDD" id="purchaserName" asp-items="@ViewBag.PurchaserDD as SelectList">
                                    <option value="">Select Purchaser</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="receiverName">Receiver Name</label>
                                <select class="form-select choiceDD" id="receiverName" asp-items="@ViewBag.ReceiverDD as SelectList">
                                    <option value="">Select Receiver</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label for="warehouseName">Warehouse Name</label>
                                <select class="form-select choiceDD" id="warehouseName" asp-items="@ViewBag.WareHouseDD as SelectList">
                                    <option value="0">Select Warehouse</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button">Okay</button>
                <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/pages/RequisitionDistribtion/ProductPurchase.js"></script>
}