@model GCTL.Core.ViewModels.AttendanceManagement.ScheduleManagement.OffDayRoster.RosterInOffDaySetupVM

@{
    var employees = ViewBag.EmployeeList as List<GCTL.Core.ViewModels.CommonSelectVM>;
}

<form asp-controller="OffDayRoster" asp-action="Create" id="rosterInOffDay-form" enctype="multipart/form-data">
    <div class="modal-body pb-0">

        <div class="row g-3 mb-3">
            @* @Html.AntiForgeryToken() *@
            <input type="hidden" asp-for="RosterInOffDayID" />

            <div class="col-md">
                <label class="form-label" asp-for="OrganizationID">@Html.SmartLocalize("Organization Name")<span style="color:red;">&nbsp;*</span></label>
                <select class="form-select" asp-for="OrganizationID" asp-items="@ViewBag.OrganizationDD as SelectList">
                    <option value="">@Html.SmartLocalize("Select Organization")...</option>
                </select>
                <span id="OrganizationIDError" class="text-danger" style="display:none;"></span>
            </div>

            <div class="col-md branch">
                <label class="form-label" asp-for="BranchIDs">@Html.SmartLocalize("Branch Name")</label>
                <select class="form-multi-select"
                        asp-for="BranchIDs"
                        asp-items="@ViewBag.BrnchDD as SelectList"
                        multiple data-coreui-multiple="true"
                        data-coreui-selection-type="counter"
                        data-coreui-search="true"
                        data-coreui-placeholder="@Html.SmartLocalize("Select Branch")...">
                </select>
            </div>

            <div class="col-md department">
                <label class="form-label" asp-for="DepartmentIDs">@Html.SmartLocalize("Department Name")</label>
                <select class="form-multi-select"
                        asp-for="DepartmentIDs"
                        asp-items="@ViewBag.DepartmentDD as SelectList"
                        multiple data-coreui-multiple="true"
                        data-coreui-selection-type="counter"
                        data-coreui-search="true"
                        data-coreui-placeholder="@Html.SmartLocalize("Select Department")...">
                </select>
            </div>

            <div class="col-md employee">
                <label class="form-label" asp-for="EmployeeIDs">@Html.SmartLocalize("Employee Name")</label>
                <select class="form-multi-select"
                        asp-for="EmployeeIDs"
                        multiple data-coreui-multiple="true"
                        data-coreui-selection-type="counter"
                        data-coreui-search="true"
                        data-coreui-placeholder="@Html.SmartLocalize("Select Employee")...">
                    @foreach (var group in employees.GroupBy(e => e.GroupName))
                    {
                        <optgroup label="@group.Key">
                            @foreach (var emp in group)
                            {
                                <option value="@emp.Id">@emp.Name</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-md">
                <label class="form-label" asp-for="ShiftID">@Html.SmartLocalize("Shift Name")<span style="color:red;">&nbsp;*</span></label>
                <select class="form-select" asp-items="@ViewBag.ShiftDD as SelectList" asp-for="ShiftID">
                    <option value="">@Html.SmartLocalize("Select Shift")...</option>
                </select>
                <span id="ShiftIDError" class="text-danger" style="display:none;"></span>
            </div>

            <div class="col-md">
                <label class="form-label" asp-for="DayDate">@Html.SmartLocalize("Select Date")<span style="color:red;">&nbsp;*</span></label>
                <input class="form-control" asp-for="DayDate" type="text" placeholder="DD/MM/YYYY" disabled />
                <span id="DayDateError" class="text-danger" style="display:none;"></span>
            </div>

            <div class="col-md">
                <label class="form-label" asp-for="CompensationTypeID">Compensation Type<span style="color:red;">&nbsp;*</span></label>
                <select class="form-select" asp-for="CompensationTypeID" asp-items="@ViewBag.CompensationDD as SelectList">
                    <option value="">@Html.SmartLocalize("Select Compensation")...</option>
                </select>
                <span id="CompensationTypeIDError" class="text-danger" style="display:none;"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="row g-3 justify-content-end">
                <div class="col-auto">
                    <button type="reset" class="btn btn-phoenix-primary px-5" id="rosterInOffDay-resetBtn">@Html.SmartLocalize("Reset")</button>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary px-5 px-sm-10" id="rosterInOffDay-saveBtn">@Html.SmartLocalize("Save")</button>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Modal for Day Exchange -->
            <div class="modal fade" id="dayExchangeModal" tabindex="-1" aria-labelledby="dayExchangeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dayExchangeModalLabel">Day Exchange Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Day Exchange For:</p>
                            <span class="badge badge-phoenix badge-phoenix-success">2025/04/12</span>
                            <span class="badge badge-phoenix badge-phoenix-success">2025/04/19</span>

                            <div class="mb-3">
                                <label for="datepicker2" class="form-label">Exchange Date</label>
                                <input type="text" class="form-control" id="datepicker2" placeholder="yyy/mm/dd" data-options='{"disableMobile":true,"dateFormat":"Y-m-d"}'>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            @* <script>
                document.getElementById('leaveType').addEventListener('change', function () {
                  if (this.value === 'dayexchange1') {
                    const modal = new bootstrap.Modal(document.getElementById('dayExchangeModal'));
                    modal.show();
                  }
                });
            </script> *@

            <div id="dateSelect" class="">
                @* <script>
                    flatpickr("#datepicker2", {
                      mode: "multiple", // allow multiple selections
                      dateFormat: "Y-m-d",
                      enable: [
                        function(date) {
                          // Enable only Fridays (Friday = 5)
                          return date.getDay() !== 5;
                        }
                      ]
                    });
                </script> *@
            </div>

            @* <script>
                const leaveType = document.getElementById('leaveType');
                const dateSelect = document.getElementById('dateSelect');

                leaveType.addEventListener('change', function () {
                  if (this.value === 'dayexchange') {
                    dateSelect.style.display = 'block';
                  } else {
                    dateSelect.style.display = 'none';
                  }
                });
            </script> *@
        </div>
    </div>
</form>