@model GCTL.Core.ViewModels.Employee.EmployeeAllowance.EmployeeAdditionalPostViewModel

<div class="mb-9">
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col-auto">
        </div>
    </div>

    <div class="px-3 mb-5">

        <form asp-controller="EmployeeAllowance" asp-action="Index" as method="post">

        <div class="row">
            <div class="col-12">
                <input type="hidden" asp-for="EmployeeBaseAllowanceID" />

                <div class="row g-2 align-items-center">
                    <div class="col-md-3">
                        <div class="position-relative">
                            <input class="form-control search-input search" type="search" placeholder="@Html.SmartLocalize("Employee Name / Phone / Email")" aria-label="Search" />
                            <span class="fas fa-search search-box-icon position-absolute top-50 end-0 translate-middle-y me-3"></span>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <div class="form-floating form-floating-advance-select mb-2">
                            <label asp-for="EmployeePersonalId">@Html.SmartLocalize("Choose Employee")</label>
                            <select class="form-select" asp-for="EmployeePersonalId" asp-items="@ViewBag.EmployeeDD as SelectList">
                                <option value="">@Html.SmartLocalize("Select Employee")</option>
                            </select>
                        </div>
                    </div>
                        <div class="col-md-2 mb-2">
                        <div class="form-floating">
                            <input asp-for="PersonalEmail" class="form-control" type="email" placeholder="@Html.SmartLocalize("Email")" />
                            <label asp-for="PersonalEmail">@Html.SmartLocalize("Email")</label>
                        </div>
                    </div>
                        <div class="col-md-2 mb-2">
                        <div class="form-floating">
                            <input asp-for="PersonalPhone" class="form-control" type="text" placeholder="@Html.SmartLocalize("Enter Phone")" />
                            <label asp-for="PersonalPhone">@Html.SmartLocalize("Phone")</label>
                        </div>
                    </div>
                </div>

                <div class="mx-n4 mx-lg-n6 px-lg-6 bg-body-emphasis pb-4">
                    
                        <div class="col-12 col-xl-12 col-xxl-12">
                            <ul class="nav nav-underline fs-9 deal-details scrollbar flex-nowrap w-100 py-2 mb-2 mx-2" id="myTab" role="tablist">
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingPInfo">
                                    <a class="nav-link " href="/EmployeePersonal/index" role="tab" aria-selected="true" aria-controls="empPersonalInfo">
                                        <span class="fa-solid fa-user me-2 tab-icon-color"></span>@Html.SmartLocalize("Personal Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingEmpOfficialInfo">
                                    <a class="nav-link" href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empOfficialInfo">
                                        <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Official Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingempPayroleInfo">
                                    <a class="nav-link active" href="/EmployeeSalary/index" role="tab" aria-selected="false" aria-controls="empPayroleInfo">
                                        <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Payroll Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingAdditionalInfo">
                                    <a class="nav-link" href="/EmployeeAdditional/index" role="tab" aria-selected="false" aria-controls="additionalInfo">
                                        <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Additional Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingeducationInfo">
                                    <a class="nav-link" href="/EmployeeEducation/index" role="tab" aria-selected="false" aria-controls="educationInfo">
                                        <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Education Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingTranningInfo">
                                    <a class="nav-link" href="/EmployeeTraining/index" role="tab" aria-selected="false" aria-controls="tranningInfo">
                                        <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Training Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingFamilyInfo">
                                    <a class="nav-link" href="/EmployeeFamily/index" role="tab" aria-selected="false" aria-controls="familyInfo">
                                        <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Family Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingemmerhencyContactInfo">
                                    <a class="nav-link " href="/EmployeeContact/index" role="tab" aria-selected="false" aria-controls="emmerhencyContactInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Emergency Contact")</a>
                                </li>
                            </ul>

                            <div class="card tab-content bg-white accordion" id="myTabContent">
                                <div class="tab-pane show active fade p-2" role="tabpanel" id="empPayroleInfo" aria-labelledby="empPayroleInfo">
                                    <div class="px-25">
                                        <ul class="nav nav-underline fs-9" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="empSalary-tab" href="/EmployeeSalary/index" role="tab" aria-controls="tab-empSalary" aria-selected="false">@Html.SmartLocalize("Employee Salary Settings")</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="empBenefits-tab" href="/EmployeeBenifit/index" role="tab" aria-controls="tab-empBenefits" aria-selected="false">@Html.SmartLocalize("Employee Benefits")</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="empAllowance-tab" href="#" role="tab" aria-controls="tab-empAllowance" aria-selected="true">@Html.SmartLocalize("Employee Allowance")</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-3" id="myTabContent">
                                            <div class="tab-pane fade show active" id="tab-empAllowance" role="tabpanel" aria-labelledby="empAllowance-tab">
                                                <div class="card">
                                                    <div class="d-flex justify-content-center mt-2">
                                                        <div class="col-12 row flex gy-3">
                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                                                        <h5>@Html.SmartLocalize("Add Employee Allowance")</h5>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" asp-for="IsEmployeeAllowanceEnabled" type="checkbox" role="switch" id="allowanceEnabled" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                           

                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center">
                                                                        <label asp-for="MobileInternetAllowance">@Html.SmartLocalize("Mobile/Internet Allowance")</label>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" asp-for="IsMobileInternetAllowanceEnabled" role="switch" id="mobileInternetAllowanceEnabled" />
                                                                        </div>
                                                                    </div>
                                                                    <input class="form-control" asp-for="MobileInternetAllowance" type="number" step="0.01" placeholder="@Html.SmartLocalize("Ex: 1000 tk Monthly")" />
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center">
                                                                        <label asp-for="ShiftAllowance">@Html.SmartLocalize("Shift Allowance")</label>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" asp-for="IsShiftAllowanceEnabled" role="switch" id="shiftAllowanceEnabled" />
                                                                        </div>
                                                                    </div>
                                                                    <input class="form-control" asp-for="ShiftAllowance" type="number" step="0.01" placeholder="@Html.SmartLocalize("Ex: 500 tk Per Night Shift")" />
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                                                        <h5>@Html.SmartLocalize("House Rent Allowance")</h5>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" asp-for="IsHouseRentAllowancePercentageEnabled" role="switch" id="houseRentAllowanceEnabled" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="mb-3">
                                                                    <label asp-for="HouseRentAllowancePercentage">@Html.SmartLocalize("House Rent Allowance Rate")</label>
                                                                    <select class="form-select" asp-for="HouseRentAllowancePercentage" asp-items="@ViewBag.HouseRentAllowanceDD as SelectList">
                                                                        <option value="">@Html.SmartLocalize("Select %")</option>
                                                                       
                                                                    </select>
                                                                </div>
                                                            </div>

                                                           

                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                                                        <h5>@Html.SmartLocalize("Medical Allowance")</h5>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" asp-for="IsMedicalAllowancePercentageEnabled" role="switch" id="medicalAllowanceEnabled" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="mb-3">
                                                                    <label asp-for="MedicalAllowancePercentage">@Html.SmartLocalize("Medical Allowance Rate")</label>
                                                                    <select class="form-select" asp-for="MedicalAllowancePercentage" asp-items="@ViewBag.MedicalAllowanceDD as SelectList">
                                                                        <option value="">@Html.SmartLocalize("Select %")</option>
                                                                     
                                                                    </select>
                                                                </div>
                                                            </div>

                                                           

                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                                                        <h5>@Html.SmartLocalize("Conveyance Allowance")</h5>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" asp-for="IsConveyanceAllowancePercentageEnabled" role="switch" id="conveyanceAllowanceEnabled" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="mb-3">
                                                                    <label asp-for="ConveyanceAllowancePercentage">@Html.SmartLocalize("Conveyance Allowance Rate")</label>
                                                                    <select class="form-select" asp-for="ConveyanceAllowancePercentage" asp-items="@ViewBag.ConveyanceAllowanceDD as SelectList">
                                                                        <option value="">@Html.SmartLocalize("Select %")</option>
                                                                       
                                                                    </select>
                                                                </div>
                                                            </div>

                                                           

                                                            <div class="col-12">
                                                                <div class="row g-3 justify-content-end">
                                                                    <div class="col-auto">
                                                                        <button class="btn btn-phoenix-primary px-5" type="button">@Html.SmartLocalize("Cancel")</button>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <button class="btn btn-primary px-5 px-sm-15" type="submit">@Html.SmartLocalize("Save")</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>

        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/pages/employees/EmployeeAllownace.js"></script>
}