<div class="mb-9">
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col-auto">
        </div>


    </div>

    <div class="px-3 mb-5">
        <div class="row">
            <div class="col-12">

                <div class="search-box me-3 mb-3">
                    <form class="position-relative">
                        <input class="form-control search-input search" type="search" placeholder="Employee Name / Phone / Email" aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>

                    </form>
                </div>

                <div class="mx-n4 mx-lg-n6 px-lg-6  bg-body-emphasis pb-4">

                    <form action="">
                        <div class="col-12 col-xl-12 col-xxl-12">

                            <ul class="nav nav-underline fs-9 deal-details scrollbar flex-nowrap w-100 py-2 mb-2 mx-2" id="myTab" role="tablist">

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingPInfo">
                                    <a class="nav-link active" href="/EmployeePersonal/index" role="tab" aria-selected="true" aria-controls="empPersonalInfo"> <span class="fa-solid fa-user me-2 tab-icon-color"></span>@Html.SmartLocalize("Personal Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingEmpOfficialInfo">
                                    <a class="nav-link" href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empOfficialInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Official Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingempPayroleInfo">
                                    <a class="nav-link" href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empPayroleInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Payroll Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingAdditionalInfo">
                                    <a class="nav-link" href="/EmployeeAdditional/index" role="tab" aria-selected="false" aria-controls="additionalInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Additional Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingeducationInfo">
                                    <a class="nav-link" href="/EmployeeEducation/index" role="tab" aria-selected="false" aria-controls="educationInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Education Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingTranningInfo">
                                    <a class="nav-link" href="/EmployeeTraining/index" role="tab" aria-selected="false" aria-controls="tranningInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Training Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingFamilyInfo">
                                    <a class="nav-link" href="/EmployeeFamily/index" role="tab" aria-selected="false" aria-controls="familyInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Family Info.")</a>
                                </li>

                            </ul>

                            <div class="card tab-content bg-white accordion" id="myTabContent">

                      

                                <div class="tab-pane show active fade p-2" role="familyInfo" id="familyInfo" aria-labelledby="familyInfo">

                                    <div class=" px-25 ">
                                        <div class="d-flex justify-content-center my-8 ">

                                            <div class="col-12 row flex gy-3 ">

                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="" type="text" placeholder="Name" required />
                                                        <label for="">Name</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="" type="text" placeholder="Relationship" required />
                                                        <label for="">Relationship</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="" type="text" placeholder="Occupation" required />
                                                        <label for="">Occupation</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="year-of-passing" name="year-of-passing" required>
                                                            <option value="">Select Emergency Contact</option>
                                                            <option value="2024">Primary</option>
                                                            <option value="2023">Secondary</option>
                                                        </select>
                                                        </select>
                                                        <label for="floatingSelectLitigation">Emergency Contact</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="" type="text" placeholder="Contact Number" required />
                                                        <label for="">Contact Number </label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="" type="text" placeholder="Email" />
                                                        <label for="">Email</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="" type="text" placeholder="Address" />
                                                        <label for="">Address</label>
                                                    </div>
                                                </div>

                                                <button class="btn btn-outline-primary rounded-pill me-1 mb-1 mx-3" type="button" style="width: 100px;">Add</button>

                                            </div>
                                        </div>

                                        <h4 class="border-bottom">Tranning Summary</h4>

                                        <div class="col-sm-12 col-md-12 col-xl-12 px-4 mt-4">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Relationship</th>
                                                        <th scope="col">Occupation	</th>
                                                        <th scope="col">Contact Number</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Emergency Contact</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Md. Motin Mia</th>
                                                        <td>Brother</td>
                                                        <td>Business</td>
                                                        <td>01732 023 012</td>
                                                        <td>motin@email.com</td>
                                                        <td>Mirpur,Dhaka</td>
                                                        <td>Yes</td>
                                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4 ">
                                                            <div class="btn-reveal-trigger position-static g-3">
                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#edit_emmergencyContact">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>

                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                                    <i class="fas fa-trash"></i>
                                                                </a>

                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row">Md. Rakibul Islam</th>
                                                        <td>Brother</td>
                                                        <td>Business</td>
                                                        <td>01732 256 456</td>
                                                        <td>Rakibul@email.com</td>
                                                        <td>Mirpur,Dhaka</td>
                                                        <td>No</td>
                                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4 ">
                                                            <div class="btn-reveal-trigger position-static g-3">
                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#edit_emmergencyContact">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>

                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                                    <i class="fas fa-trash"></i>
                                                                </a>

                                                            </div>
                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>

                                    </div>



                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>