@using GCTL.Core.ViewModels.Employee.EmployeeNavigtion
@model GCTL.Core.ViewModels.Employee.EmployeeFamily.EmployeeFamilyPostViewModel



<!-- Delete Modal -->
<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-danger text-danger mb-3">
                    <i class="ti ti-trash-x fs-36"></i>
                </span>
                <h4 class="mb-1">Confirm Delete</h4>
                <p class="mb-3">You want to delete the item, this cant be undone once you delete.</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" id="dismisDeleteModal" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a id="confirmDeleteBtn" class="btn btn-danger">Yes, Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->



<!-- Edit Education -->
<div class="modal fade" id="edit_family">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-3">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h4 class="modal-title me-2">Edit Educational Info</h4>
                </div>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <input type="hidden" id="editEmployeeFamilyInfoID" />

            <div class="modal-body">
                <div class="col-12 row flex gy-3 ">

                    <div class="col-sm-6 col-md-6">
                        <div class="form-floating">
                            <input id="editFullName" class="form-control" id="" type="text" placeholder="Name" required />
                            <label id="editFullName">Name</label>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="form-floating">
                            <input id="editRelationToEmployee" class="form-control" id="" type="text" placeholder="Relationship" required />
                            <label id="editRelationToEmployee">Relationship</label>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="form-floating">
                            <input id="editOccupation" class="form-control" id="" type="text" placeholder="Occupation" required />
                            <label id="editOccupation">Occupation</label>
                        </div>
                    </div>



                    <div class="col-sm-6 col-md-6">
                        <div class="form-floating">
                            <input id="editContactNumber" class="form-control" id="" type="text" placeholder="Contact Number" required />
                            <label id="editContactNumber">Contact Number </label>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="form-floating">
                            <input id="editEmail" class="form-control" id="" type="text" placeholder="Email" />
                            <label id="editEmail">Email</label>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-floating">
                            <input id="editAddress" class="form-control" id="" type="text" placeholder="Address" />
                            <label id="editAddress">Address</label>
                        </div>
                    </div>


                    <button class="btn btn-outline-primary rounded-pill me-1 mb-1 mx-3" id="btnEditSubmit" type="button" style="width: 100px;">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mb-9">
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col-auto">
        </div>
    </div>

    <div class="px-3 mb-5">
        <div class="row">
            <form asp-controller="EmployeeFamily" asp-action="Index" method="post">
                <div class="col-12">
                    

                    <div class="row g-2 align-items-center">
                        <div class="col-md-3">
                            <div class="position-relative">
                                <input class="form-control search-input search" type="search" placeholder="@Html.SmartLocalize("Employee Name / Phone / Email")" aria-label="Search" />
                                <span class="fas fa-search search-box-icon position-absolute top-50 end-0 translate-middle-y me-3"></span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <div class="form-floating form-floating-advance-select mb-2">
                                <label asp-for="EmployeePersonalId">@Html.SmartLocalize("Choose Employee")</label>
                                <select class="form-select choiceDD" asp-for="EmployeePersonalId" asp-items="@ViewBag.EmployeeDD as SelectList">
                                    <option value="">@Html.SmartLocalize("Select Employee")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="form-floating">
                                <input asp-for="PersonalEmail" class="form-control" type="email" placeholder="@Html.SmartLocalize("Email")" />
                                <label asp-for="PersonalEmail">@Html.SmartLocalize("Email")</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="form-floating">
                                <input asp-for="PersonalPhone" class="form-control" type="text" placeholder="@Html.SmartLocalize("Enter Phone")" />
                                <label asp-for="PersonalPhone">@Html.SmartLocalize("Phone")</label>
                            </div>
                        </div>
                    </div>

                <div class="mx-n4 mx-lg-n6 px-lg-6  bg-body-emphasis pb-4">

                   
                        <div class="col-12 col-xl-12 col-xxl-12">


                            @await Html.PartialAsync("Employee/_EmployeeNavigation", ViewBag.Navigation as EmployeeNavigationViewModel)

                            <!--

                            <ul class="nav nav-underline fs-9 deal-details scrollbar flex-nowrap w-100 py-2 mb-2 mx-2" id="myTab" role="tablist">

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingPInfo">
                                    <a class="nav-link " href="/EmployeePersonal/index" role="tab" aria-selected="true" aria-controls="empPersonalInfo"> <span class="fa-solid fa-user me-2 tab-icon-color"></span>@Html.SmartLocalize("Personal Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingEmpOfficialInfo">
                                    <a class="nav-link" href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empOfficialInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Official Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingempPayroleInfo">
                                    <a class="nav-link" href="/EmployeeSalary/index" role="tab" aria-selected="false" aria-controls="empPayroleInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Payroll Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingAdditionalInfo">
                                    <a class="nav-link" href="/EmployeeAdditional/index" role="tab" aria-selected="false" aria-controls="additionalInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Additional Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingeducationInfo">
                                    <a class="nav-link" href="/EmployeeEducation/index" role="tab" aria-selected="false" aria-controls="educationInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Education Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingTranningInfo">
                                    <a class="nav-link" href="/EmployeeTraining/index" role="tab" aria-selected="false" aria-controls="tranningInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Training Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingFamilyInfo">
                                    <a class="nav-link active" href="/EmployeeFamily/index" role="tab" aria-selected="false" aria-controls="familyInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Family Info.")</a>
                                </li>

                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingemmerhencyContactInfo">
                                    <a class="nav-link " href="/EmployeeContact/index" role="tab" aria-selected="false" aria-controls="emmerhencyContactInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Emergency Contact")</a>
                                </li>

                            </ul>

                            -->

                            <div class="tab-pane fade show active p-2" role="familyInfo" id="familyInfo" aria-labelledby="familyInfo">

                                <div class=" px-25 ">
                                    <div class="d-flex justify-content-center my-8 ">

                                        <div class="col-12 row flex gy-3 ">

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-floating">
                                                    <input asp-for="FullName" class="form-control req" id="" type="text" placeholder="Name" required />
                                                    <label asp-for="FullName" class="req">Name</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-floating">
                                                    <input asp-for="RelationToEmployee" class="form-control" id="" type="text" placeholder="Relationship" required />
                                                    <label asp-for="RelationToEmployee">Relationship</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-floating">
                                                    <input asp-for="Occupation" class="form-control" id="" type="text" placeholder="Occupation" required />
                                                    <label asp-for="Occupation">Occupation</label>
                                                </div>
                                            </div>



                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-floating">
                                                    <input asp-for="ContactNumber" class="form-control" id="" type="text" placeholder="Contact Number" required />
                                                    <label asp-for="ContactNumber">Contact Number </label>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-floating">
                                                    <input asp-for="Email" class="form-control" id="" type="text" placeholder="Email" />
                                                    <label asp-for="Email">Email</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-floating">
                                                    <input asp-for="Address" class="form-control" id="" type="text" placeholder="Address" />
                                                    <label asp-for="Address">Address</label>
                                                </div>
                                            </div>

                                            <button  class="btn btn-outline-primary rounded-pill me-1 mb-1 mx-3" type="submit" style="width: 100px;">Add</button>

                                        </div>
                                    </div>

                                    <h4 class="border-bottom">Family information Summary</h4>

                                    <div class="col-sm-12 col-md-12 col-xl-12 px-4 mt-4">
                                        <table class="table" id="employeeFamilyTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Relationship</th>
                                                    <th scope="col">Occupation	</th>
                                                    <th scope="col">Contact Number</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Address</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <!--
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Md. Motin Mia</th>
                                                    <td>Brother</td>
                                                    <td>Business</td>
                                                    <td>01732 023 012</td>
                                                    <td>motin@email.com</td>
                                                    <td>Mirpur,Dhaka</td>
                                                    <td class="align-middle white-space-nowrap text-end pe-0 ps-4 ">
                                                        <div class="btn-reveal-trigger position-static g-3">
                                                            <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#edit_family">
                                                                <i class="fas fa-edit"></i>
                                                            </a>

                                                            <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                                <i class="fas fa-trash"></i>
                                                            </a>

                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Md. Rakibul Islam</th>
                                                    <td>Brother</td>
                                                    <td>Business</td>
                                                    <td>01732 256 456</td>
                                                    <td>Rakibul@email.com</td>
                                                    <td>Mirpur,Dhaka</td>
                                                    <td class="align-middle white-space-nowrap text-end pe-0 ps-4 ">
                                                        <div class="btn-reveal-trigger position-static g-3">
                                                            <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#edit_family">
                                                                <i class="fas fa-edit"></i>
                                                            </a>

                                                            <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                                <i class="fas fa-trash"></i>
                                                            </a>

                                                        </div>
                                                    </td>
                                                </tr>


                                            </tbody>
                                            -->
                                            

                                        </table>
                                    </div>

                                </div>



                            </div>


                        </div>
                    
                </div>
            </div>
            </form>
        </div>
    </div>



</div>



@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/pages/employees/employeevalidator.js"></script>
    <script src="~/js/pages/employees/employeefamily.js"></script>
    
    <script src="~/js/pages/employees/employeetabchange.js"></script>
	
}