@* @model GCTL.Core.ViewModels.MasterSetup.ResultType.ResultTypeVM

<div class="card">
    <div class="card-header border-bottom-1">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <h3 class="text-body-emphasis mt-3">Add Result Type</h3>
            </div>
        </div>
    </div>

    <div class="card-body mt-3">
        <form asp-action="Create" asp-controller="ResultType" method="post" enctype="multipart/form-data" id="resultType-form">
            @Html.AntiForgeryToken()
            <div class="col-sm-12 col-md-12 mb-4">
                <input type="hidden" asp-for="ResultTypeID" />
                <div class="flatpickr-input-container">
                    <div class="form-floating">
                        <input class="form-control" asp-for="ResultTypeName" type="text" placeholder="Result Type Name" />
                        <label asp-for="ResultTypeName">Result Type Name <span style="color: red;">*</span></label>
                    </div>
                    <span asp-validation-for="ResultTypeName" class="text-danger"></span>
                    <span id="nameError" class="text-danger" style="display:none;"></span>
                </div>
            </div>

            <div class="col-12 mb-4">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <button type="reset" class="btn btn-phoenix-primary px-5" id="resultType-resetBtn">Reset</button>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary px-5 px-sm-15" id="resultType-saveBtn">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> *@
@model GCTL.Core.ViewModels.MasterSetup.ResultType.ResultTypeVM

<div class="card">
    <div class="card-header border-bottom-1">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <h3 class="text-body-emphasis mt-3">@Html.SmartLocalize("Add Result Type")</h3>
            </div>
        </div>
    </div>

    <div class="card-body mt-3">
        <form asp-action="Create" asp-controller="ResultType" method="post" enctype="multipart/form-data" id="resultType-form">
            @Html.AntiForgeryToken()
            <div class="col-sm-12 col-md-12 mb-4">
                <input type="hidden" asp-for="ResultTypeID" />
                <div class="flatpickr-input-container">
                    <div class="form-floating">
                        <input class="form-control" asp-for="ResultTypeName" type="text" placeholder="@Html.SmartLocalize("Result Type Name")" />
                        <label asp-for="ResultTypeName">@Html.SmartLocalize("Result Type Name") <span style="color: red;">*</span></label>
                    </div>
                    <span asp-validation-for="ResultTypeName" class="text-danger"></span>
                    <span id="nameError" class="text-danger" style="display:none;"></span>
                </div>
            </div>

            <div class="col-12 mb-4">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <button type="reset" class="btn btn-phoenix-primary px-5" id="resultType-resetBtn">@Html.SmartLocalize("Reset")</button>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary px-5 px-sm-15" id="resultType-saveBtn">@Html.SmartLocalize("Save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
