@model GCTL.Core.ViewModels.Employee.EmployeeContact.EmployeeContactViewModel

<style>
    .custom-autocomplete-dropdown {
        position: absolute;
        z-index: 1000;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        max-height: 200px;
        overflow-y: auto;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    .autocomplete-item {
        padding: 8px 12px;
        cursor: pointer;
    }

        .autocomplete-item:hover {
            background: #f0f0f0;
        }
</style>

<div class="mb-9">
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col-auto">
        </div>
    </div>

    <div class="px-3 mb-5">
        <div class="row">
            <form asp-controller="EmployeeContact" asp-action="Index" method="post" enctype="multipart/form-data" id="contactForm">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="EmployeeEmeContactID" />

                <div class="col-12">
                    <div class="row g-2 align-items-center">
                        <div class="col-md-3">
                            <div class="position-relative">
                                <input class="form-control search-input search" type="search" placeholder="@Html.SmartLocalize("Employee Name / Phone / Email")" aria-label="Search" />
                                <span class="fas fa-search search-box-icon position-absolute top-50 end-0 translate-middle-y me-3"></span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-2"style="margin-bottom: -1%;">
                            <div class="form-floating form-floating-advance-select mb-2">
                                <label asp-for="EmployeePersonalId">@Html.SmartLocalize("Choose Employee")</label>
                                <select class="form-select" asp-for="EmployeePersonalId" asp-items="@(ViewBag.EmployeeDD as SelectList)" id="EmployeePersonalId">
                                    <option value="">@Html.SmartLocalize("Select Employee")</option>
                                </select>
                                <span asp-validation-for="EmployeePersonalId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="form-floating">
                                <input asp-for="PersonalEmail" id="PersonalEmail" class="form-control" type="email" placeholder="@Html.SmartLocalize("Email")" readonly />
                                <label asp-for="PersonalEmail">@Html.SmartLocalize("Email")</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="form-floating">
                                <input asp-for="PersonalPhone" id="PersonalPhone" class="form-control" type="text" placeholder="@Html.SmartLocalize("Phone")" readonly />
                                <label asp-for="PersonalPhone">@Html.SmartLocalize("Phone")</label>
                            </div>
                        </div>
                    </div>

                    <div class="mx-n4 mx-lg-n6 px-lg-6 bg-body-emphasis pb-4">
                        <div class="col-12 col-xl-12 col-xxl-12">
                            <ul class="nav nav-underline fs-9 deal-details scrollbar flex-nowrap w-100 py-2 mb-2 mx-2" id="myTab" role="tablist">
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingPInfo">
                                    <a class="nav-link" href="/EmployeePersonal/index" role="tab" aria-selected="false" aria-controls="empPersonalInfo">
                                        <span class="fa-solid fa-user me-2 tab-icon-color"></span>@Html.SmartLocalize("Personal Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingEmpOfficialInfo">
                                    <a class="nav-link" href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empOfficialInfo">
                                        <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Official Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingempPayroleInfo">
                                    <a class="nav-link" href="/EmployeeSalary/index" role="tab" aria-selected="false" aria-controls="empPayroleInfo">
                                        <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Payroll Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingAdditionalInfo">
                                    <a class="nav-link" href="/EmployeeAdditional/index" role="tab" aria-selected="false" aria-controls="additionalInfo">
                                        <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Additional Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingeducationInfo">
                                    <a class="nav-link" href="/EmployeeEducation/index" role="tab" aria-selected="false" aria-controls="educationInfo">
                                        <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Education Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingTranningInfo">
                                    <a class="nav-link" href="/EmployeeTraining/index" role="tab" aria-selected="false" aria-controls="tranningInfo">
                                        <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Training Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingFamilyInfo">
                                    <a class="nav-link" href="/EmployeeFamily/index" role="tab" aria-selected="false" aria-controls="familyInfo">
                                        <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Family Info.")
                                    </a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingemmerhencyContactInfo">
                                    <a class="nav-link active" href="/EmployeeContact/index" role="tab" aria-selected="true" aria-controls="emmerhencyContactInfo">
                                        <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Emergency Contact")
                                    </a>
                                </li>
                            </ul>

                            <div class="card tab-content bg-white accordion" id="myTabContent">
                                <div class="tab-pane show active fade p-2" role="tabpanel" id="emmerhencyContactInfo" aria-labelledby="emmerhencyContactInfo">
                                    <div class="px-25">
                                        <div class="d-flex justify-content-center my-8">
                                            <div class="col-12 row flex gy-3">

                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <input asp-for="ContactName" class="form-control req" id="ContactName" type="text" placeholder="@Html.SmartLocalize("Name")" required />
                                                        <label asp-for="ContactName" class="req">@Html.SmartLocalize("Name")</label>
                                                        <span asp-validation-for="ContactName" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <input asp-for="Relationship" class="form-control req" id="Relationship" type="text" placeholder="@Html.SmartLocalize("Relationship")" required />
                                                        <label asp-for="Relationship" class="req">@Html.SmartLocalize("Relationship")</label>
                                                        <span asp-validation-for="Relationship" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <input asp-for="ContactNumber" class="form-control req" id="ContactNumber" type="text" placeholder="@Html.SmartLocalize("Contact Number")" required />
                                                        <label asp-for="ContactNumber" class="req">@Html.SmartLocalize("Contact Number")</label>
                                                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-floating">
                                                        <input asp-for="ContactEmail" class="form-control" id="ContactEmail" type="email" placeholder="@Html.SmartLocalize("Email")" />
                                                        <label asp-for="ContactEmail">@Html.SmartLocalize("Email")</label>
                                                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <button class="btn btn-outline-primary rounded-pill me-1 mb-1 mx-3" type="button" style="width: 100px;">@Html.SmartLocalize("Add")</button>
                                            </div>
                                        </div>

                                        <h4 class="border-bottom">@Html.SmartLocalize("Emergency Contact Summary")</h4>

                                        <div class="col-sm-12 col-md-12 col-xl-12 px-4 mt-4">
                                            <table class="table" id="employeeContactTable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">@Html.SmartLocalize("Name")</th>
                                                        <th scope="col">@Html.SmartLocalize("Relationship")</th>
                                                        <th scope="col">@Html.SmartLocalize("Contact Number")</th>
                                                        <th scope="col">@Html.SmartLocalize("Email")</th>
                                                        <th scope="col">@Html.SmartLocalize("Action")</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit_emmergencyContact">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-3">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h4 class="modal-title me-2">@Html.SmartLocalize("Edit Emergency Contact")</h4>
                </div>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" id="editEmployeeEmeContactID" />
                    <div class="col-12 row flex gy-3">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-floating">
                                <input id="editContactName" class="form-control req" type="text" placeholder="@Html.SmartLocalize("Name")" required />
                                <label for="editContactName" class="req">@Html.SmartLocalize("Name")</label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-floating">
                                <input id="editRelationship" class="form-control req" type="text" placeholder="@Html.SmartLocalize("Relationship")" required />
                                <label for="editRelationship" class="req">@Html.SmartLocalize("Relationship")</label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-floating">
                                <input id="editContactNumber" class="form-control req" type="text" placeholder="@Html.SmartLocalize("Contact Number")" required />
                                <label for="editContactNumber" class="req">@Html.SmartLocalize("Contact Number")</label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-floating">
                                <input id="editContactEmail" class="form-control" type="email" placeholder="@Html.SmartLocalize("Email")" />
                                <label for="editContactEmail">@Html.SmartLocalize("Email")</label>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary rounded-pill me-1 mb-1 mx-3" id="btnEditSubmit" type="button" style="width: 100px;">@Html.SmartLocalize("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-danger text-danger mb-3">
                    <i class="ti ti-trash-x fs-36"></i>
                </span>
                <h4 class="mb-1">@Html.SmartLocalize("Confirm Delete")</h4>
                <p class="mb-3">@Html.SmartLocalize("You want to delete the item, this cannot be undone once you delete.")</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" id="dismisDeleteModal" class="btn btn-light me-3" data-bs-dismiss="modal">@Html.SmartLocalize("Cancel")</a>
                    <a id="confirmDeleteBtn" class="btn btn-danger">@Html.SmartLocalize("Yes, Delete")</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/pages/employees/employeevalidator.js"></script>
    <script src="~/js/pages/employees/employeecontact.js"></script>
    
    <script src="~/js/pages/employees/employeetabchange.js"></script>

}