

@{
    var employees = ViewBag.EmployeeList as List<GCTL.Core.ViewModels.AttendanceManagement.LeaveManagements.LeaveRequest.MultiDropDown>;
}

<style>
    #leaveRequest-searchForm {
        position: relative;
    }

    #leaveRequest-searchInput {
        padding-right: 2.25rem; /* Leave space for the icon inside */
        height: calc(1.5em + 0.75rem + 2px); /* Same as .form-select */
    }

    .search-box-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #6c757d;
        pointer-events: none;
    }


    .date-input {
        width: 108%;
        border: 2px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        transition: all 0.3s ease;
        background: white;
    }

        .date-input:focus {
            outline: none;
            border-color: #4facfe;
            box-shadow: 0 0 0 3px rgba(79, 172, 254, 0.1);
        }

    .date-picker-wrapper .footer {
        display: none !important;
    }


    .date-picker-wrapper {
        margin-left: 8.2vw !important;
    }
</style>

<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb">
    <div class="my-auto mb-2">
        <h2 class="mb-1">Leave Histroy</h2>

    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap ">
        <div class="me-2 mb-2">
            <div class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                    <i class="ti ti-file-export me-1"></i>Export
                </a>
                <ul class="dropdown-menu  dropdown-menu-end p-3">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-pdf me-1"></i>Export as PDF</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-xls me-1"></i>Export as Excel </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="card-body py-0  to-do-list-body">
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis py-2 border-y">

        <div class="row g-3 align-items-end mb-4" style="margin-right:1%">
            <!-- Company -->
            <div class="col-md-4 one">
                <label class="form-label">@Html.SmartLocalize("Organizer")</label>
                <div class="dropdown">
                    <select class="form-multi-select" id="OrganizationID" asp-items="@ViewBag.OrganizationDD as SelectList" data-coreui-multiple="false" data-coreui-search="true">
                        <option value="">@Html.SmartLocalize("Select Company")</option>
                    </select>
                </div>
            </div>

            <!-- Department -->
            <div class="col-md-4 two">
                <label class="form-label">@Html.SmartLocalize("Department")</label>
                <div class="dropdown">
                    <select class="form-multi-select" id="DepartmentIDs" asp-items="@ViewBag.DepartmentDD as SelectList" multiple data-coreui-multiple="true" data-coreui-selection-type="counter" data-coreui-search="true">
                    </select>
                </div>
            </div>

            <!-- Employee -->
            <div class="col-md-4">
                <label class="form-label">@Html.SmartLocalize("Employee")</label>
                <div class="dropdown">
                    <select class="form-multi-select" id="EmployeeIDs" multiple data-coreui-multiple="true" data-coreui-selection-type="counter" data-coreui-search="true">
                        @foreach (var group in employees.GroupBy(e => e.DepartmentName))
                        {
                            <optgroup label="@group.Key">
                                @foreach (var emp in group)
                                {
                                    <option value="@emp.EmployeeID">@emp.EmployeeName</option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
        </div>


        <div class="row g-3 justify-content-between align-items-end mb-4">

            <div class="col-12 col-sm-auto">
                <div class="d-flex align-items-center me-3" style="width: auto;">
                    <span class="ms-2">@Html.SmartLocalize("Showing"):</span> &nbsp;
                    <div style="width: 100%;">
                        <select id="leaveRequest-pageSizeSelect" class="form-select form-select-sm" tabindex="10">
                            <option class="dropdown-item" value="5">@Html.SmartLocalize("5")</option>
                            <option class="dropdown-item" value="10">@Html.SmartLocalize("10")</option>
                            <option class="dropdown-item" value="25">@Html.SmartLocalize("25")</option>
                            <option class="dropdown-item" value="50">@Html.SmartLocalize("50")</option>
                            <option class="dropdown-item" value="100">@Html.SmartLocalize("100")</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-auto">
                <div class="d-flex align-items-center">
                    <div class="d-none me-3" id="leaveRequest-bulkSelectActions">
                        <div class="position-relative">
                            <button type="button" class="btn btn-phoenix-danger btn-sm ms-2" id="leaveRequest-bulkDelBtn">@Html.SmartLocalize("Delete")</button>
                        </div>
                    </div>

                    <div class="me-5">
                        <div class="position-relative">
                            <input type="text" id="basic-daterange" class="date-input form-control-sm" placeholder="d/m/y to d/m/y" readonly>

                            <input type="hidden" id="basic-daterange_fromHidden" name="FromDate" />
                            <input type="hidden" id="basic-daterange_toHidden" name="ToDate" />
                        </div>

                    </div>
                    <div class="dropdown me-3">
                        <select class="form-select" data-choices="data-choices" size="1" id="StatusIDFilterDD" asp-items="@ViewBag.StatusDD as SelectList" data-options='{"removeItemButton":true,"placeholder":true}'>
                            <option value="">Select Status</option>

                        </select>
                    </div>

                    <div class="dropdown me-3" id="leaveRequest-searchBox">
                        <form class="position-relative" id="leaveRequest-searchForm">
                            <input class="form-control search-input" id="leaveRequest-searchInput" type="search"
                                   placeholder="@Html.SmartLocalize("Search here")" aria-label="Search" />
                            <span class="fas fa-search search-box-icon"></span>
                        </form>
                    </div>



                </div>
            </div>
        </div>

        <div class="table-responsive ms-n1 ps-1 scrollbar">
            <table class="table fs-9 mb-0 border-top border-translucent">

                <thead>
                    <tr>
                        <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                            <div class="form-check mb-0 fs-8">
                                <input class="form-check-input" type="checkbox" />
                            </div>
                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col"
                            data-sort="approveByEmployee">Employee Name</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="leaveType">Leave Type</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="leaveFrom">From Date</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="leaveTo">To Date</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="leaveTotalDay">Period</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="status">Unit Type</th>

                    </tr>
                </thead>
                <tbody id="leaveBalances-tBody">
                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                        <td class="fs-9 align-middle py-0">
                            <div class="form-check mb-0 fs-8">
                                <input class="form-check-input" type="checkbox"
                                       data-bulk-select-row='{"approveByEmployee":"Hasan Ali","leaveType":"Casual Leave","leaveFrom":"01 Jan 2024","leaveTo":"01 Jan 2024","leaveTotalDay":"1 day"}' />
                            </div>
                        </td>


                        <td class="approveByEmployee align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-1">
                            <div class="d-flex align-items-center file-name-icon">
                                <div class="avatar avatar-m avatar-bordered me-4">
                                    <img class="rounded-circle " src="../../assets/img/users/user-01.jpg" alt="" />
                                </div>
                                <div class="ms-1">
                                    <h6 class="fw-bold"><a href="#" data-bs-toggle="modal" data-bs-target="#view_emp_leave_details">Md. Hasan</a> </h6>
                                    <span class="fs-12 fw-normal ">Developer</span>
                                </div>
                            </div>
                        </td>

                        <td class="hdDescription align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">
                            <div class="d-flex align-items-center">
                                <p class="fs-14 fw-medium d-flex align-items-center mb-0">Casual Leave</p>
                                <span href="#" class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right"
                                      data-bs-title="I am currently experiencing a fever and design & Development">
                                    <i class="ti ti-info-circle text-info"></i>
                                </span>
                            </div>
                        </td>

                        <td class="leaveFrom align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">01 Jan 2024</td>
                        <td class="leaveTo align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">01 Jan 2024</td>
                        <td class="leaveTotalDay align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">1</td>
                        <td class="leaveTotalDay align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">Day</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
            <div class="d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="leaveRequest-paginationInfo"></p>

                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
            </div>
            <div class="d-flex">
                <button class="page-link" data-list-pagination="prev" id="leaveRequest-prevPageBtn"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination" id="leaveRequest-paginationLinks"></ul>
                <button class="page-link pe-0" data-list-pagination="next" id="leaveRequest-nextPageBtn"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    
    <script src="~/js/pages/attendancemanagement/leavemanagements/leavehistorybalances/leavehistory.js"></script>
}
