@model GCTL.Core.ViewModels.Employee.EmployeeEducational.EmployeeEducationalPostViewModel


<!-- Delete Modal -->
<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-danger text-danger mb-3">
                    <i class="ti ti-trash-x fs-36"></i>
                </span>
                <h4 class="mb-1">Confirm Delete</h4>
                <p class="mb-3">You want to delete the item, this cant be undone once you delete.</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" id="dismisDeleteModal" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a id="confirmDeleteBtn" class="btn btn-danger">Yes, Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->



<!-- Edit Education -->
<div class="modal fade" id="edit_education">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-3">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h4 class="modal-title me-2">Edit Educational Info</h4>
                </div>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <input type="hidden" id="editEmployeeEducationalInfoID" />

            <div class="modal-body">
                <div class="col-12 row flex gy-3 ">

                    <div class="col-sm-12 col-md-4">
                        <div class="form-floating form-floating-advance-select">
                            <label >@Html.SmartLocalize("Level of Education")</label>
                            <select class="form-select choiceDD" id="editEducationLevelID" asp-items="@(new SelectList(ViewBag.EducationLevel.Items, "Value", "Text"))">
                                <option value="" selected disabled>@Html.SmartLocalize("Select Education Level")</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="form-floating form-floating-advance-select">
                            <label id="editDegreeID">@Html.SmartLocalize("Select Exam/Degree Title")</label>
                            <select class="form-select choiceDD" id="editDegreeID" asp-items="@(new SelectList(ViewBag.Degree.Items, "Value", "Text"))">
                                <option value="" selected disabled>@Html.SmartLocalize("Select your exam/degree title")</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="form-floating">
                            <input id="editMajorSubject" class="form-control" type="text" placeholder="@Html.SmartLocalize("Concentration/ Major/Group")" required />
                            <label id="editMajorSubject">@Html.SmartLocalize("Concentration/ Major/Group")</label>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="form-floating form-floating-advance-select">
                            <label id="editEducationBoardID">@Html.SmartLocalize("Education Board")</label>
                            <select class="form-select choiceDD" id="editEducationBoardID" asp-items="@(new SelectList(ViewBag.EducationBoard.Items, "Value", "Text"))">
                                <option value="" selected disabled>@Html.SmartLocalize("Select Education Board")</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="form-floating">
                            <input id="editInstitutionName" class="form-control" type="text" placeholder="@Html.SmartLocalize("Institute Name")" required />
                            <label id="editInstitutionName">@Html.SmartLocalize("Institute Name")</label>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="form-floating form-floating-advance-select">
                            <label id="editResultTypeID">@Html.SmartLocalize("Result Type")</label>
                            <select class="form-select choiceDD" id="editResultTypeID" asp-items="@(new SelectList(ViewBag.ResultType.Items, "Value", "Text"))">
                                <option value="" selected disabled>@Html.SmartLocalize("Select Result Type")</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="form-floating form-floating-advance-select">
                            <label id="editPassingYearID">@Html.SmartLocalize("Passing Year")</label>
                            <select class="form-select choiceDD" id="editPassingYearID" asp-items="@(new SelectList(ViewBag.PassingYear.Items, "Value", "Text"))">
                                <option value="" selected disabled>@Html.SmartLocalize("Select Passing Year")</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="form-floating">
                            <input id="editYearDuration" class="form-control" type="text" placeholder="@Html.SmartLocalize("Duration (Years)")" />
                            <label id="editYearDuration">@Html.SmartLocalize("Duration (Years)")</label>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="form-floating">
                            <input id="editAchievement" class="form-control" type="text" placeholder="@Html.SmartLocalize("Achievement")" />
                            <label id="editAchievement">@Html.SmartLocalize("Achievement")</label>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary rounded-pill me-1 mb-1 mx-3" id="btnEditSubmit" type="button" style="width: 100px;">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mb-9">
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col-auto">
        </div>
    </div>

    <div class="px-3 mb-5">
        <div class="row">
            <form asp-controller="EmployeeEducation" asp-action="Index" method="post">
                <div class="col-12">
                    

                    <div class="row g-2 align-items-center">
                        <div class="col-md-3">
                            <div class="position-relative">
                                <input class="form-control search-input search" type="search" placeholder="@Html.SmartLocalize("Employee Name / Phone / Email")" aria-label="Search" />
                                <span class="fas fa-search search-box-icon position-absolute top-50 end-0 translate-middle-y me-3"></span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <div class="form-floating form-floating-advance-select mb-2">
                                <label asp-for="EmployeePersonalId">@Html.SmartLocalize("Choose Employee")</label>
                                <select class="form-select" asp-for="EmployeePersonalId" asp-items="@ViewBag.EmployeeDD as SelectList">
                                    <option value="">@Html.SmartLocalize("Select Employee")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input asp-for="PersonalEmail" class="form-control" type="email" placeholder="@Html.SmartLocalize("Email")" />
                                <label asp-for="PersonalEmail">@Html.SmartLocalize("Email")</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input asp-for="PersonalPhone" class="form-control" type="text" placeholder="@Html.SmartLocalize("Enter Phone")" />
                                <label asp-for="PersonalPhone">@Html.SmartLocalize("Phone")</label>
                            </div>
                        </div>
                    </div>

                    <div class="mx-n4 mx-lg-n6 px-lg-6  bg-body-emphasis pb-4">
                        <div class="col-12 col-xl-12 col-xxl-12">
                            <ul class="nav nav-underline fs-9 deal-details scrollbar flex-nowrap w-100 py-2 mb-2 mx-2" id="myTab" role="tablist">
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingPInfo">
                                    <a class="nav-link " href="/EmployeePersonal/index" role="tab" aria-selected="true" aria-controls="empPersonalInfo"> <span class="fa-solid fa-user me-2 tab-icon-color"></span>@Html.SmartLocalize("Personal Info.")</a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingEmpOfficialInfo">
                                    <a class="nav-link" href="/EmployeeOfficial/index" role="tab" aria-selected="false" aria-controls="empOfficialInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Official Info.")</a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingempPayroleInfo">
                                    <a class="nav-link" href="/EmployeeSalary/index" role="tab" aria-selected="false" aria-controls="empPayroleInfo"> <span class="fa-solid fa-file-alt me-2 tab-icon-color"></span>@Html.SmartLocalize("Payroll Info.")</a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingAdditionalInfo">
                                    <a class="nav-link" href="/EmployeeAdditional/index" role="tab" aria-selected="false" aria-controls="additionalInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Additional Info.")</a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingeducationInfo">
                                    <a class="nav-link active" href="/EmployeeEducation/index" role="tab" aria-selected="false" aria-controls="educationInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Education Info.")</a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingTranningInfo">
                                    <a class="nav-link" href="/EmployeeTraining/index" role="tab" aria-selected="false" aria-controls="tranningInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Training Info.")</a>
                                </li>
                                <li class="nav-item text-nowrap me-2" role="presentation" id="headingFamilyInfo">
                                    <a class="nav-link" href="/EmployeeFamily/index" role="tab" aria-selected="false" aria-controls="familyInfo"> <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>@Html.SmartLocalize("Family Info.")</a>
                                </li>
                            </ul>

                            <div class="card tab-content bg-white accordion" id="myTabContent">
                                <div class="tab-pane show active fade p-2" role="educationInfo" id="educationInfo" aria-labelledby="educationInfo">
                                    <div class=" px-25 ">
                                        <div class="d-flex justify-content-center my-8 ">
                                            <div class="col-12 row flex gy-3 ">
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select">
                                                        <label asp-for="EducationLevelID">@Html.SmartLocalize("Level of Education")</label>
                                                        <select class="form-select choiceDD" asp-for="EducationLevelID" asp-items="@(new SelectList(ViewBag.EducationLevel.Items, "Value", "Text"))">
                                                            <option value="" selected disabled>@Html.SmartLocalize("Select Education Level")</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select">
                                                        <label asp-for="DegreeID">@Html.SmartLocalize("Select Exam/Degree Title")</label>
                                                        <select class="form-select choiceDD" asp-for="DegreeID" asp-items="@(new SelectList(ViewBag.Degree.Items, "Value", "Text"))">
                                                            <option value="" selected disabled>@Html.SmartLocalize("Select your exam/degree title")</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating">
                                                        <input asp-for="MajorSubject" class="form-control" type="text" placeholder="@Html.SmartLocalize("Concentration/ Major/Group")" required />
                                                        <label asp-for="MajorSubject">@Html.SmartLocalize("Concentration/ Major/Group")</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select">
                                                        <label asp-for="EducationBoardID">@Html.SmartLocalize("Education Board")</label>
                                                        <select class="form-select choiceDD" asp-for="EducationBoardID" asp-items="@(new SelectList(ViewBag.EducationBoard.Items, "Value", "Text"))">
                                                            <option value="" selected disabled>@Html.SmartLocalize("Select Education Board")</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating">
                                                        <input asp-for="InstitutionName" class="form-control" type="text" placeholder="@Html.SmartLocalize("Institute Name")" required />
                                                        <label asp-for="InstitutionName">@Html.SmartLocalize("Institute Name")</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select">
                                                        <label asp-for="ResultTypeID">@Html.SmartLocalize("Result Type")</label>
                                                        <select class="form-select choiceDD" asp-for="ResultTypeID" asp-items="@(new SelectList(ViewBag.ResultType.Items, "Value", "Text"))">
                                                            <option value="" selected disabled>@Html.SmartLocalize("Select Result Type")</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating form-floating-advance-select">
                                                        <label asp-for="PassingYearID">@Html.SmartLocalize("Passing Year")</label>
                                                        <select class="form-select choiceDD" asp-for="PassingYearID" asp-items="@(new SelectList(ViewBag.PassingYear.Items, "Value", "Text"))">
                                                            <option value="" selected disabled>@Html.SmartLocalize("Select Passing Year")</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating">
                                                        <input asp-for="YearDuration" class="form-control" type="text" placeholder="@Html.SmartLocalize("Duration (Years)")" />
                                                        <label asp-for="YearDuration">@Html.SmartLocalize("Duration (Years)")</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-floating">
                                                        <input asp-for="Achievement" class="form-control" type="text" placeholder="@Html.SmartLocalize("Achievement")" />
                                                        <label asp-for="Achievement">@Html.SmartLocalize("Achievement")</label>
                                                    </div>
                                                </div>
                                                <button  class="btn btn-outline-primary rounded-pill me-1 mb-1 mx-3" type="submit" style="width: 100px;">
                                                    @Html.SmartLocalize("Add")
                                                </button>
                                            </div>
                                        </div>

                                        <h4 class="border-bottom">@Html.SmartLocalize("Academic Qualification Summary")</h4>

                                        <div class="col-sm-12 col-md-12 col-xl-12 px-4 mt-4">
                                            <table class="table" id="educationalTable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">@Html.SmartLocalize("Exam Title")</th>
                                                        <th scope="col">@Html.SmartLocalize("Concentration/Major")</th>
                                                        <th scope="col">@Html.SmartLocalize("Institute")</th>
                                                        <th scope="col">@Html.SmartLocalize("Result")</th>
                                                        <th scope="col">@Html.SmartLocalize("Pas.Year")</th>
                                                        <th scope="col">@Html.SmartLocalize("Duration")</th>
                                                        <th scope="col">@Html.SmartLocalize("Achievement")</th>
                                                        <th scope="col">@Html.SmartLocalize("Action")</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--<tr>
                                                        <th scope="row">@Html.SmartLocalize("Bachelor of Science (BSc)")</th>
                                                        <td>@Html.SmartLocalize("Computer Science & Engineering")</td>
                                                        <td>@Html.SmartLocalize("Dhaka International University")</td>
                                                        <td>@Html.SmartLocalize("CGPA:3.94 (out of 4)")</td>
                                                        <td>2018</td>
                                                        <td>4</td>
                                                        <td>@Html.SmartLocalize("Height CGPA in the year of 2018 in Computer Science and Engineering department.")</td>
                                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4 ">
                                                            <div class="btn-reveal-trigger position-static g-3">
                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#edit_education">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                                    <i class="fas fa-trash"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">@Html.SmartLocalize("Diploma")</th>
                                                        <td>@Html.SmartLocalize("Computer Technology")</td>
                                                        <td>@Html.SmartLocalize("Jhenaidah Govt Polytechnic Institute")</td>
                                                        <td>@Html.SmartLocalize("CGPA:3.79 (out of 4)")</td>
                                                        <td>2014</td>
                                                        <td>4</td>
                                                        <td>@Html.SmartLocalize("Second Height CGPA in BTEB in the year of 2014 in Computer Technology.")</td>
                                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4 ">
                                                            <div class="btn-reveal-trigger position-static g-3">
                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#edit_education">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                                    <i class="fas fa-trash"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">@Html.SmartLocalize("SSC")</th>
                                                        <td>@Html.SmartLocalize("Science")</td>
                                                        <td>@Html.SmartLocalize("Jhenaidah Govt High School")</td>
                                                        <td>@Html.SmartLocalize("CGPA:5.00 (out of 5)")</td>
                                                        <td>2009</td>
                                                        <td>2</td>
                                                        <td>-</td>
                                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4 ">
                                                            <div class="btn-reveal-trigger position-static g-3">
                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#edit_education">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <a href="#" class="nav-item me-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                                    <i class="fas fa-trash"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/pages/employees/employeevalidator.js"></script>
    <script src="~/js/pages/employees/employeeeducational.js"></script>
}