@model string

<ul class="nav nav-underline fs-9 mt-3" id="companySettingTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link @(Model == "Company" ? "active" : "")"
           href="@Url.Action("Index", "CompanySettings")"
           role="tab"
           aria-selected="@(Model == "Company" ? "true" : "false")">
            Organization
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link @(Model == "BranchSettings" ? "active" : "")"
           href="@Url.Action("Index", "BranchSettings")"
           role="tab"
           aria-selected="@(Model == "BranchSettings" ? "true" : "false")">
            Branch Settings
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == "DepartmentSettings" ? "active" : "")"
           href="@Url.Action("Index", "DepartmentSettings")"
           role="tab"
           aria-selected="@(Model == "DepartmentSettings" ? "true" : "false")">
            Department Settings
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == "DesignationSettings" ? "active" : "")"
           href="@Url.Action("Index", "DesignationSettings")"
           role="tab"
           aria-selected="@(Model == "DesignationSettings" ? "true" : "false")">
            Designation Settings
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == "HolidaySettings" ? "active" : "")"
           href="@Url.Action("Index", "HolidaySettings")"
           role="tab"
           aria-selected="@(Model == "HolidaySettings" ? "true" : "false")">
            Holiday Settings
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == "WeekendSettingss" ? "active" : "")"
           href="@Url.Action("Index", "WeekendSettings")"
           role="tab"
           aria-selected="@(Model == "WeekendSettingss" ? "true" : "false")">
            Weekend Settings
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == "ApprovalSettings" ? "active" : "")"
           href="@Url.Action("Index", "ApprovalSettings")"
           role="tab"
           aria-selected="@(Model == "ApprovalSettings" ? "true" : "false")">
            Approval Settings
        </a>
    </li>
</ul>

