
<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Company</h4>
            <button type="button" class="btn-close custom-btn-close" id="closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pb-0">
            <ul class="nav nav-underline fs-9" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link" id="company-tab" data-bs-toggle="tab" href="#tab-Company" role="tab" aria-controls="tab-Company" aria-selected="true">Business</a></li>
                <li class="nav-item"><a class="nav-link" id="person-tab" data-bs-toggle="tab" href="#tab-Personal" role="tab" aria-controls="tab-Personal" aria-selected="false">Personal</a></li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">


                <div class="tab-pane fade" id="tab-Company" role="tabpanel" aria-labelledby="Company-tab">

                    <div class="row g-0 border-top border-bottom">
                        <div class="col-sm-2 border-end-sm">
                            <div class="nav flex-sm-column border-bottom border-bottom-sm-0 border-end-sm fs-9 vertical-tab justify-content-between" role="tablist" aria-orientation="vertical">
                                <a class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center active" id="addCompanyTab" data-bs-toggle="tab" data-bs-target="#company" role="tab" aria-controls="company" aria-selected="true">
                                    <span class="me-sm-2 fs-4 nav-icons" data-feather="tag"></span>
                                    <span class="d-none d-sm-inline">Create Company</span>
                                </a>

                                <a class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center" id="addBranchTab" data-bs-toggle="tab" data-bs-target="#addBranchTabContent" role="tab" aria-controls="addBranchTabContent" aria-selected="false">
                                    <span class="me-sm-2 fs-4 nav-icons" data-feather="package"></span>
                                    <span class="d-none d-sm-inline">Add Branch</span>
                                </a>

                                <a class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center" id="addWarehouseTab" data-bs-toggle="tab" data-bs-target="#addWarehouseTabContent" role="tab" aria-controls="addWarehouseTabContent" aria-selected="false">
                                    <span class="me-sm-2 fs-4 nav-icons" data-feather="truck"></span>
                                    <span class="d-none d-sm-inline">Add Warehouse</span>
                                </a>

                            </div>
                        </div>

                        <div class="col-sm-10 ">
                            <div class="tab-content py-3 ps-sm-3 h-100">
                                <div class="tab-pane fade show active" id="company" role="tabpanel">
                                    <h5 class="mb-3 text-body-highlight">Add Company</h5>
                                    <div class="row g-3">
                                        <form id="promotionForm">
                                            <input type="text" name="name" value="" id="cCountryCode" hidden />
                                            <input type="number" name="name" value="" id="cId" hidden />
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="cName" class="form-control" placeholder="Company Name" required>
                                                                <label class="form-label req">Company Name</label>
                                                                <span class="text-danger small"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="cFullAddress" class="form-control" autocomplete="off" placeholder="Full Address">
                                                                <label class="form-label">Full Address</label>
                                                                <span class="text-danger small"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="cStreet" class="form-control" placeholder="Street">
                                                                        <label class="form-label">Street</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="cCity" class="form-control" placeholder="City">
                                                                        <label class="form-label">City</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="cAdditionalAddress" class="form-control" placeholder="">
                                                                        <label class="form-label">Additional Address</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input id="cState" type="text" class="form-control" placeholder="">
                                                                        <label class="form-label">State/Province</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="cPostalCode" class="form-control" placeholder="" required>
                                                                        <label class="form-label">Zip/Postal Code</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="form-floating form-floating-advance-select">
                                                                        <label class="form-label">@Html.SmartLocalize("Country")</label>
                                                                        <select class="form-select choiceDD" id="cCountry" asp-items="@ViewBag.CountryDD as SelectList">
                                                                            <option value="" selected>@Html.SmartLocalize("Select Country")</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="cLatitude" class="form-control" placeholder="" required>
                                                                        <label class="form-label">Latitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="cLongitude" class="form-control" placeholder="" required>
                                                                        <label class="form-label">Longitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" class="form-control" id="cFirstName" placeholder="" required>
                                                                        <label class="form-label req">First Name</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" class="form-control" id="cLastName" placeholder="" required>
                                                                        <label class="form-label">Last Name</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="cPhone" type="tel" placeholder="Phone Number" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="cOtherPhone" type="tel" placeholder="Other Phone" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="cEmail" class="form-control" placeholder="" required>
                                                                <label class="form-label">Email</label>
                                                                <span class="text-danger small"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer border-0 pt-0 pb-2">
                                                <button type="button" class="btn btn-light" id="saveAndGoBranchTab">Save & Add Branch Address</button>
                                                <button type="button" class="btn btn-primary" id="companySaveAndExit">Save & Exit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab-pane fade h-100" id="addBranchTabContent" role="tabpanel" aria-labelledby="addBranchTab">
                                    <div class="d-flex flex-column h-100">
                                        <h5 class="mb-3 text-body-highlight">Add Branch</h5>
                                        <div class="row g-3">
                                            <form action="">
                                                <input type="number" id="bId" name="name" hidden />
                                                <input type="text" name="name" value="" id="bCountryCode" hidden />
                                                <div class="row">
                                                    <!-- Left Section -->
                                                    <div class="col-md-6">
                                                        <div class="col-12 mb-3 customerDiv" id="personCustomerSearchMainDiv">
                                                            <div class="form-floating mbs-4">
                                                                <input type="text" id="bCompanySearch" class="form-control" placeholder="@Html.SmartLocalize("Search ContactName...")">
                                                                <input type="hidden" id="bCId">

                                                                <label for="personContactNameSearch"><i class="fa-solid fa-magnifying-glass"></i> @Html.SmartLocalize("Customer Search")</label>
                                                            </div>
                                                            <div class="search-results card" id="bSearchResults">
                                                                <div class="list-group bg-white p-0 border" id="bCustomerList" style="display: none; width:100%; z-index:10012;">
                                                                    <!-- ContactName items will be populated here -->
                                                                </div>
                                                                <div class="no-results position-absolute bg-white p-2 border" id="bNoResults" style="position:absolute; display: none; width:100%; z-index:1000;">
                                                                    @Html.SmartLocalize("Item Not Found. Are you add new item?")
                                                                    <button type="button" class="btn btn-sm btn-link p-0" id="bAddNewBtn">@Html.SmartLocalize("Business")</button>
                                                                    <span>Or</span>
                                                                    <button type="button" class="btn btn-sm btn-link p-0" id="bAddNewContactBtn">@Html.SmartLocalize("Person")</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3 form-floating">
                                                                    <input type="text" id="bName" class="form-control" placeholder="Address">
                                                                    <label class="form-label">Branch Name</label>
                                                                    <span class="text-danger small"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 pe-1 col-sm-6">
                                                                <div class="mb-3 form-floating">
                                                                    <input type="text" id="bFirstName" class="form-control" placeholder="">
                                                                    <label class="form-label req">First Name</label>
                                                                    <span class="text-danger small"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-1 col-sm-6">
                                                                <div class="mb-3 form-floating">
                                                                    <input type="text" id="bLastName" class="form-control" placeholder="">
                                                                    <label class="form-label">Last Name</label>
                                                                    <span class="text-danger small"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="bPhone" type="tel" placeholder="Phone Number" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="bOtherPhone" type="tel" placeholder="Other Phone" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="bEmail" class="form-control" placeholder="">
                                                                <label class="form-label">Email</label>
                                                                <div class="text-danger" id="errorShow"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Right Section -->
                                                    <div class="col-md-6">
                                                        <div class="col-md-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="bFullAddress" class="form-control" placeholder="Address">
                                                                <label class="form-label">Full Address</label>
                                                                <span class="text-danger small"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="bStreet" class="form-control" placeholder="Street">
                                                                        <label class="form-label">Street</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="bCity" class="form-control" placeholder="City">
                                                                        <label class="form-label">City</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="bAdditionalAddress" class="form-control" placeholder="">
                                                                        <label class="form-label">Additional Address</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="bState" class="form-control" placeholder="">
                                                                        <label class="form-label">State/Province</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input id="bPostalCode" type="text" class="form-control" placeholder="">
                                                                        <label class="form-label">Zip/Postal Code</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="form-floating form-floating-advance-select">
                                                                        <label class="form-label">@Html.SmartLocalize("Country")</label>
                                                                        <select class="form-select choiceDD" id="bCountry" asp-items="@ViewBag.CountryDD as SelectList">
                                                                            <option value="" selected>@Html.SmartLocalize("Select Country")</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="bLatitude" class="form-control" placeholder="">
                                                                        <label class="form-label">Latitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="bLongitude" class="form-control" placeholder="">
                                                                        <label class="form-label">Longitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer border-0 pt-0 pb-2">
                                                    <button type="button" class="btn btn-light" id="saveAndgoWarehouseTab">Save & Add Shipping Address</button>
                                                    <button type="button" class="btn btn-primary" id="branchSaveAndExit">Save & Exit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade h-100" id="addWarehouseTabContent" role="tabpanel" aria-labelledby="addWarehouseTab">
                                    <div class="d-flex flex-column h-100">
                                        <h5 class="mb-3 text-body-highlight">Add Warehouse</h5>
                                        <div class="row g-3">
                                            <form action="">
                                                <input type="number" id="wId" name="name" hidden />
                                                <input type="text" name="name" value="" id="wCountryCode" hidden />
                                                <div class="row">
                                                    <!-- Left Section -->
                                                    <div class="col-md-6">
                                                        <div class="col-12 mb-3 customerDiv" id="personCustomerSearchMainDiv">
                                                            <div class="form-floating mbs-4">
                                                                <input type="text" id="wCompanySearch" class="form-control" placeholder="@Html.SmartLocalize("Search ContactName...")">
                                                                <input type="hidden" id="bCId">

                                                                <label for="personContactNameSearch"><i class="fa-solid fa-magnifying-glass"></i> @Html.SmartLocalize("Customer Search")</label>
                                                            </div>
                                                            <div class="search-results card" id="wSearchResults">
                                                                <div class="list-group bg-white p-0 border" id="wCustomerList" style="display: none; width:100%; z-index:10012;">
                                                                    <!-- ContactName items will be populated here -->
                                                                </div>
                                                                <div class="no-results position-absolute bg-white p-2 border" id="wNoResults" style="position:absolute; display: none; width:100%; z-index:1000;">
                                                                    @Html.SmartLocalize("Item Not Found. Are you add new item?")
                                                                    <button type="button" class="btn btn-sm btn-link p-0" id="wAddNewBtn">@Html.SmartLocalize("Business")</button>
                                                                    <span>Or</span>
                                                                    <button type="button" class="btn btn-sm btn-link p-0" id="wAddNewContactBtn">@Html.SmartLocalize("Person")</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3 form-floating">
                                                                    <input type="text" id="wName" class="form-control" placeholder="Address">
                                                                    <label class="form-label">Branch Name</label>
                                                                    <span class="text-danger small"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 pe-1 col-sm-6">
                                                                <div class="mb-3 form-floating">
                                                                    <input type="text" id="wFirstName" class="form-control" placeholder="">
                                                                    <label class="form-label req">First Name</label>
                                                                    <span class="text-danger small"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-1 col-sm-6">
                                                                <div class="mb-3 form-floating">
                                                                    <input type="text" id="wLastName" class="form-control" placeholder="">
                                                                    <label class="form-label">Last Name</label>
                                                                    <span class="text-danger small"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="wPhone" type="tel" placeholder="Phone Number" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="wOtherPhone" type="tel" placeholder="Other Phone" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="wEmail" class="form-control" placeholder="">
                                                                <label class="form-label">Email</label>
                                                                <div class="text-danger" id="errorShow"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Right Section -->
                                                    <div class="col-md-6">
                                                        <div class="col-md-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="wFullAddress" class="form-control" placeholder="Address">
                                                                <label class="form-label">Full Address</label>
                                                                <span class="text-danger small"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="wStreet" class="form-control" placeholder="Street">
                                                                        <label class="form-label">Street</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="wCity" class="form-control" placeholder="City">
                                                                        <label class="form-label">City</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="wAdditionalAddress" class="form-control" placeholder="">
                                                                        <label class="form-label">Additional Address</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="wState" class="form-control" placeholder="">
                                                                        <label class="form-label">State/Province</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input id="wPostalCode" type="text" class="form-control" placeholder="">
                                                                        <label class="form-label">Zip/Postal Code</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="form-floating form-floating-advance-select">
                                                                        <label class="form-label">@Html.SmartLocalize("Country")</label>
                                                                        <select class="form-select choiceDD" id="wCountry" asp-items="@ViewBag.CountryDD as SelectList">
                                                                            <option value="" selected>@Html.SmartLocalize("Select Country")</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="wLatitude" class="form-control" placeholder="">
                                                                        <label class="form-label">Latitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="wLongitude" class="form-control" placeholder="">
                                                                        <label class="form-label">Longitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer border-0 pt-0 pb-2">
                                                    <button type="button" class="btn btn-primary" id="saveWarehouse">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-Personal" role="tabpanel">
                    <div class="row g-0 border-top border-bottom">
                        <div class="col-sm-2 border-end-sm">
                            <div class="nav flex-sm-column border-bottom border-bottom-sm-0 border-end-sm fs-9 vertical-tab justify-content-between" role="tablist" aria-orientation="vertical">
                                <a class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center active" id="addCustommerTab" data-bs-toggle="tab" data-bs-target="#person" role="tab" aria-controls="person" aria-selected="true">
                                    <span class="me-sm-2 fs-4 nav-icons" data-feather="tag"></span>
                                    <span class="d-none d-sm-inline">Create Custommer</span>
                                </a>

                                <a class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center" id="shippingAddressTab" data-bs-toggle="tab" data-bs-target="#shippingAddressTabContent" role="tab" aria-controls="shippingAddressTabContent" aria-selected="false">
                                    <span class="me-sm-2 fs-4 nav-icons" data-feather="package"></span>
                                    <span class="d-none d-sm-inline">Add Shiping Address </span>
                                </a>

                            </div>
                        </div>

                        <div class="col-sm-10">
                            <div class="tab-content py-3 ps-sm-3 h-100">
                                <div class="tab-pane fade" id="person" role="tabpanel">
                                    <h5 class="mb-3 text-body-highlight">Add Custommer</h5>
                                    <div class="row g-3">
                                        <form action="">
                                            <input type="number" id="personID" name="name" hidden />
                                            <input type="text" name="name" value="" id="countryCodePerson" hidden />
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="firstNamePerson" class="form-control" placeholder="">
                                                                        <label class="form-label req">First Name</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="lastNamePerson" class="form-control" placeholder="">
                                                                        <label class="form-label">Last Name</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="autocompletePerson" class="form-control" placeholder="Customer name">
                                                                <label class="form-label">Full Address</label>
                                                                <span class="text-danger small"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="streetPerson" class="form-control" placeholder="Street">
                                                                        <label class="form-label">Street</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="cityPerson" class="form-control" placeholder="City">
                                                                        <label class="form-label">City</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="additionalAddressPerson" class="form-control" placeholder="">
                                                                        <label class="form-label">Additional Address</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="statePerson" class="form-control" placeholder="">
                                                                        <label class="form-label">State/Province</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input id="postalCodePerson" type="text" class="form-control" placeholder="">
                                                                        <label class="form-label">Zip/Postal Code</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="form-floating form-floating-advance-select">
                                                                        <label class="form-label">@Html.SmartLocalize("Country")</label>
                                                                        <select class="form-select choiceDD" id="countryPerson" asp-items="@ViewBag.CountryDD as SelectList">
                                                                            <option value="" selected>@Html.SmartLocalize("Select Country")</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                             
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="latitudePerson" class="form-control" placeholder="">
                                                                        <label class="form-label">Latitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="longitudePerson" class="form-control" placeholder="">
                                                                        <label class="form-label">Longitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="row">

                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="pPhone" type="tel" placeholder="Phone Number" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="pOtherPhone" type="tel" placeholder="Other Phone" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="emailPerson" class="form-control" placeholder="">
                                                                <label class="form-label">Email</label>
                                                                <div class="text-danger" id="errorShow"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer border-0 pt-0 pb-2">
                                                <button type="button" class="btn btn-light" id="goToShippingTab">Save & Add Shipping Address</button>
                                                <button type="button" class="btn btn-primary" id="personSaveAndExit">Save & Exit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab-pane fade h-100" id="shippingAddressTabContent" role="tabpanel" aria-labelledby="shippingAddressTab">
                                    <div class="d-flex flex-column h-100">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <h5 class="text-body-highlight mb-0">Add Shipping Address</h5>
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" value="" id="sameAsShippingBtn">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Same as Customer Address
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <form action="">
                                                <input type="number" id="shipingID" name="name" hidden />
                                                <input type="text" name="name" value="" id="countryCodeShiping" hidden />
                                                <div class="row">
                                                    <!-- Left Section -->
                                                    <div class="col-md-6">
                                                        <div class="col-12 mb-3 customerDiv" id="personCustomerSearchMainDiv">
                                                            <div class="form-floating mbs-4">
                                                                <input type="text" id="personContactNameSearch" class="form-control" placeholder="@Html.SmartLocalize("Search ContactName...")">
                                                                <input type="hidden" id="personCustomerID">

                                                                <label for="personContactNameSearch"><i class="fa-solid fa-magnifying-glass"></i> @Html.SmartLocalize("Customer Search")</label>
                                                            </div>
                                                            <div class="search-results card" id="personSearchResults">
                                                                <div class="list-group bg-white p-0 border" id="personCustomerList" style="display: none; width:100%; z-index:10012;">
                                                                    <!-- ContactName items will be populated here -->
                                                                </div>
                                                                <div class="no-results position-absolute bg-white p-2 border" id="personNoResults" style="position:absolute; display: none; width:100%; z-index:1000;">
                                                                    @Html.SmartLocalize("Item Not Found. Are you add new item?")
                                                                    <button type="button" class="btn btn-sm btn-link p-0" id="addNewPersonBtn">@Html.SmartLocalize("Business")</button>
                                                                    <span>Or</span>
                                                                    <button type="button" class="btn btn-sm btn-link p-0" id="addNewPersonContactBtn">@Html.SmartLocalize("Person")</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 pe-1 col-sm-6">
                                                                <div class="mb-3 form-floating">
                                                                    <input type="text" id="firstNameShiping" class="form-control" placeholder="">
                                                                    <label class="form-label req">First Name</label>
                                                                    <span class="text-danger small"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-1 col-sm-6">
                                                                <div class="mb-3 form-floating">
                                                                    <input type="text" id="lastNameShipping" class="form-control" placeholder="">
                                                                    <label class="form-label">Last Name</label>
                                                                    <span class="text-danger small"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="phone5" type="tel" placeholder="Phone Number" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <input class="form-control" id="phone6" type="tel" placeholder="Other Phone" />
                                                            <div class="text-danger" id="errorShow"></div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="emailShiping" class="form-control" placeholder="">
                                                                <label class="form-label">Email</label>
                                                                <div class="text-danger" id="errorShow"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Right Section -->
                                                    <div class="col-md-6">
                                                        @* <div class="form-floating mb-3">
                                                            <select id="customer" class="form-select" required>
                                                                <option selected>Select Customer</option>
                                                                <option>Customer Name 1</option>
                                                                <option>Customer Name 2</option>
                                                            </select>
                                                            <label for="customer" class="form-label">Customer *</label>
                                                        </div> *@



                                                        <div class="col-md-12">
                                                            <div class="mb-3 form-floating">
                                                                <input type="text" id="autocompleteShiping" class="form-control" placeholder="Address">
                                                                <label class="form-label">Full Address</label>
                                                                <span class="text-danger small"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="streetShiping" class="form-control" placeholder="Street">
                                                                        <label class="form-label">Street</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="cityShiping" class="form-control" placeholder="City">
                                                                        <label class="form-label">City</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="additionalAddressShiping" class="form-control" placeholder="">
                                                                        <label class="form-label">Additional Address</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="stateShiping" class="form-control" placeholder="">
                                                                        <label class="form-label">State/Province</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input id="postalCodeShiping" type="text" class="form-control" placeholder="">
                                                                        <label class="form-label">Zip/Postal Code</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="form-floating form-floating-advance-select">
                                                                        <label class="form-label">@Html.SmartLocalize("Country")</label>
                                                                        <select class="form-select choiceDD" id="countryShiping" asp-items="@ViewBag.CountryDD as SelectList">
                                                                            <option value="" selected>@Html.SmartLocalize("Select Country")</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                @* <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input id="countryShiping" type="text" class="form-control" placeholder="" required>
                                                                        <label class="form-label req">Country</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div> *@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 pe-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="latitudeShiping" class="form-control" placeholder="">
                                                                        <label class="form-label">Latitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-1 col-sm-6">
                                                                    <div class="mb-3 form-floating">
                                                                        <input type="text" id="longitudeShiping" class="form-control" placeholder="">
                                                                        <label class="form-label">Longitude</label>
                                                                        <span class="text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="modal-footer border-0 pt-0 pb-2">
                                                    <button type="button" class="btn btn-primary" id="shippingAddressSaveBtn">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="d-flex justify-content-end gap-2 mt-3">
    <button type="button" class="btn btn-light" id="closeModal">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</div> *@
