@model GCTL.Core.ViewModels.CRM.CreateLeadVM
@using Microsoft.AspNetCore.Mvc.Rendering

<style>

    /*create lead customer command person modal */

    .nav-tabs .nav-link.active {
        color: #0d6efd;
        border-color: #0d6efd;
        border-bottom: 1px solid #0d6efd;
    }

    .nav-tabs .nav-link {
        color: black;
    }

        .nav-tabs .nav-link:hover {
            border-color: #0d6efd;
            color: #0d6efd;
        }

    .nav-tabs .nav-link {
    }

    .form-label.req::after {
        content: ' *';
        color: red;
    }

    .input-icon-end {
        position: relative;
    }

        .input-icon-end .fa {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: #6c757d;
            pointer-events: none;
        }

    .card {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }

    .readonly {
        background-color: #f8f9fa;
    }

    /*//create lead mobiel field css*/
    #iti-0__dropdown-content,
    #iti-2__dropdown-content,
    #iti-1__dropdown-content,
    #iti-3__dropdown-content,
    #iti-4__dropdown-content {
        z-index: 111;
    }

    .iti--allow-dropdown {
        width: 100%;
    }

    .iti__tel-input {
        height: 46px;
    }


    /*#companySubTab ul li a .fa-solid {
            padding-right: 54px !important;
        }*/
    /*for fixing modal google map loading problem*/

    div.pac-container {
        z-index: 99999999999 !important;
    }


    /*createLead table subtab*/
    /* Sidebar container */
    #customeInnerDiv {
        border-top: 1px;
        border-bottom: 1px;
        border-right: 0;
        border-left: 0;
        border-style: solid;
        border-color: rgb(203, 208, 221);
        margin-bottom: -1px;
    }

    #customeSubTab {
        padding-top: 1rem;
    }

    .custom-sidebar li a {
        font-size: 12px;
        font-weight: 500;
        color: #6c757d;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        transition: all 0.15s ease-in-out;
        border: 1px solid rgb(203, 208, 221);
        text-decoration: none;
        cursor: pointer;
        margin-top: -1px;
        margin-right: -1px;
        margin-bottom: -1px;
    }

        .custom-sidebar li a .svg-inline--fa {
            margin-right: 6px;
            width: 20px;
            text-align: center;
        }

    .custom-sidebar a:hover {
        background-color: #e9ecef;
        color: #000;
    }


    .custom-sidebar a:not(.active) .svg-inline--fa {
        color: rgb(203, 208, 221);
    }

    .custom-sidebar a.active, .custom-sidebar li a .svg-inline--fa {
        color: #000;
        font-weight: 700;
    }

    .iti__selected-country {
        padding-left: 8% !important;
    }

    .iti__country-container {
        padding-left: 3% !important;
    }

    .iti__tel-input {
        padding-left: 11%;
    }

</style>



<div class="container p-0 d-flex flex-column align-items-center">

    <div class="row col-md-12 mb-2">
        @* <nav class="mb-3 alig " aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
                <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
                <li class="breadcrumb-item active">Default</li>
            </ol>
        </nav> *@
        <h3 class="fs-4 mb-3">@Html.SmartLocalize("Create Lead")</h3>
        <form class="bg-white py-4 form-control shadow-sm" action="shift-roster-ui.html">
            <div class="modal-body pb-2">
                <div class="row gy-3 ">

                    <div class="col-sm-12 customerDiv col-md-6 position-relative">
                        <div class="form-floating mbs-4">
                            <input type="text" id="ContactNameSearch" class="form-control" placeholder="@Html.SmartLocalize("Search ContactName...")">
                            <input type="hidden" id="customerID">
                            <input type="hidden" id="customerType">

                            <label for="floatingSelectLitigation">@Html.SmartLocalize("Customer Search")</label>
                        </div>
                        <div class="search-results card" id="searchResults">
                            <div class="list-group position-absolute bg-white p-0 border" id="customerList" style="display: none; width:100%; z-index:10012;">
                                <!-- ContactName items will be populated here by JavaScript -->
                            </div>
                            <div class="no-results position-absolute bg-white p-2 border" id="noResults" style="display: none; width:100%; z-index:1000;">
                                @Html.SmartLocalize("Item Not Found. Are you add new item?")
                                <button type="button" class="btn btn-sm btn-link p-0" id="addNewContactNameBtn">@Html.SmartLocalize("Business")</button>
                                <span>Or</span>
                                <button type="button" class="btn btn-sm btn-link p-0" id="addNewContactNameBtn2">@Html.SmartLocalize("Person")</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input class="form-control" id="exampleFormControlInput" type="text" placeholder="" />
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Lead Name")</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating form-floating-advance-select">
                            <label class="form-label" for="organizerMultiple">@Html.SmartLocalize("Lead Sources") </label>
                            <select class="form-select choiceDD" id="organizerSingle2" asp-items="@ViewBag.LeadSourceDD as SelectList">
                                <option selected disabled>@Html.SmartLocalize("Select Sources")...</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating form-floating-advance-select">
                            <label class="form-label" for="organizerMultiple">@Html.SmartLocalize("Status Name")</label>
                            <select class="form-select choiceDD" id="organizerSingle2" asp-items="@ViewBag.LeadStatusDD as SelectList">
                                <option disabled selected>@Html.SmartLocalize("Select Status")</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating form-floating-advance-select">
                            <label class="form-label" for="organizerMultiple">@Html.SmartLocalize("Lead Owner Name")</label>
                            <select class="form-select choiceDD" id="organizerSingle2" asp-items="@ViewBag.EmployeeDD as SelectList">
                                <option disabled selected>@Html.SmartLocalize("Select Lead Owner")</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">

                            <input class="form-control" id="exampleFormControlInput" type="text" placeholder="" />
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Approximate Deal Value")</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">

                            <input class="form-control" id="exampleFormControlInput" type="text" placeholder="" />
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Probability (%)")</label>
                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="form-floating">
                            <textarea class="form-control h-100" id="" rows="3" placeholder=""></textarea>
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Description")</label>
                        </div>
                    </div>
                </div>
            </div>
            @* // create person code *@
            <h5 class="mb-2 ms-2 text-body-highlight my-3 fs-8">Custommer Information</h5>
            <div class="border-top pb-0 mb-3"></div>
            <div class="row p-0">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div>
                            <input type="number" id="personIndexIA_ID" hidden>
                            <input type="text" name="name" value="" id="countryCodePersonIndex" hidden />
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 form-floating">
                                <input type="text" id="autocompletePersonIndex" class="form-control" placeholder="Customer name" required>
                                <label class="form-label req">Full Address</label>
                                <span class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" id="streetPersonIndex" class="form-control" placeholder="Street" required>
                                        <label class="form-label req">Street</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" id="cityPersonIndex" class="form-control" placeholder="City" required>
                                        <label class="form-label req">City</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" id="additionalAddressPersonIndex" class="form-control" placeholder="" required>
                                        <label class="form-label req">Additional Address</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" id="statePersonIndex" class="form-control" placeholder="" required>
                                        <label class="form-label req">State/Province</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input id="postalCodePersonIndex" type="text" class="form-control" placeholder="" required>
                                        <label class="form-label req">Zip/Postal Code</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input id="countryPersonIndex" type="text" class="form-control" placeholder="" required>
                                        <label class="form-label req">Country</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" id="latitudePersonIndex" class="form-control" placeholder="" required>
                                        <label class="form-label req">Latitude</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" id="longitudePersonIndex" class="form-control" placeholder="" required>
                                        <label class="form-label req">Longitude</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" id="firstNamePersonIndex" class="form-control" placeholder="" required>
                                        <label class="form-label req">First Name</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" id="lastNamePersonIndex" class="form-control" placeholder="" required>
                                        <label class="form-label req">Last Name</label>
                                        <span class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <input class="form-control" id="phonePersonIndex" type="tel" placeholder="Phone Number" />
                        </div>
                        <div class="col-12 mb-3">
                            <input class="form-control" id="otherPhonePersonIndex" type="tel" placeholder="Other Phone" />
                        </div>

                        <div class="col-12">
                            <div class="mb-3 form-floating">
                                <input type="text" id="emailPersonIndex" class="form-control" placeholder="" required>
                                <label class="form-label req">Email</label>
                                <span class="text-danger small"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-----  person shiping address code ------>

            <h5 class="text-body-highlight fs-8 mb-2 ms-2 mt-2">Shipping Address</h5>
            <div class="border-top pb-0 mb-3"></div>
            <div class="row">
                <!-- Left Section -->
                <div class="col-md-6">
                    <div>
                        <input type="number" id="shippingIndexIA_ID" name="name" hidden />
                        <input type="text" name="name" value="" id="countryCodeShipingIndex" hidden />
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3 form-floating">
                            <input type="text" id="autocompleteShippingIndex" class="form-control" placeholder="Customer name" required>
                            <label class="form-label req">Full Address</label>
                            <span class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 pe-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input type="text" id="streetShippingIndex" class="form-control" placeholder="Street" required>
                                    <label class="form-label req">Street</label>
                                    <span class="text-danger small"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ps-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input type="text" id="cityShippingIndex" class="form-control" placeholder="City" required>
                                    <label class="form-label req">City</label>
                                    <span class="text-danger small"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 pe-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input type="text" id="additionalAddressShippingIndex" class="form-control" placeholder="" required>
                                    <label class="form-label req">Additional Address</label>
                                    <span class="text-danger small"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ps-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input type="text" id="stateShippingIndex" class="form-control" placeholder="" required>
                                    <label class="form-label req">State/Province</label>
                                    <span class="text-danger small"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 pe-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input id="postalCodeShippingIndex" type="text" class="form-control" placeholder="" required>
                                    <label class="form-label req">Zip/Postal Code</label>
                                    <span class="text-danger small"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ps-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input id="countryShippingIndex" type="text" class="form-control" placeholder="" required>
                                    <label class="form-label req">Country</label>
                                    <span class="text-danger small"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 pe-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input type="text" id="latitudeShippingIndex" class="form-control" placeholder="" required>
                                    <label class="form-label req">Latitude</label>
                                    <span class="text-danger small"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ps-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input type="text" id="longitudeShippingIndex" class="form-control" placeholder="" required>
                                    <label class="form-label req">Longitude</label>
                                    <span class="text-danger small"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Right Section -->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 pe-1 col-sm-6">
                            <div class="mb-3 form-floating">
                                <input type="text" id="firstNameShippingIndex" class="form-control" placeholder="" required>
                                <label class="form-label req">First Name</label>
                                <span class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ps-1 col-sm-6">
                            <div class="mb-3 form-floating">
                                <input type="text" id="lastNameShippingIndex" class="form-control" placeholder="" required>
                                <label class="form-label req">Last Name</label>
                                <span class="text-danger small"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <input class="form-control" id="phone5Index" type="tel" placeholder="Phone Number" />
                    </div>
                    <div class="col-12 mb-3">
                        <input class="form-control" id="phone6Index" type="tel" placeholder="Other Phone" />
                    </div>
                    <div class="col-12">
                        <div class="mb-3 form-floating">
                            <input type="text" id="emailShippingIndex" class="form-control" placeholder="" required>
                            <label class="form-label req">Email</label>
                            <span class="text-danger small"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light me-2">Cancel</button>
                <button type="submit" id="indexSaveBtn" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <partial name="_companyView" />
</div>



@section Scripts{
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js" defer></script> *@
    
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/intlTelInput.min.js"></script>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgZTw6AA9Lc3EKX47xObpNOdJ2vFQ0B0w&libraries=places"></script>

    



    <script type="text/javascript">
        // let itiMap = {};
        //     document.addEventListener("DOMContentLoaded", function () {
        //     const phoneIds = ["#phone", "#phone1", "#phone2", "#phone3", "#phone4"];

        //     phoneIds.forEach(selector => {
        //         const input = document.querySelector(selector);
        //         if (!input) return;

        //         const iti = window.intlTelInput(input, {
        //             utilsScript: "https:cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/utils.js",
        //             separateDialCode: true,
        //             initialCountry: "bd",
        //             preferredCountries: ["bd", "in", "us"]
        //         });

        //         input.addEventListener("blur", function () {
        //             console.log(`${selector} Phone:`, iti.getNumber());
        //         });
        //     });
        // }); 

        // replace
       




        // load phone field
        // document.addEventListener("DOMContentLoaded", function () {
        //     const input = document.querySelector("#phone");

        //     const iti = window.intlTelInput(input, {
        //         utilsScript: "https:cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/utils.js",
        //         separateDialCode: true,
        //         initialCountry: "bd",
        //         preferredCountries: ["bd", "in", "us"]
        //     });

        //     Optional: log the number on blur
        //     input.addEventListener("blur", function () {
        //         console.log("Phone:", iti.getNumber());
        //     });
        // });
        // document.addEventListener("DOMContentLoaded", function () {
        //     const input = document.querySelector("#phone1");

        //     const iti = window.intlTelInput(input, {
        //         utilsScript: "https:cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/utils.js",
        //         separateDialCode: true,
        //         initialCountry: "bd",
        //         preferredCountries: ["bd", "in", "us"]
        //     });

        //     Optional: log the number on blur
        //     input.addEventListener("blur", function () {
        //         console.log("Phone:", iti.getNumber());
        //     });
       
        // });
        // document.addEventListener("DOMContentLoaded", function () {
        //     const input = document.querySelector("#phone2");
        //     const iti = window.intlTelInput(input, {
        //         utilsScript: "https:cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/utils.js",
        //         separateDialCode: true,
        //         initialCountry: "bd",
        //         preferredCountries: ["bd", "in", "us"]
        //     });
        //     Optional: log the number on blur
        //     input.addEventListener("blur", function () {
        //         console.log("Phone:", iti.getNumber());
        //     });
        // });
        // document.addEventListener("DOMContentLoaded", function () {
        //     const input = document.querySelector("#phone3");
        //     const iti = window.intlTelInput(input, {
        //         utilsScript: "https:cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/utils.js",
        //         separateDialCode: true,
        //         initialCountry: "bd",
        //         preferredCountries: ["bd", "in", "us"]
        //     });
        //     Optional: log the number on blur
        //     input.addEventListener("blur", function () {
        //         console.log("Phone:", iti.getNumber());
        //     });
        // });
        // document.addEventListener("DOMContentLoaded", function () {
        //     const input = document.querySelector("#phone4");
        //     const iti = window.intlTelInput(input, {
        //         utilsScript: "https:cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/utils.js",
        //         separateDialCode: true,
        //         initialCountry: "bd",
        //         preferredCountries: ["bd", "in", "us"]
        //     });
        //     Optional: log the number on blur
        //     input.addEventListener("blur", function () {
        //         console.log("Phone:", iti.getNumber());
        //     });
        // });
             
    </script>
    <script src="~/js/pages/CRM/intlTelInput.min.js"></script>
    <script src="~/js/pages/CRM/utils.js"></script>
    <script src="~/js/pages/crm/createlead.js"></script>

}