@model GCTL.Core.ViewModels.CRM.CreateLeadVM
@using Microsoft.AspNetCore.Mvc.Rendering

<div class="container p-0 d-flex flex-column align-items-center">

    <div class="row col-md-12 mb-2">
        <nav class="mb-3 alig " aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
                <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
                <li class="breadcrumb-item active">Default</li>
            </ol>
        </nav>
        <h3 class="fs-4 mb-3">@Html.SmartLocalize("Create Lead")</h3>
        <form class="bg-white py-4 form-control shadow-sm" action="shift-roster-ui.html">
            <div class="modal-body pb-2">
                <div class="row gy-3 ">

                    <div class="col-sm-12 col-md-6">
                        <div class="form-floating mbs-4">
                            <input type="text" id="ContactNameSearch" class="form-control" placeholder="@Html.SmartLocalize("Search ContactName...")">
                            <label for="floatingSelectLitigation">@Html.SmartLocalize("Customer Search")</label>
                        </div>
                        <div class="search-results card" id="searchResults">
                            <div class="list-group" id="contactNameList">
                                <!-- ContactName items will be populated here by JavaScript -->
                            </div>
                            <div class="no-results" id="noResults" style="display: none;">
                                @Html.SmartLocalize("Item Not Found. Are you add new item?")
                                <button type="button" class="btn btn-sm btn-link p-0" id="addNewContactNameBtn">@Html.SmartLocalize("Company")</button>
                                <span>Or</span>
                                <button type="button" class="btn btn-sm btn-link p-0" id="addNewContactNameBtn2">@Html.SmartLocalize("Person")</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input class="form-control" id="exampleFormControlInput" type="text" placeholder="" />
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Lead Name")</label>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-6">
                        <div class="form-floating">
                            <select class="form-multi-select choiceDD" id="ms1" name="Services" multiple asp-items="@ViewBag.ServiceDD as SelectList">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">

                        <div class="form-floating mbs-4">
                            <input type="text" id="ContactNameSearch" class="form-control" placeholder="@Html.SmartLocalize("Search ContactName...")">
                            <label for="floatingSelectLitigation">@Html.SmartLocalize("Contact Name")</label>

                        </div>

                        <div class="search-results card" id="searchResults">
                            <div class="list-group" id="contactNameList">
                                <!-- ContactName items will be populated here by JavaScript -->
                            </div>
                            <div class="no-results" id="noResults" style="display: none;">
                                @Html.SmartLocalize("Item Not Found. Are you add new item?")
                                <button class="btn btn-sm btn-link p-0" id="addNewContactNameBtn">@Html.SmartLocalize("Company")</button>
                                <span>Or</span>
                                <button class="btn btn-sm btn-link p-0" id="addNewContactNameBtn2">@Html.SmartLocalize("Person")</button>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-floating form-floating-advance-select">
                                    <label class="form-label" for="organizerMultiple">@Html.SmartLocalize("Country code")</label>
                                    <select class="form-select form-select-sm" id="organizerSingle2">
                                        <option value="">@Html.SmartLocalize("Select code")</option>
                                        <option>+91</option>
                                        <option>+92</option>
                                        <option>+880</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="form-floating">
                                    <input class="form-control" id="exampleFormControlInput" type="text" placeholder="" />
                                    <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Phone Number")</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">

                            <input class="form-control" id="exampleFormControlInput" type="text" placeholder="" />
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Email Address")</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating form-floating-advance-select">
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Company")</label>
                            <select class="form-select focus-color-disable" id="organizerSingle2">
                                <option value="">@Html.SmartLocalize("Select Company")</option>
                                <option>ABC Corp</option>
                                <option>XYZ Inc</option>
                                <option>XYZ Corp</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating form-floating-advance-select">
                            <label class="form-label" for="organizerMultiple">@Html.SmartLocalize("Lead Sources") </label>
                            <select class="form-select choiceDD" id="organizerSingle2" asp-items="@ViewBag.LeadSourceDD as SelectList">
                                <option selected disabled>@Html.SmartLocalize("Select Sources")...</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating form-floating-advance-select">
                            <label class="form-label" for="organizerMultiple">@Html.SmartLocalize("Status Name")</label>
                            <select class="form-select choiceDD" id="organizerSingle2" asp-items="@ViewBag.LeadStatusDD as SelectList">
                                <option disabled selected>@Html.SmartLocalize("Select Status")</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating form-floating-advance-select">
                            <label class="form-label" for="organizerMultiple">@Html.SmartLocalize("Lead Owner Name")</label>
                            <select class="form-select" id="organizerSingle2">
                                <option value="">@Html.SmartLocalize("Select Status")</option>
                                <option>Juel Rana</option>
                                <option>Hasan</option>
                                <option>Juzayer</option>
                                <option>Robiul</option>
                                <option>Karim</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">

                            <input class="form-control" id="exampleFormControlInput" type="text" placeholder="" />
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Approximate Deal Value")</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">

                            <input class="form-control" id="exampleFormControlInput" type="text" placeholder="" />
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Probability (%)")</label>
                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="form-floating">
                            <textarea class="form-control h-100" id="" rows="3" placeholder=""></textarea>
                            <label class="form-label" for="exampleFormControlInput">@Html.SmartLocalize("Description")</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNationalityModal" tabindex="-1" aria-labelledby="addNationalityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card">
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs mb-4" id="statusChangeTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active px-6" id="promotion-tab" data-bs-toggle="tab" data-bs-target="#promotion" type="button" role="tab">
                                Company
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link px-6" id="increment-tab" data-bs-toggle="tab" data-bs-target="#increment" type="button" role="tab">
                                Person
                            </button>
                        </li>
                    </ul>

                    <!-- Tab content -->
                    <div class="tab-content" id="statusChangeTabContent">
                        <!-- Promotion/Demotion Tab -->
                        <div class="tab-pane fade active show" id="promotion" role="tabpanel">
                            <form id="promotionForm">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3 form-floating">
                                                    <input type="text" class="form-control" placeholder="Company Name" required>
                                                    <label class="form-label req">Company Name</label>
                                                    <span class="text-danger small"></span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-12">
                                                <div class="mb-3 form-floating">
                                                    <input type="text" class="form-control" placeholder="Customer name" required>
                                                    <label class="form-label req">Full Address</label>
                                                    <span class="text-danger small"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="Street" required>
                                                            <label class="form-label req">Street</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="City" required>
                                                            <label class="form-label req">City</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Additional Address</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">State/Province</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Zip/Postal Code</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Country</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Latitude</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Longitude</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">First Name</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Last Name</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                              <div class="input-group">
                                                    <span class="input-group-text" id="btnGroupAddon2"><img src="~/img/bd_flag.png" width="30px" alt="Alternate Text" /></span>
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                                                    <label class="form-label req">Phone</label>
                                                    <span class="text-danger small"></span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                              <div class="input-group">
                                                    <span class="input-group-text" id="btnGroupAddon2"><img src="~/img/bd_flag.png" width="30px" alt="Alternate Text" /></span>
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                                                    <label class="form-label req">Other</label>
                                                    <span class="text-danger small"></span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3 form-floating">
                                                    <input type="text" class="form-control" placeholder="" required>
                                                    <label class="form-label req">Email</label>
                                                    <span class="text-danger small"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end gap-2 mt-3">
                                    <button type="button" class="btn btn-light">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>

                        <!-- Increment/Decrement Tab -->
                        <div class="tab-pane fade" id="increment" role="tabpanel">
                            <form id="incrementForm">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">First Name</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Last Name</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="mb-3 form-floating">
                                                    <input type="text" class="form-control" placeholder="Customer name" required>
                                                    <label class="form-label req">Full Address</label>
                                                    <span class="text-danger small"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="Street" required>
                                                            <label class="form-label req">Street</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="City" required>
                                                            <label class="form-label req">City</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Additional Address</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">State/Province</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Zip/Postal Code</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Country</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 pe-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Latitude</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ps-1 col-sm-6">
                                                        <div class="mb-3 form-floating">
                                                            <input type="text" class="form-control" placeholder="" required>
                                                            <label class="form-label req">Longitude</label>
                                                            <span class="text-danger small"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="row">
                                            
                                            <div class="col-12 mb-3">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="btnGroupAddon2"><img src="~/img/bd_flag.png" width="30px" alt="Alternate Text" /></span>
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                                                        <label class="form-label req">Phone</label>
                                                        <span class="text-danger small"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="btnGroupAddon2"><img src="~/img/bd_flag.png" width="30px" alt="Alternate Text" /></span>
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                                                        <label class="form-label req">Other</label>
                                                        <span class="text-danger small"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3 form-floating">
                                                    <input type="text" class="form-control" placeholder="" required>
                                                    <label class="form-label req">Email</label>
                                                    <span class="text-danger small"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end gap-2 mt-3">
                                    <button type="button" class="btn btn-light">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js" defer></script>

    <script src="~/js/pages/CRM/createLead.js"></script>
    <script type="text/javascript">
        

        
        // When modal is fully shown, activate the correct tab
                $('#addNationalityModal').on('shown.bs.modal', function () {
            console.log('Modal shown:', targetTab);

            if (targetTab === 'company') {
                $('#increment-tab').removeClass('active');
                $('#increment').removeClass('active show');
                $('#promotion-tab').addClass('active');
                $('#promotion').addClass('active show');
            } else {
                $('#promotion-tab').removeClass('active');
                $('#promotion').removeClass('active show');
                $('#increment-tab').addClass('active');
                $('#increment').addClass('active show');
            }
        });

    </script>
}