@model GCTL.Core.ViewModels.AttendanceManagement.ScheduleManagement.CreateSpiralPattern.CreateSpiralPatternVM

<div class="card">
    <div class="container mt-4">
        <form asp-controller="CreateSpiralPattern" asp-action="Create" id="createSpiralPattern-form" enctype="multipart/form-data">
            <div class="d-flex justify-content-between align-items-center mb-1">
                <h3>@Html.SmartLocalize("Create Spiral Pattern")</h3>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-1">
                <div class="col-md-3">
                    <label asp-for="OrganizationID" class="form-label">@Html.SmartLocalize("Select Organization")</label>
                    <select class="form-select" asp-for="OrganizationID" asp-items="@ViewBag.OrganizationDD as SelectList">
                        <option value="">@Html.SmartLocalize("Select Organization")...</option>
                    </select>
                    <span id="OrganizationIDError" class="text-danger" style="display:none;"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="SpiralPatternTypeID" class="form-label">@Html.SmartLocalize("Select Pattern Type")</label>
                    <select class="form-select" asp-for="SpiralPatternTypeID" asp-items="@ViewBag.SpiralPatternTypeDD as SelectList">
                        <option value="">@Html.SmartLocalize("Select Pattern Type")...</option>
                    </select>
                    <span id="SpiralPatternTypeIDError" class="text-danger" style="display:none;"></span>
                </div>
            </div>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <div id="Weekly" class="table-container mt-4 d-none">
                    <table class="table table-bordered table-sm fs-9 leads-table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Spiral Pattern Name")</th>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Saturday")</th>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Sunday")</th>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Monday")</th>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Tuesday")</th>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Wednesday")</th>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Thursday")</th>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Friday")</th>
                            </tr>
                        </thead>
                        <tbody class="list" id="rosterTable">
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-2 py-2">
                                    <div class="d-flex align-items-center">
                                        <div class="ms-1">
                                            <input type="text" class="form-control" asp-for="SpiralWeeklyPatternName" placeholder="@Html.SmartLocalize("Enter Spiral Pattern Name")">
                                        </div>
                                    </div>
                                </td>
                                @for (int i = 0; i < 7; i++) // 7 days of the week
                                {
                                    <td class="shift-cell align-middle white-space-nowrap fw-semibold text-body-emphasis ps-2 py-2">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-1">
                                                <select class="form-select shift-dropdown" name="SpiralWeeklyPatternDetailsVMs[@i].ShiftID" data-day="@i">
                                                    <option value="">@Html.SmartLocalize("Select Shift")...</option>
                                                    @foreach (var item in ViewBag.ShiftDD as SelectList)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                                <input type="hidden" name="SpiralWeeklyPatternDetailsVMs[@i].DayOfWeek" value="@i" />
                                            </div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <div id="Fortnightly" class="table-container mt-4 d-none">
                    <table class="table table-bordered table-sm fs-9 leads-table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Spiral Pattern Name")</th>
                                <th>@Html.SmartLocalize("Day 01")</th>
                                <th>@Html.SmartLocalize("Day 02")</th>
                                <th>@Html.SmartLocalize("Day 03")</th>
                                <th>@Html.SmartLocalize("Day 04")</th>
                                <th>@Html.SmartLocalize("Day 05")</th>
                                <th>@Html.SmartLocalize("Day 06")</th>
                                <th>@Html.SmartLocalize("Day 07")</th>
                                <th>@Html.SmartLocalize("Day 08")</th>
                                <th>@Html.SmartLocalize("Day 09")</th>
                                <th>@Html.SmartLocalize("Day 10")</th>
                                <th>@Html.SmartLocalize("Day 11")</th>
                                <th>@Html.SmartLocalize("Day 12")</th>
                                <th>@Html.SmartLocalize("Day 13")</th>
                                <th>@Html.SmartLocalize("Day 14")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-2 py-2">
                                    <div class="d-flex align-items-center">
                                        <div class="ms-1">
                                            <input type="text" class="form-control" placeholder="@Html.SmartLocalize("Enter Spiral Pattern Name")">
                                        </div>
                                    </div>
                                </td>
                                @for (int i = 0; i < 14; i++) // 7 days of the week
                                {
                                    <td class="shift-cell align-middle white-space-nowrap fw-semibold text-body-emphasis ps-2 py-2">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-1 w-auto">
                                                <select class="form-select shift-dropdown w-auto" name="SpiralBioWeeklyPatternDetailsVMs[@i].ShiftID" data-day="@i">
                                                    <option value="">@Html.SmartLocalize("Select Shift")...</option>
                                                    @foreach (var item in ViewBag.ShiftDD as SelectList)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                                <input type="hidden" name="SpiralBioWeeklyPatternDetailsVMs[@i].DayOfWeek" value="@i" />
                                            </div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <div id="Monthly" class="table-container mt-4 d-none">
                    <table class="table table-bordered table-sm fs-9 leads-table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">@Html.SmartLocalize("Spiral Pattern Name")</th>
                                <th>@Html.SmartLocalize("Day 01")</th>
                                <th>@Html.SmartLocalize("Day 02")</th>
                                <th>@Html.SmartLocalize("Day 03")</th>
                                <th>@Html.SmartLocalize("Day 04")</th>
                                <th>@Html.SmartLocalize("Day 05")</th>
                                <th>@Html.SmartLocalize("Day 06")</th>
                                <th>@Html.SmartLocalize("Day 07")</th>
                                <th>@Html.SmartLocalize("Day 08")</th>
                                <th>@Html.SmartLocalize("Day 09")</th>
                                <th>@Html.SmartLocalize("Day 10")</th>
                                <th>@Html.SmartLocalize("Day 11")</th>
                                <th>@Html.SmartLocalize("Day 12")</th>
                                <th>@Html.SmartLocalize("Day 13")</th>
                                <th>@Html.SmartLocalize("Day 14")</th>
                                <th>@Html.SmartLocalize("Day 15")</th>
                                <th>@Html.SmartLocalize("Day 16")</th>
                                <th>@Html.SmartLocalize("Day 17")</th>
                                <th>@Html.SmartLocalize("Day 18")</th>
                                <th>@Html.SmartLocalize("Day 19")</th>
                                <th>@Html.SmartLocalize("Day 20")</th>
                                <th>@Html.SmartLocalize("Day 21")</th>
                                <th>@Html.SmartLocalize("Day 22")</th>
                                <th>@Html.SmartLocalize("Day 23")</th>
                                <th>@Html.SmartLocalize("Day 24")</th>
                                <th>@Html.SmartLocalize("Day 25")</th>
                                <th>@Html.SmartLocalize("Day 26")</th>
                                <th>@Html.SmartLocalize("Day 27")</th>
                                <th>@Html.SmartLocalize("Day 28")</th>
                                <th>@Html.SmartLocalize("Day 29")</th>
                                <th>@Html.SmartLocalize("Day 30")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-2 py-2">
                                    <div class="d-flex align-items-center">
                                        <div class="ms-1">
                                            <input type="text" class="form-control" placeholder="@Html.SmartLocalize("Enter Spiral Pattern Name")">
                                        </div>
                                    </div>
                                </td>
                                @for (int i = 0; i < 30; i++) // 7 days of the week
                                {
                                    <td class="shift-cell align-middle white-space-nowrap fw-semibold text-body-emphasis ps-2 py-2">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-1 w-auto">
                                                <select class="form-select shift-dropdown w-auto" name="SpiralMonthlyPatternDetailsVMs[@i].ShiftID" data-day="@i">
                                                    <option value="">@Html.SmartLocalize("Select Shift")...</option>
                                                    @foreach (var item in ViewBag.ShiftDD as SelectList)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                                <input type="hidden" name="SpiralMonthlyPatternDetailsVMs[@i].DayOfWeek" value="@i" />
                                            </div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-12">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <button type="reset" class="btn btn-phoenix-primary px-5" id="createSpiralPattern-resetBtn">@Html.SmartLocalize("Reset")</button>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary px-5 px-sm-10" id="createSpiralPattern-saveBtn">@Html.SmartLocalize("Create Spiral Pattern")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>