@model GCTL.Core.ViewModels.MasterSetup.Currencies.CurrencyVM

<div class="card">
    <div class="card-header border-bottom-1">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <h3 class="text-body-emphasis mt-3">@Html.SmartLocalize("Add Currency")</h3>
            </div>
        </div>
    </div>

    <div class="card-body mt-3">
        <form asp-action="Create" asp-controller="Currencys" method="post" enctype="multipart/form-data" id="currency-form">
            @Html.AntiForgeryToken()
            <div class="col-sm-12 col-md-12 mb-4">
                <input type="hidden" asp-for="CurrencyID" />
                <div class="flatpickr-input-container">
                    <div class="form-floating">
                        <input class="form-control" asp-for="CurrencyCode" type="text" placeholder="@Html.SmartLocalize("Currency Code")" autocomplete="off" />
                        <label asp-for="CurrencyCode">@Html.SmartLocalize("Currency Code")</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 mb-4">
                <div class="flatpickr-input-container">
                    <div class="form-floating">
                        <input class="form-control" asp-for="CurrencyName" type="text" placeholder="@Html.SmartLocalize("Currency Name")" autocomplete="off" />
                        <label asp-for="CurrencyName">@Html.SmartLocalize("Currency Name") <span style="color: red;">*</span></label>
                    </div>
                    <span asp-validation-for="CurrencyName" class="text-danger"></span>
                    <span id="nameError" class="text-danger" style="display:none;"></span>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 mb-4">
                <div class="flatpickr-input-container">
                    <div class="form-floating">
                        <input class="form-control" asp-for="Symbol" type="text" placeholder="@Html.SmartLocalize("Symbol")" autocomplete="off" />
                        <label asp-for="Symbol">@Html.SmartLocalize("Symbol") <span style="color: red;">*</span></label>
                    </div>
                    <span asp-validation-for="Symbol" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 mb-4">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <button type="reset" class="btn btn-phoenix-primary px-5" id="currency-resetBtn">@Html.SmartLocalize("Reset")</button>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary px-5 px-sm-15" id="currency-saveBtn">@Html.SmartLocalize("Save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
