@using GCTL.Core.ViewModels.POS.Sales.InvoiceF

@model InvoiceViewModel
@{
    ViewData["Title"] = Html.SmartLocalize("Invoice");
}

<div class="row mb-1">
    <div class="row col-xl-12 border-2">
        <p class="mb-2 fw-lighter fs-5">@Html.SmartLocalize("Invoice")</p>
    </div>
</div>

<div class="p-4 bg-body-emphasis">
    <form asp-action="Save" method="post" id="invoiceForm">
        <input asp-for="Id" type="hidden" />

        <div class="row mb-4 mt-3">
            <div class="row col-xl-12">
                <p class="mb-1 fw-bold fs-7">@Html.SmartLocalize("Invoice")</p>
                <p class="mb-2 fw-lighter fs-9">
                    @Html.SmartLocalize("Invoice details for customer billing. Select customer, add products, and specify billing/shipping addresses.")
                </p>
                <div class="border-bottom border-2"></div>
            </div>

            <div class="row mb-3">
                <div class="col-xl-12">
                    <div class="row justify-content-between">
                        <!-- CUSTOMER DROPDOWN -->
                        <div class="col-xl-5">
                            <div class="mt-2">
                                <div class="d-flex gap-3">
                                    <div class="col-md-12 col-12">
                                        <input asp-for="SelectedCustomerId" type="hidden" id="selectedCustomerId" />
                                        <button type="button" class="btn border border-github py-5 px-10 mt-4" id="showUserDropdownBtn">
                                            <i class="fa fa-user fs-3 mb-2"></i>
                                            <p>@Html.SmartLocalize("Add Customer")</p>
                                        </button>
                                        <div id="userDropdownContainer" style="display:none;">
                                            <label class="form-label">@Html.SmartLocalize("Select Customer")</label>
                                            <select id="customerDropdown" class="form-select">
                                                <option value="">@Html.SmartLocalize("-- Select Customer --")</option>
                                            </select>
                                        </div>
                                        <input type="hidden" id="preSelectedCustomerId" value="@(Model.SelectedCustomerId?.ToString() ?? "")" />
                                        <input type="hidden" id="preSelectedSalesOrderId" value="@(Model.SelectedSalesOrderId?.ToString() ?? "")" />
                                        <div id="userInfo" class="card mb-3 mt-3" style="display:none;">
                                            <div class="card-body">
                                                <h5 class="card-title mb-2">@Html.SmartLocalize("Customer Information")</h5>
                                                <div class="d-flex">
                                                    <div class="me-auto">
                                                        <p class="mb-1 fs-9 info-company"></p>
                                                        <p class="mb-1 fs-9 info-addr1"></p>
                                                        <p class="mb-1 fs-9 info-addr2"></p>
                                                    </div>
                                                    <div class="mx-auto">
                                                        <p class="mb-1 fs-9 info-tax"></p>
                                                        <p class="mb-1 fs-9 info-phone"></p>
                                                        <p class="mb-1 fs-9 info-email"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- SALES ORDER DROPDOWN -->
                                        <div id="salesOrderDropdownContainer" style="display:none;">
                                            <label class="form-label">@Html.SmartLocalize("Link to Sales Order (Optional)")</label>
                                            <select id="salesOrderDropdown" asp-for="SelectedSalesOrderId" class="form-select">
                                                <option value="">@Html.SmartLocalize("-- Select Sales Order --")</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-7">
                            <div class="row mt-3">
                                <div class="col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">@Html.SmartLocalize("Invoice Number")</label>
                                        <input asp-for="InvoiceNumber" id="invoiceNumber" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">@Html.SmartLocalize("Invoice Date")</label>
                                        <input asp-for="InvoiceDate" class="form-control datetimepicker caiCon" type="date" />
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">@Html.SmartLocalize("Due Date")</label>
                                        <input asp-for="DueDate" class="form-control datetimepicker caiCon" type="date" />
                                    </div>
                                </div>


                                <div class="col-xl-6">
                                    <div class="mb-3">
                                        <label class="form-label">@Html.SmartLocalize("Other Reference")</label>
                                        <input asp-for="OtherReference" class="form-control" />
                                    </div>
                                </div>




                                @*<div class="col-xl-6">
            <div class="mb-3">
                <div class="form-check">
                    <input asp-for="IsDraft" class="form-check-input" type="checkbox" id="isDraft" />
                    <label class="form-check-label" for="isDraft">
                        @Html.SmartLocalize("Save as Draft")
                    </label>
                </div>
            </div>
        </div>*@


                                <div class="col-xl-12">

                                    <div class="row">
                                        <div class="form-check form-switch">


                                            <div class="d-flex ">


                                                <div class="col-md-4">
                                                    <label class="">

                                                        <input asp-for="IsDraft" class="form-check-input fs-9 mt-2" type="checkbox" id="isDraft" />
                                                        <span class="fs-9">@Html.SmartLocalize("Save as Draft")</span>
                                                    </label>
                                                </div>


                                                <div class="col-md-4">
                                                    <label class="">
                                                        <input class="form-check-input fs-9 mt-2" asp-for="IsVatAfterSubtotal" type="checkbox" id="toggleCheckboxEV">
                                                        <span class="fs-9">VAT after subtotal</span>
                                                    </label>
                                                </div>

                                                <div class="col-md-4">
                                                    <label class="mx-1">
                                                        <input class="form-check-input fs-9 mt-2" type="checkbox" asp-for="IsItemPriceIncludingVat" id="toggleCheckboxforIncludingVat">
                                                        <span class="fs-9">Each item price including vat</span>
                                                    </label>
                                                </div>

                                               

                                               
                                            </div>
                                        </div>
                                    </div>

                                    

                                </div>


                                <div class="col-xl-12">

                                    <div class="row">
                                        <div class="form-check form-switch">


                                            <div class="d-flex ">




                                                <div class="col-md-4">
                                                    <label class="me-1">
                                                        <input class="form-check-input fs-9 mt-2" type="checkbox" asp-for="IsPriceWithoutVat" id="toggleCheckboxForPriceWithoutVat">
                                                        <span class="fs-9">Price without vat</span>
                                                    </label>
                                                </div>

                                                <div class="col-md-4">
                                                    <label>
                                                        <input class="form-check-input fs-9 mt-2" type="checkbox" asp-for="IsAit" id="toggleCheckboxForAIT">
                                                        <span class="fs-9">Add AIT 5%</span>
                                                    </label>
                                                </div>

                                                <div class="col-xl-4 " style="display: none;" id="hiddenDiv">

                                                    <label>
                                                        <input class="form-check-input fs-9 mt-2"  asp-for="ShowTaxColumn" id="showTaxColumn" type="checkbox" />
                                                        <label class="" for="showTaxColumn"><span class="fs-9">Show Tax Column</span></label>
                                                    </label>

                                                    

                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ITEMS TABLE -->
            <div class="col-xl-12 mt-3">
                <table class="table" id="itemsTable" style="border-bottom: 0px solid #ffffff00;">
                    <thead>
                        <tr>
                            <th style="width: 50px;">@Html.SmartLocalize("SL")</th>
                            <th class="text-center">@Html.SmartLocalize("Product")</th>
                            <th class="text-center">@Html.SmartLocalize("Quantity")</th>
                            <th class="text-center">@Html.SmartLocalize("Product Price (BDT)")</th>

                            <th class="text-center">VAT Amount</th>
                            
                            <th class="text-center">@Html.SmartLocalize("Amount (BDT)")</th>
                            <th style="width: 50px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            <tr data-index="@i">
                                <td class="fs-8 text-center align-middle">@(i + 1)</td>
                                <td>
                                    <select asp-for="Items[i].ProductId" class="form-select productDD searchableSelect" asp-items="ViewBag.Products">
                                        <option value="">@Html.SmartLocalize("-- Select Product --")</option>
                                    </select>
                                </td>
                                <td><input asp-for="Items[i].Quantity" class="form-control calc" type="number" step="any" /></td>
                                <td><input asp-for="Items[i].UnitPrice" class="form-control calc" type="number" step="any" /></td>

                                <td class="vatPerItem text-end align-middle">0.00</td>


                                <td class="amount text-center align-middle">@Model.Items[i].Amount.ToString("N2")</td>
                                <td class="text-center align-middle">
                                    <button type="button" class="btn btn-sm btn-outline-danger mx-2 remove-item">
                                        <i class="far fa-trash-alt text-black"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="6" class="text-center">
                                <a id="add-item-btn" class="text-primary py-2" role="button" style="cursor:pointer;">
                                    @Html.SmartLocalize("Add an Item")
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-end fs-9 fw-bold">@Html.SmartLocalize("Sub Total Taka")</td>
                            <td colspan="1" class="text-center fs-9 fw-bold" id="subTotal">@Model.SubTotal.ToString("N2")</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-end fs-9 py-2">
                                <div class="d-flex justify-content-end">
                                    <div class="mx-2 mt-2">@Html.SmartLocalize("VAT (%)")</div>
                                    <div><input asp-for="VatPercent" id="vatPercent" class="form-control vatPercent" type="number" step="any" /></div>
                                </div>
                            </td>
                            <td colspan="1" class="text-center fs-9" id="vatAmount">@Model.VatAmount.ToString("N2")</td>
                        </tr>


                        <tr>
                            <td colspan="5" class="text-end fs-9 py-2">
                                <div class="d-flex justify-content-end">
                                    <div class="mx-2 mt-2">AIT (%)</div>
                                    <div><input asp-for="AitPercent" id="aitPercent" class="form-control" type="number" step="any" value="5" /></div>
                                </div>
                            </td>
                            <td colspan="1" class="text-center fs-9" id="aitAmount">@Model.AitAmount.ToString("N2")</td>
                        </tr>



                        <tr>
                            <td colspan="5" class="text-end h5">@Html.SmartLocalize("Grand Total Taka")</td>
                            <td colspan="1" class="text-center h5" id="grandTotal">@Model.GrandTotal.ToString("N2")</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- BILLING ADDRESS -->
            <div class="row col-xl-12 mb-3 mt-4">
                <p class="mb-1 fw-bold fs-8">@Html.SmartLocalize("Billing Address")</p>
                <div class="border-bottom border-2 mb-3"></div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("First Name")</label>
                            <input asp-for="BillingAddress.FirstName" id="billingFirstName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Last Name")</label>
                            <input asp-for="BillingAddress.LastName" id="billingLastName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Phone")</label>
                            <input asp-for="BillingAddress.Phone" id="billingPhone" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Email")</label>
                            <input asp-for="BillingAddress.Email" id="billingEmail" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Address")</label>
                            <input asp-for="BillingAddress.FullAddress" id="billingAddress" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("City")</label>
                            <input asp-for="BillingAddress.City" id="billingCity" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("State")</label>
                            <input asp-for="BillingAddress.State" id="billingState" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Postal Code")</label>
                            <input asp-for="BillingAddress.PostalCode" id="billingPostalCode" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- SHIPPING ADDRESS -->
            <div class="row col-xl-12 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-1 fw-bold fs-8">@Html.SmartLocalize("Shipping Address")</p>
                    <button type="button" class="btn btn-sm btn-secondary" id="copyBillingToShipping">
                        <i class="fa fa-copy me-1"></i> @Html.SmartLocalize("Copy from Billing")
                    </button>
                </div>
                <div class="border-bottom border-2 mb-3"></div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("First Name")</label>
                            <input asp-for="ShippingAddress.FirstName" id="shippingFirstName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Last Name")</label>
                            <input asp-for="ShippingAddress.LastName" id="shippingLastName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Phone")</label>
                            <input asp-for="ShippingAddress.Phone" id="shippingPhone" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Email")</label>
                            <input asp-for="ShippingAddress.Email" id="shippingEmail" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Address")</label>
                            <input asp-for="ShippingAddress.FullAddress" id="shippingAddress" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("City")</label>
                            <input asp-for="ShippingAddress.City" id="shippingCity" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("State")</label>
                            <input asp-for="ShippingAddress.State" id="shippingState" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Postal Code")</label>
                            <input asp-for="ShippingAddress.PostalCode" id="shippingPostalCode" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-xl-12 mb-3">
                <p class="mb-1 fw-bold fs-8">@Html.SmartLocalize("Note")</p>
                <div class="pe-3">
                    <textarea asp-for="InvoiceNote" id="invoiceNote" class="form-control" rows="3" placeholder="@Html.SmartLocalize("Add any additional notes here...")"></textarea>
                </div>
            </div>

            <!-- ACTION BUTTONS -->
            <div class="row col-xl-12 mb-3">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary me-2" id="clearFormBtn">@Html.SmartLocalize("Clear")</button>
                    <button type="submit" class="btn btn-primary me-2">@Html.SmartLocalize("Save Invoice")</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/pages/Sales/invoice.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}