@using GCTL.Core.ViewModels.Employee.EmployeeNavigtion
@model GCTL.Core.ViewModels.Employee.EmployeeBenifit.EmployeeBenifitPostViewModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">
<select id="percentageOptionsTemplate" style="display:none">
    @if (ViewBag.PercenatageDD != null)
    {
        foreach (SelectListItem item in (SelectList)ViewBag.PercenatageDD)
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>
<style>
    .flatpickr-monthSelect-months {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        gap: 10px; /* Space between months */
        margin: 10px 1px 3px 1px;
    }

    /* Styling for individual months */
    .flatpickr-monthSelect-month {
        background: none;
        border: 1px solid transparent;
        border-radius: 4px;
        box-sizing: border-box;
        color: #393939;
        cursor: pointer;
        display: flex; /* Use flexbox to center the text inside the month */
        justify-content: center;
        padding: 10px;
        position: relative;
        text-align: center;
        width: 100%; /* Make sure it takes full width of the column */
    }

        /* Disabled month styling */
        .flatpickr-monthSelect-month.flatpickr-disabled {
            color: #eee;
        }

            .flatpickr-monthSelect-month.flatpickr-disabled:hover,
            .flatpickr-monthSelect-month.flatpickr-disabled:focus {
                cursor: not-allowed;
                background: none !important;
            }

    /* Dark theme adjustments */
    .flatpickr-monthSelect-theme-dark {
        background: #3f4458;
    }

        .flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month {
            color: rgba(255, 255, 255, 0.95);
        }

            .flatpickr-monthSelect-theme-dark .flatpickr-monthSelect-month.selected {
                background-color: #80cbc4;
                color: #fff;
                border-color: #80cbc4;
            }

    /* Styling for today’s month */
    .flatpickr-monthSelect-month.today {
        border-color: #959ea9;
    }

    .flatpickr-monthSelect-month.selected,
    .flatpickr-monthSelect-month.startRange,
    .flatpickr-monthSelect-month.endRange {
        background-color: #569ff7;
        box-shadow: none;
        color: #fff;
        border-color: #569ff7;
    }

    /* Range selection */
    .flatpickr-monthSelect-month.startRange {
        border-radius: 50px 0 0 50px;
    }

    .flatpickr-monthSelect-month.endRange {
        border-radius: 0 50px 50px 0;
    }

    .flatpickr-monthSelect-month.inRange {
        border-radius: 0;
        box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
    }
</style>
<div class="mb-9">
    <div class="row align-items-center justify-content-between g-3 ">
        <div class="col-auto">
        </div>
    </div>

    <div class="px-3 mb-5">
        <div class="row">
            <form asp-controller="EmployeeBenifit" asp-action="Index" method="post">
                <div class="col-12">
                    <input type="hidden" asp-for="EmployeeBaseBenefitID" />

                    <div class="row g-2 align-items-center" id="EmployeeDropDownDiv" style="display:none">

                        <div class="col-md-3">
                            <div class="position-relative">
                                <!--
                            <input class="form-control search-input search" type="search" placeholder="@Html.SmartLocalize("Employee Name / Phone / Email")" aria-label="Search" />
                            <span class="fas fa-search search-box-icon position-absolute top-50 end-0 translate-middle-y me-3"></span>
                -->
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-2 ">
                            <div class="form-floating form-floating-advance-select mb-2">
                                <label asp-for="EmployeePersonalId">@Html.SmartLocalize("Choose Employee")</label>
                                <select class="form-select" asp-for="EmployeePersonalId" asp-items="@ViewBag.EmployeeDD as SelectList">
                                    <option value="">@Html.SmartLocalize("Select Employee")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="form-floating">
                                <input asp-for="PersonalEmail" class="form-control" type="email" placeholder="@Html.SmartLocalize("Email")" />
                                <label asp-for="PersonalEmail">@Html.SmartLocalize("Email")</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="form-floating">
                                <input asp-for="PersonalPhone" class="form-control" type="text" placeholder="@Html.SmartLocalize("Enter Phone")" />
                                <label asp-for="PersonalPhone">@Html.SmartLocalize("Phone")</label>
                            </div>
                        </div>
                    </div>

                    <div class="mx-n4 mx-lg-n6 px-lg-6 bg-body-emphasis pb-4">
                        <div class="col-12 col-xl-12 col-xxl-12">

                            @await Html.PartialAsync("Employee/_EmployeeNavigation", ViewBag.Navigation as EmployeeNavigationViewModel)

            

                            <div class="card tab-content bg-white accordion" id="myTabContent">
                                <div class="tab-pane fade show active p-2" role="tabpanel" id="empPayroleInfo" aria-labelledby="empPayroleInfo">
                                    <div class="px-25">

                                        <div class="tab-content mt-3" id="myTabContent">
                                            <div class="tab-pane fade show active" id="tab-empBenefits" role="tabpanel" aria-labelledby="empBenefits-tab">
                                                <div class="">
                                                    <div class="d-flex justify-content-center mt-2">
                                                        <div class="col-12 row flex gy-3">
                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                                                        <h5>@Html.SmartLocalize("Add Employee Benefits")</h5>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsBenifitEnabled" id="empBeniftSwitch">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">

                                                                    <label>@Html.SmartLocalize("Organization")</label>
                                                                    <select class="form-select choiceDD" asp-for="OrganizationID" id="OrganizationID" asp-items="@ViewBag.OrganizationDD as SelectList" disabled>
                                                                        <option value="">@Html.SmartLocalize("No Organization Selected")</option>
                                                                    </select>

                                                                </div>
                                                            </div>

                                                            <div class="card">

                                                                <div id="EmployeeAllowanceAccordion"></div>
                                                            </div>

                                                           @*  <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center">
                                                                        <label asp-for="HealthInsurance">@Html.SmartLocalize("Health Insurance")</label>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsHealthInsuranceEnabled" id="healthInsuranceSwitch">
                                                                        </div>
                                                                    </div>
                                                                    <input asp-for="HealthInsurance" class="form-control" type="text" placeholder="@Html.SmartLocalize("Ex: 500 tk Per Month")" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center">
                                                                        <label asp-for="PerformanceBonus">@Html.SmartLocalize("Performance Bonus")</label>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsPerformanceBonusEnabled" id="performanceBonusSwitch">
                                                                        </div>
                                                                    </div>
                                                                    <input asp-for="PerformanceBonus" class="form-control" type="text" placeholder="@Html.SmartLocalize("Ex: 10,000 tk Yearly")" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center">
                                                                        <label asp-for="YearlyEndBonusTypeID">@Html.SmartLocalize("Yearly End Bonus")</label>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsYearlyEndBonusTypeIDEnabled" id="yearlyEndBonusSwitch">
                                                                        </div>
                                                                    </div>
                                                                    <select class="form-select" asp-for="YearlyEndBonusTypeID" asp-items="@ViewBag.YearlyEndBonusTypeDD as SelectList">
                                                                        <option value="">@Html.SmartLocalize("Select one...")</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                                                        <h5>@Html.SmartLocalize("Festival Bonus")</h5>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsFastivalBonusPercentageEnabled" id="festivalBonusSwitch">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="mb-3">
                                                                    <label asp-for="FastivalBonusPercentage">@Html.SmartLocalize("Festival Bonus Rate")</label>

                                                                    <select class="form-select" id="festivalBonusRateSelect" asp-for="FastivalBonusPercentage" asp-items="@ViewBag.FastivalBonusPercentageDD as SelectList">
                                                                        <option value="">@Html.SmartLocalize("Select %")</option>
                                                                    </select>


                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <div class="content-head d-flex justify-content-between border-bottom">
                                                                        <h5>@Html.SmartLocalize("Provident Fund")</h5>
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsProvidantFundEnabled" id="providentFundSwitch1">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="mb-3">
                                                                    <label asp-for="ProvidantFundEmployeePercentage">@Html.SmartLocalize("Employee Contribution")</label>
                                                                    <select asp-for="ProvidantFundEmployeePercentage" asp-items="ViewBag.PFEmployeeContributionDD" class="form-select mb-3" id="employeeContributionSelect">
                                                                        <option value="">@Html.SmartLocalize("Select %")</option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="mb-3">
                                                                    <label asp-for="ProvidantFundOrganizationPercentage">@Html.SmartLocalize("Organization Contribution")</label>
                                                                    <select asp-for="ProvidantFundOrganizationPercentage" asp-items="ViewBag.PFOrgContributionDD" class="form-select mb-3" id="organizationContributionSelect">
                                                                        <option value="">@Html.SmartLocalize("Select %")</option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="mb-3">
                                                                    <label asp-for="ServiceYearID">@Html.SmartLocalize("Minimum Service Year")</label>


                                                                    <select class="form-select" asp-for="ServiceYearID" id="serviceYearSelect" asp-items="@ViewBag.ServiceYearDD as SelectList">
                                                                        <option value="">@Html.SmartLocalize("Select Year...")</option>
                                                                    </select>

                                                                </div>
                                                            </div> *@
                                                            <div class="col-12">
                                                                <div class="row g-3 justify-content-end">
                                                                    <div class="col-auto">
                                                                        <button class="btn btn-phoenix-primary px-5" type="button">@Html.SmartLocalize("Cancel")</button>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <button class="btn btn-primary px-5 px-sm-15" type="submit">@Html.SmartLocalize("Save")</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/pages/employees/employeevalidator.js"></script>
    <script src="~/js/pages/employees/employeebenifit.js"></script>
    <script src="~/js/pages/employees/employeetabchange.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
}