@{
    var mainTab = "CompanySetting";
    var subTab = "DepartmentSettings";
}

<partial name="~/Views/Shared/AdminsettingsNavs/CompanySettingsNavs/_MainSettingsTabPartial.cshtml" model="mainTab" />
<partial name="~/Views/Shared/AdminsettingsNavs/CompanySettingsNavs/_NavCompanySettingsPartial.cshtml" model="subTab" />


        <div class="col-xl-12 mt-3">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="border-bottom d-flex align-items-center justify-content-between pb-3 mb-3">
                        <h4>Department Settings</h4>

                    </div>


                    <form action="settings-ui.html">
                        <div class="border-bottom mb-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <h6 class="mb-3">Basic Information</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                <label class="form-label" for="exampleFormControlInput">Organization Name</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option>GCTL</option>
                                            <option>CSL</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput">Department Name</label>
                                        <input class="form-control" id="exampleFormControlInput" type="email" placeholder="Branch Name" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput">Department Head</label>
                                        <select class="form-multi-select" id="multiple-emp-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                            <optgroup label="Developer">
                                                <option value="2">Alam</option>
                                                <option value="3">Momin</option>
                                            </optgroup>
                                            <optgroup label="Designer">
                                                <option value="4">Name (id)</option>
                                                <option value="5">Name (id)</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>




                            </div>
                        </div>


                        <div class="d-flex align-items-center justify-content-end">
                            <button type="button" class="btn btn-outline-light border me-3">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
    <div class="card mt-4 mb-4">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4 class="mb-1">@Html.SmartLocalize("Department List")</h4>
            @* <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                                <div class="dropdown me-3">
                                    <select class="form-select" id="addEmailConfig-dd-search" asp-items="ViewBag.OrganizationDD as SelectList" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                                        <option value="">@Html.SmartLocalize("Company Name")</option>
                                    </select>
                                </div>
                            </div> *@
        </div>

        <div class="border-translucent p-3">
            <div class="row g-3 justify-content-between align-items-end mb-4">
                <div class="col-12 col-sm-auto">
                    <div class="d-flex align-items-center me-3" style="width: auto;">
                        <span class="ms-2">@Html.SmartLocalize("Showing"):</span> &nbsp;
                        <div style="width: 100%;">
                            <select id="addEmailConfig-pageSizeSelect" class="form-select form-select-sm" tabindex="10">
                                <option class="dropdown-item" value="5">@Html.SmartLocalize("5")</option>
                                <option class="dropdown-item" value="10">@Html.SmartLocalize("10")</option>
                                <option class="dropdown-item" value="25">@Html.SmartLocalize("25")</option>
                                <option class="dropdown-item" value="50">@Html.SmartLocalize("50")</option>
                                <option class="dropdown-item" value="100">@Html.SmartLocalize("100")</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-auto">
                    <div class="d-flex align-items-center">
                        <div class="d-none me-3" id="addEmailConfig-bulkSelectActions">
                            <div class="position-relative">
                                <button type="button" class="btn btn-phoenix-danger btn-sm ms-2" id="addEmailConfig-bulkDelBtn">@Html.SmartLocalize("Delete")</button>
                            </div>
                        </div>

                        <div class="search-box me-3" id="addShift-searchBox">
                            <form class="position-relative" id="addShift-searchForm">
                                <input class="form-control search-input search" id="addEmailConfig-searchInput" type="search" placeholder="@Html.SmartLocalize("Search here")" aria-label="Search" />
                                <span class="fas fa-search search-box-icon"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 leads-table">
                    <thead>
                        <tr>
                            <th class="text-center text-middle align-middle ps-0" scope="col" style="width: 5%;">
                                <input type="checkbox" class="form-check-input" id="addShift-check-all" />
                            </th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="EmailCompanyName">@Html.SmartLocalize("Company Name")</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="EmailServerName">@Html.SmartLocalize("Department Name")</th>
                            
                            <th class="text-end align-middle pe-0 ps-5 text-uppercase" scope="col">@Html.SmartLocalize("Action")</th>
                        </tr>
                    </thead>
                    <tbody id="addEmailConfig-tBody">
                    </tbody>
                </table>
            </div>

            <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
                <div class="d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="addEmailConfig-paginationInfo"></p>

                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
                </div>
                <div class="d-flex">
                    <button class="page-link" data-list-pagination="prev" id="addShift-prevPageBtn"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination" id="addEmailConfig-paginationLinks"></ul>
                    <button class="page-link pe-0" data-list-pagination="next" id="addEmailConfig-nextPageBtn"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>
           @*  <div class="card mb-6">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h4>Company Department List</h4>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="exampleFormControlInput">Company Name</label>
                            <select class="form-select" aria-label="Default select example">
                                <option>GCTL</option>
                                <option>CSL</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="border-top border-translucent p-3">
                    <div id="companyListTable" data-list='{"valueNames":["companyName","departmentName"],"page":5,"pagination":true}'>

                        <div class="table-responsive scrollbar mx-n1 px-1">
                            <table class="table table-sm fs-9 leads-table">
                                <thead>
                                    <tr>

                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="companyName">Company Name</th>
                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="departmentName">Department Name</th>
                                        <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="list" id="company-info-body">
                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                        <td class="companyName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">GCTL</td>
                                        <td class="departmentName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">Software Development</td>

                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                            <div class="btn-reveal-trigger position-static">
                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_department">
                                                    <i class="fas fa-edit text-success"></i>
                                                </a>

                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>

                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                        <td class="companyName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">GCTL</td>
                                        <td class="departmentName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">Software Desing</td>

                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                            <div class="btn-reveal-trigger position-static">
                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_department">
                                                    <i class="fas fa-edit text-success"></i>
                                                </a>

                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>

                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                        <td class="companyName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">GCTL</td>
                                        <td class="departmentName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">Marketing</td>

                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                            <div class="btn-reveal-trigger position-static">
                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_department">
                                                    <i class="fas fa-edit text-success"></i>
                                                </a>

                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>

                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                        <td class="companyName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">GCTL</td>
                                        <td class="departmentName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">Finance</td>

                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                            <div class="btn-reveal-trigger position-static">
                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_department">
                                                    <i class="fas fa-edit text-success"></i>
                                                </a>

                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>

                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                        <td class="companyName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">GCTL</td>
                                        <td class="departmentName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">Sales</td>

                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                            <div class="btn-reveal-trigger position-static">
                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_department">
                                                    <i class="fas fa-edit text-success"></i>
                                                </a>

                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>

                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                        <td class="companyName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">GCTL</td>
                                        <td class="departmentName align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">Customer Support</td>

                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                            <div class="btn-reveal-trigger position-static">
                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_department">
                                                    <i class="fas fa-edit text-success"></i>
                                                </a>

                                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="row align-items-center justify-content-between pe-0 fs-9">
                            <div class="col-auto d-flex">
                                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                            </div>
                            <div class="col-auto d-flex">
                                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                                <ul class="mb-0 pagination"></ul>
                                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                            </div>
                        </div>

                    </div>
                </div>

            </div> *@
        </div>

