@model GCTL.Core.ViewModels.POS.Requsition.AddRequisition.CreateRequisitionViewModel

<div class="d-flex mb-3 pb-3 mb-3 " id="scrollspyEcommerce">
    <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle fas fa-cart-plus" data-fa-transform="shrink-4"></i></span>
    <div class="col">
        <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-body pe-2">Add New Requisition</span><span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h3>

    </div>
</div>


<input type="hidden" id="empinit" value="@ViewBag.empIDInti" />

<div class="row mt-2">

    <div class="col-12">
        <div class="px-4 px-lg-6 bg-body-emphasis rounded">

            <div class="col-12 col-xl-12 col-xxl-12 ">

                <div class="col-12 row flex gy-3 pb-3">

                    <form asp-action="Create" method="post" id="createRequisitionForm">
                        @Html.AntiForgeryToken()





                        <div class="shadow-sm pt-0 p-3 mt-2 bg-body rounded row g-3">
                            <!-- Left Side -->
                            <div class="col-md-8">
                                <div class="row g-3">


                                    <div class="col-md-6">
                                        <label asp-for="OrganizationId" class="form-label"></label>
                                        <select asp-for="OrganizationId"
                                                asp-items="ViewBag.Company as SelectList"
                                                class="form-select choiceDD">
                                            <option value="">Select Organization</option>
                                        </select>
                                        <span asp-validation-for="OrganizationId" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6">
                                        <label asp-for="OrganizationBranchId" class="form-label"></label>
                                        <select asp-for="OrganizationBranchId"
                                                asp-items="ViewBag.OrganizationBranches as SelectList"
                                                class="form-select choiceDD">
                                            <option value="">Select Branch</option>
                                        </select>
                                        <span asp-validation-for="OrganizationBranchId" class="text-danger"></span>
                                    </div>


                                    <div class="col-md-6">
                                        <label asp-for="RequesterId" class="form-label"></label>
                                        <select asp-for="RequesterId"
                                                asp-items="ViewBag.Supervisors as SelectList"
                                                class="form-select choiceDD">
                                            <option value="">Select Requester</option>
                                        </select>
                                        <span asp-validation-for="RequesterId" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6">
                                        <label asp-for="Priority" class="form-label"></label>
                                        <select asp-for="Priority" asp-items="ViewBag.Priorities as SelectList" class="form-select choiceDD" id="priority">
                                        </select>
                                        <span asp-validation-for="Priority" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Right Side -->
                            <div class="col-md-4">
                                <label asp-for="RequisitionNote" class="form-label"></label>
                                <textarea asp-for="RequisitionNote"
                                          class="form-control"
                                          rows="5"
                                          placeholder="Write requisition note (max 100 word)..."></textarea>
                                <span asp-validation-for="RequisitionNote" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="container shadow-sm pt-1 p-3 mt-2 bg-body rounded mt-4">


                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Product Type</th>
                                        <th>Product Name</th>
                                        <th>Unit</th>
                                        <th>Quantity</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody id="productTableBody"></tbody>
                            </table>



                            <button class="btn btn-phoenix-primary" type="button" onclick="addNewRow()">
                                <i class="fas fa-plus text-black "></i>
                                Add New Item
                            </button>

                        </div>



                        <div class="row justify-content-end mt-3">
                            <div class="col-auto">
                                <button type="reset" class="btn btn-secondary resetBTN">Reset</button>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary submitBTN">Save</button>
                            </div>
                        </div>
                    </form>



                </div>
            </div>

        </div>
    </div>
</div>





<table style="display:none;">
    <tbody>


        <tr id="productRowTemplate">
            <td>
                <input type="hidden" name="Products.Index" value="" />

                <select id="ProductType_INDEX" name="Products[INDEX].ProductTypeId" class="form-select product-type-dd">
                    <option value="">Select Product Type</option>
                    @foreach (var pt in (SelectList)ViewBag.ProductTypes)
                    {
                        <option value="@pt.Value">@pt.Text</option>
                    }
                </select>
            </td>

            <td>
                <select id="Product_INDEX" name="Products[INDEX].ProductId" class="form-select product-dd">
                    <option value="">Select Product</option>
                </select>
            </td>




            <td>
                <input type="text" id="UnitType_INDEX" class="form-control" readonly placeholder="Unit will auto-fill" />
            </td>

            <td>
                <input type="number" name="Products[INDEX].Quantity" class="form-control" min="1" />
            </td>

            <td>
                @*<button type="button" class="btn btn-danger btn-sm" onclick="removeRow(this)">
                        Delete
                    </button>*@

                <a href="#" class="nav-item ms-4 me-2" type="button" onclick="removeRow(this)">
                    <i class="far fa-trash-alt text-black "></i>
                </a>

            </td>

        </tr>
    </tbody>
</table>



<div class="modal fade" id="loadingModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center p-4">
            <div class="spinner-border text-primary mb-3" role="status"></div>
            <div>Processing your requisition...</div>
        </div>
    </div>
</div>


<div class="d-flex mb-5 mt-3 pt-3" id="scrollspyEcommerce">
    <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle fas fa-cart-plus" data-fa-transform="shrink-4"></i></span>
    <div class="col">
        <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-body pe-2">New Requisition List</span><span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h3>

    </div>
</div>

<div class="px-4 px-lg-6 bg-body-emphasis rounded">
    <div class="mb-9">
        <div id="projectSummary">
            <div class="row g-3 justify-content-between align-items-end mb-4">

                <div class="col-12 col-sm-auto">

                    <div class="d-flex align-items-center">
                        <div class=" me-3">
                            <div class="columnDrag NewRequisition "></div>
                        </div>





                        <div class="dropdown me-3">
                            <select class="form-select choiceDD" id="projectFilter" asp-items="@ViewBag.Projects as SelectList">
                                <option value="">@Html.SmartLocalize("Select Product Type")</option>

                            </select>
                        </div>


                        <div class="dropdown me-3">
                            <select class="form-select choiceDD" id="productTypeFilter" asp-items="@ViewBag.ProductTypes as SelectList">
                                <option value="">@Html.SmartLocalize("Select Product Type")</option>

                            </select>
                        </div>


                    </div>
                </div>

                <div class="col-12 col-sm-auto">

                    <div class="d-flex align-items-center">
                        <div class="dropdown me-3">
                            <div class="input-icon-end position-relative">
                                <input class="form-control datetimepicker flatpickr-input caiCon" id="fromDate" type="text" placeholder="@Html.SmartLocalize("From")" data-options='{"dateFormat":"d/m/y","disableMobile":true}' readonly="readonly">
                            </div>
                        </div>
                        <div class="dropdown me-3">
                            <div class="input-icon-end position-relative">
                                <input class="form-control datetimepicker flatpickr-input caiCon" id="toDate" type="text" placeholder="@Html.SmartLocalize("To")" data-options='{"dateFormat":"d/m/y","disableMobile":true}' readonly="readonly">
                            </div>
                        </div>

                        <div class="me-3">
                            <input class="form-control" id="searchInput" type="text" placeholder="@Html.SmartLocalize("Search")">
                        </div>


                        <div class="dropdown me-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@Html.SmartLocalize("Showing")</span>
                                </div>
                                <select class="form-select" id="pageSizeSelect" data-choices="data-choices" size="1" name="pageSizeSelect" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-phoenix-secondary dropdown-toggle me-3" data-bs-toggle="dropdown" aria-expanded="false">
                                Export <i class="fa-solid fa-file-export"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" id="btnExportPDFpreview"><span data-feather="download"></span>Preview</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="btnExportPDFdownload"><span data-feather="download"></span>PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="btnExportXL"> <span data-feather="download"></span>Excel </a>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive ms-n1 ps-1 scrollbar">
                <table class="table fs-9 mb-0 border-top border-translucent dyn-tableDrag NewRequisition " id="NewRequisition">
                    <thead>
                        <tr>
                            <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="reqId">ID</th>
                            <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="requitionCode">Requisition </br> Code</th>
                            
                            <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="requisitionDate">Date</th>
                            <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="requitionby">Requisition </br> By</th>

                            <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="requisitionItems">Total</br>Items</th>
                       
                            <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="approvalStatus">Requisition</br>Status</th>
                            <th class="sort align-middle text-end" scope="col" style="width:100px;">Action</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="product-Requisition-history-table">
                    </tbody>
                </table>
            </div>

            <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
                <div class="d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>



                <div class="d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>

        </div>
    </div>
</div>





<div class="modal fade" id="modelForEditRequisition" tabindex="-1" aria-labelledby="modelForEditRequisitionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelForEditRequisitionLabel">Edit Requisition</h5>
                <button class="btn btn-close p-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editRequisitionForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="edit_RequisitionId" name="ReqId" />

                    <div class="row g-3 mb-4">
                        <!-- Left Side - Main Fields (same as create) -->
                        <div class="col-md-8">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="form-label">Organization</label>
                                    <select id="edit_OrganizationId" name="OrganizationId"
                                            class="form-select choiceDD"
                                            asp-items="ViewBag.Company as SelectList">
                                        <option value="">Select Organization</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Branch</label>
                                    <select id="edit_OrganizationBranchId" name="OrganizationBranchId"
                                            class="form-select choiceDD"
                                            asp-items="ViewBag.OrganizationBranches as SelectList">
                                        <option value="">Select Branch</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Requester</label>
                                    <select id="edit_RequesterId" name="RequesterId"
                                            class="form-select choiceDD"
                                            asp-items="ViewBag.Supervisors as SelectList">
                                        <option value="">Select Requester</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Priority</label>
                                    <select id="edit_Priority" name="Priority"
                                            class="form-select choiceDD"
                                            asp-items="ViewBag.Priorities as SelectList">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Right Side - Note -->
                        <div class="col-md-4">
                            <label class="form-label">Requisition Note</label>
                            <textarea id="edit_RequisitionNote" name="RequisitionNote"
                                      class="form-control"
                                      rows="5"
                                      placeholder="Write requisition note (max 100 words)..."></textarea>
                        </div>
                    </div>

                    <!-- Dynamic Product Table -->
                    <div class="container mt-4">
                        <h6 class="mb-3">Products</h6>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Product Type</th>
                                    <th>Product Name</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="editProductTableBody"></tbody>
                        </table>
                        <button class="btn btn-phoenix-primary" type="button" onclick="addNewRowToEditModal()">
                            <i class="fas fa-plus text-black"></i> Add New Item
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" onclick="saveEditRequisition()">Save Changes</button>
                <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Hidden Template for Edit Modal Rows (same as create, but inside modal) -->
<table style="display:none;">
    <tbody>
        <tr id="editProductRowTemplate">
            <td>
                <input type="hidden" name="Products.Index" value="" />
                <input type="hidden" name="Products[INDEX].Id" value="0" /> <!-- For existing items if needed -->
                <select name="Products[INDEX].ProductTypeId" class="form-select product-type-dd">
                    <option value="">Select Product Type</option>
                    @foreach (var pt in (SelectList)ViewBag.ProductTypes)
                    {
                        <option value="@pt.Value">@pt.Text</option>
                    }
                </select>
            </td>
            <td>
                <select name="Products[INDEX].ProductId" class="form-select product-dd">
                    <option value="">Select Product</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" readonly placeholder="Unit will auto-fill" />
            </td>
            <td>
                <input type="number" name="Products[INDEX].Quantity" class="form-control" min="1" value="1" />
            </td>
            <td>
                <a href="#" class="nav-item ms-4 me-2" type="button" onclick="removeEditRow(this)">
                    <i class="far fa-trash-alt text-black"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>


<div class="modal fade" id="deleteConfirmModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
                <button class="btn btn-close p-1 closeDltModal" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this requisition?</p>
                <input type="hidden" id="deleteRequisitionId" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="confirmDelete()">Delete</button>
                <button class="btn btn-secondary closeDltModal" type="button" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/pages/POS/Requisition/newRequisition.js"></script>


}
