@model GCTL.Core.ViewModels.Finance.AddSubAccountVM.CreateAddSubAccountVM

@{
    ViewData["Title"] = @Html.SmartLocalize("Add Sub Account");
    var bodyTabs = ViewBag.BodyTabs as List<GCTL.Data.Models.MenuTab>;
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var accountClassDD = ViewBag.AccountClassDD as List<GCTL.Core.ViewModels.CommonSelectVM>;
    // var accountGroupDD = ViewBag.AccountGroupDD as List<GCTL.Core.ViewModels.CommonSelectVM>;
}

@section Styles {
    <style>
        /* Highlight active link */
        .addSubAccount-ul .nav-link.active {
            background-color: #f0f0f0; /* Or any color you prefer */
            color: #007bff; /* Highlight the text */
        }

        /* Highlight selected li */
        .addSubAccount-ul li.selected {
            background-color: #e9ecef; /* Lighter background for the selected item */
            border-left: 4px solid #007bff; /* Optional: Add a left border for better visibility */
        }

        /* Constrain the list to show exactly 10 items */
        .addSubAccount-ul {
            max-height: 66vh;
            overflow-y: auto !important;
            overflow-x: hidden;
            display: block;
        }

            /* Remove flex properties that might interfere */
            .addSubAccount-ul.flex-column {
                display: block !important;
            }

        .nav-link.active {
            background-color: #f0f0f0;
            color: #007bff;
            font-weight: 600;
        }

    </style>
}

<ul class="nav nav-underline fs-9">
    @if (bodyTabs != null && bodyTabs.Any())
    {
        foreach (var tab in bodyTabs)
        {
            var isActive = tab.ControllerName.Equals(currentController, StringComparison.OrdinalIgnoreCase)
            ? "active" : "";

            <li class="nav-item">
                <a class="nav-link @isActive"
                   href="@Url.Action("Index", tab.ControllerName)">
                    @if (!string.IsNullOrEmpty(tab.Icon))
                    {
                        <i class="@tab.Icon me-1"></i>
                    }
                    @Html.SmartLocalize(tab.Title)
                </a>
            </li>
        }
    }
    else
    {
        <li class="nav-item"><span class="text-muted">No menu items found</span></li>
    }
</ul>

<div class="tab-content mt-3">
    <div class="tab-pane fade show active">
        <div class="row gx-2">

            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label" asp-for="ClassID">@Html.SmartLocalize("Select Class")<span style="color:red;">*&nbsp;</span></label>
                                <select class="form-select" asp-for="ClassID">
                                    <option value="">@Html.SmartLocalize("Select Class")...</option>
                                    @foreach (var group in accountClassDD.GroupBy(e => e.GroupName))
                                    {
                                        <optgroup label="@group.Key">
                                            @foreach (var emp in group)
                                            {
                                                <option value="@emp.Id">@emp.Name</option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                                <span asp-validation-for="ClassID" id="ClassIDError" class="text-danger" style="display:none;"></span>
                            </div>
                        </div>

                        <div class="d-grid">
                            <ul class="nav addSubAccount-ul flex-column list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-2">
                    <div class="card-body">
                        <form asp-controller="AddSubAccount" asp-action="Create" method="post" enctype="multipart/form-data" id="addSubAccount-form">
                            <div class="row pt-2">

                                @Html.AntiForgeryToken()

                                <input type="hidden" asp-for="SubAccountID" />
                                <input type="hidden" asp-for="MainAccountID" />

                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label class="form-label" asp-for="SubAccountName">@Html.SmartLocalize("Sub Account Name")<span style="color:red;">*&nbsp;</span></label>
                                        <input class="form-control" asp-for="SubAccountName" type="text" placeholder="@Html.SmartLocalize("Input Sub Account Name")" />
                                        <span asp-validation-for="SubAccountName" id="SubAccountNameError" class="text-danger" style="display:none;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label class="form-label" asp-for="SubAccountCode">@Html.SmartLocalize("Sub Account Code")<span style="color:red;">*&nbsp;</span></label>
                                        <input class="form-control bg-light" asp-for="SubAccountCode" type="text" placeholder="@Html.SmartLocalize("Input Sub Account Code")" readonly="readonly" />
                                        <span asp-validation-for="SubAccountCode" id="SubAccountCodeError" class="text-danger" style="display:none;"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <label class="form-label" asp-for="Description">@Html.SmartLocalize("Description")</label>
                                        <textarea class="form-control" type="text" asp-for="Description" placeholder="@Html.SmartLocalize("Input Description")"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="row g-3 justify-content-end">
                                        <div class="col-auto">
                                            <button type="reset" class="btn btn-phoenix-primary px-5" id="addSubAccount-resetBtn">@Html.SmartLocalize("Reset")</button>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary px-5 px-sm-15" id="addSubAccount-saveBtn">@Html.SmartLocalize("Save")</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row g-3 justify-content-between align-items-end mb-4">
                            <div class="col-12 col-sm-auto">
                                <div class="d-flex align-items-center me-3" style="width: auto;">
                                    <span class="ms-2">@Html.SmartLocalize("Showing"):</span> &nbsp;
                                    <div style="width: 100%;">
                                        <select id="addSubAccount-pageSizeSelect" class="form-select form-select-sm" tabindex="10">
                                            <option class="dropdown-item" value="5">@Html.SmartLocalize("5")</option>
                                            <option class="dropdown-item" value="10">@Html.SmartLocalize("10")</option>
                                            <option class="dropdown-item" value="25">@Html.SmartLocalize("25")</option>
                                            <option class="dropdown-item" value="50">@Html.SmartLocalize("50")</option>
                                            <option class="dropdown-item" value="100">@Html.SmartLocalize("100")</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-auto">
                                <div class="d-flex align-items-center">
                                    <div class="d-none me-3" id="addSubAccount-bulkSelectActions">
                                        <div class="position-relative">
                                            <button type="button" class="btn btn-phoenix-danger btn-sm ms-2" id="addSubAccount-delSel">@Html.SmartLocalize("Delete")</button>
                                        </div>
                                    </div>

                                    <div class="search-box me-3" id="addSubAccount-searchBox">
                                        <form class="position-relative" id="addSubAccount-searchForm">
                                            <input class="form-control search-input search" id="addSubAccount-searchInput" type="search" placeholder="@Html.SmartLocalize("Search here")" aria-label="Search" />
                                            <span class="fas fa-search search-box-icon"></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive ms-n1 ps-1 scrollbar">
                            <table class="table table-striped table-hover fs-9 mb-0 border-top border-translucent">
                                <thead>
                                    <tr>
                                        <th class="text-center text-middle align-middle ps-0" scope="col" style="width: 5%;">
                                            <input type="checkbox" class="form-check-input" id="addSubAccount-check-all" />
                                        </th>
                                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="ClassName">@Html.SmartLocalize("Class Name")</th>
                                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="MainAccountName">@Html.SmartLocalize("Main Account Name")</th>
                                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="SubAccountName">@Html.SmartLocalize("Sub Account Name")</th>
                                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="SubAccountCode">@Html.SmartLocalize("Sub Account Code")</th>
                                        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="Description">@Html.SmartLocalize("Description")</th>
                                        <th class="white-space-nowrap align-middle ps-0" scope="col" style="width: 10%;">@Html.SmartLocalize("Action")</th>
                                    </tr>
                                </thead>
                                <tbody id="addSubAccount-tBody">
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
                            <div class="d-flex">
                                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" id="addSubAccount-paginationInfo"></p>
                                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
                            </div>
                            <div class="d-flex">
                                <button class="page-link" data-list-pagination="prev" id="addSubAccount-prevPageBtn"><span class="fas fa-chevron-left"></span></button>
                                <ul class="mb-0 pagination" id="addSubAccount-paginationLinks"></ul>
                                <button class="page-link pe-0" data-list-pagination="next" id="addSubAccount-nextPageBtn"><span class="fas fa-chevron-right"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ConfirmDelete" />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/pages/finance/addsubaccount.js"></script>
    <script>
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "AddSubAccount")'
            };
            options.load = () => { };
            $.addsubaccount(options);
        });
    </script>
}