@using GCTL.Data.Models
@model List<MenuTab>

@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

@functions {
    bool HasActiveChild(MenuTab item, string currentController)
    {
        if (item.ControllerName == currentController)
            return true;
        if (item.InverseParent == null)
            return false;

        foreach (var child in item.InverseParent)
        {
            if (HasActiveChild(child, currentController))
                return true;
        }

        return false;
    }
}

<nav class="navbar navbar-vertical navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
                @if (Model != null && Model.Any())
                {
                    @foreach (var menu in Model)
                    {
                        var menuId = string.IsNullOrEmpty(menu.ControllerName) ? $"{menu.MenuTabId}" : $"{menu.ControllerName}";
                        <li class="nav-item">
                            <div class="nav-item-wrapper">
                                @if (menu.InverseParent.Any())
                                {
                                    <a class="nav-link dropdown-indicator label-1" href="#@menuId" role="button"
                                       data-bs-toggle="collapse" aria-expanded="@(HasActiveChild(menu, currentController).ToString().ToLower())" aria-controls="@menuId">
                                        <div class="d-flex align-items-center">
                                            <div class="dropdown-indicator-icon-wrapper">
                                                <span class="fas fa-caret-right dropdown-indicator-icon"></span>
                                            </div>
                                            <span class="nav-link-icon"><span data-feather="@menu.Icon" width="16" height="16"></span></span>
                                            <span class="nav-link-text">@menu.Title</span>
                                        </div>
                                    </a>
                                    <div class="parent-wrapper label-1">
                                        <ul class="nav collapse parent @(HasActiveChild(menu, currentController) ? "show" : "")" data-bs-parent="#navbarVerticalCollapse" id="@menuId">
                                            @foreach (var subMenu in menu.InverseParent)
                                            {
                                                var subMenuId = $"{subMenu.ControllerName}";
                                                <li class="nav-item">
                                                    @if (subMenu.InverseParent.Any())
                                                    {
                                                        <a class="nav-link dropdown-indicator @(HasActiveChild(subMenu, currentController) ? "active" : "")" href="#@subMenuId"
                                                           data-bs-toggle="collapse" aria-expanded="@(HasActiveChild(subMenu, currentController).ToString().ToLower())"
                                                           aria-controls="@subMenuId">
                                                            <div class="d-flex align-items-center">
                                                                <div class="dropdown-indicator-icon-wrapper">
                                                                    <span class="fas fa-caret-right dropdown-indicator-icon"></span>
                                                                </div>
                                                                <span class="nav-link-icon p-0"><i class="@subMenu.Icon"></i></span>
                                                                <span class="nav-link-text p-0">@subMenu.Title</span>
                                                            </div>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="nav-link @(subMenu.ControllerName == currentController ? "active" : "")" href="@Url.Action("Index", subMenu.ControllerName)">
                                                            <div class="d-flex align-items-center">
                                                                <span class="nav-link-icon p-0"><i class="@subMenu.Icon"></i></span>
                                                                <span class="nav-link-text p-0">@subMenu.Title</span>
                                                            </div>
                                                        </a>
                                                    }

                                                    @if (subMenu.InverseParent.Any())
                                                    {
                                                        <ul class="nav collapse parent ms-3 @(HasActiveChild(subMenu, currentController) ? "show" : "")" data-bs-parent="#@subMenuId" id="@subMenuId">
                                                            @foreach (var grandChild in subMenu.InverseParent)
                                                            {
                                                                var grandChildId = $"{grandChild.ControllerName}";
                                                                <li class="nav-item">
                                                                    @if (grandChild.InverseParent.Any())
                                                                    {
                                                                        <a class="nav-link dropdown-indicator @(HasActiveChild(grandChild, currentController) ? "active" : "")"
                                                                           href="#@grandChildId" data-bs-toggle="collapse"
                                                                           aria-expanded="@(HasActiveChild(grandChild, currentController).ToString().ToLower())"
                                                                           aria-controls="@grandChildId">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="dropdown-indicator-icon-wrapper">
                                                                                    <span class="fas fa-caret-right dropdown-indicator-icon"></span>
                                                                                </div>
                                                                                <span class="nav-link-icon p-0"><i class="@grandChild.Icon"></i></span>
                                                                                <span class="nav-link-text p-0">@grandChild.Title</span>
                                                                            </div>
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="nav-link @(grandChild.ControllerName == currentController ? "active" : "")" href="@Url.Action("Index", grandChild.ControllerName)">
                                                                            <div class="d-flex align-items-center">
                                                                                <span class="nav-link-icon p-0"><i class="@grandChild.Icon"></i></span>
                                                                                <span class="nav-link-text p-0">@grandChild.Title</span>
                                                                            </div>
                                                                        </a>
                                                                    }

                                                                    @if (grandChild.InverseParent.Any())
                                                                    {
                                                                        <ul class="nav collapse parent ms-3 @(HasActiveChild(grandChild, currentController) ? "show" : "")"
                                                                            data-bs-parent="#@grandChildId" id="@grandChildId">
                                                                            @foreach (var greatGrandChild in grandChild.InverseParent)
                                                                            {
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link @(greatGrandChild.ControllerName == currentController ? "active" : "")" href="@Url.Action("Index", greatGrandChild.ControllerName)">
                                                                                        <div class="d-flex align-items-center">
                                                                                            <span class="nav-link-icon p-0"><i class="@greatGrandChild.Icon"></i></span>
                                                                                            <span class="nav-link-text p-0">@greatGrandChild.Title</span>
                                                                                        </div>
                                                                                    </a>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <a class="nav-link @(menu.ControllerName == currentController ? "active" : "")" href="@Url.Action("Index", menu.ControllerName)">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-icon"><i class="@menu.Icon"></i></span>
                                            <span class="nav-link-text">@menu.Title</span>
                                        </div>
                                    </a>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="navbar-vertical-footer">
        @* <button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center">
            <span class="uil uil-left-arrow-to-left fs-8"></span>
            <span class="uil uil-arrow-from-right fs-8"></span>
            <span class="navbar-vertical-footer-text ms-2">@Html.SmartLocalize("Collapsed View")</span>
        </button> *@
        <button id="sidebarToggleBtn" class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center">
            <span class="toggle-icon-expanded">
                <i class="fa-solid fa-arrow-left"></i>
            </span>
            <span class="toggle-icon-collapsed d-none">
                <i class="fa-solid fa-arrow-right"></i>
            </span>
            <span class="navbar-vertical-footer-text ms-2">@Html.SmartLocalize("Collapsed View")</span>
        </button>
    </div>
</nav>
