@model GCTL.Core.ViewModels.RequisitionDistribution.Purchase.PurchaseReceived.PurchaseReceivedViewModel

<div class="row mb-4">
    <div class="row col-xl-12 border-bottom border-2">
        <p2 class="mb-2 fw-lighter fs-5">Purchase Receive</p2>
    </div>
</div>
<div class="row mb-4 mt-3 bg-body-emphasis rounded">
    <div class="row col-xl-12 ">
        <p2 class="mb-1 fw-bold fs-7">Purchase</p2>
        <p2 class="mb-2 fw-lighter fs-9">Billing details appear in your invoice. Invoice Date is used in the dashboard and reports. Select the date you expect to get paid as the Due Date. </p2>
        <div class="border-bottom border-2"></div>
    </div>
    <div class="row mb-3">
        <div class="col-xl-12">
            <form id="purchaseOrderForm">

                <div class="row justify-content-between">
                    <div class="col-xl-5">
                        <div class="mt-2">


                            <div class="d-flex gap-3">
                                <div class="col-md-6">
                                    
                                    <button type="button" class="btn border border-github py-5 px-10 mt-4" id="showUserSearchBtn" style="display: none;" onclick="toggleVendorDropdown()">
                                        <i class="fa fa-user fs-3 mb-2" aria-hidden="true"></i>
                                        <p>+ Add Vendor</p>
                                    </button>
                                    <select id="vendorSelect" class="form-control mt-4" style="display: block;" onchange="selectVendorFromDropdown()">
                                        <option value="">Select Vendor</option>
                                        <option value="add_new_vendor">+ Add New Vendor</option>

                                       
                                    </select>


                                    <div id="userInfo" class="card " style="display: block; ">
                                        <div class="card-body" style=" min-height: 192px;">
                                            <h5 class="card-title">Billing Information</h5>
                                            <p class="mb-1 fs-9" id="billTo"></p>
                                            <p class="mb-1 fs-9" id="billAddress"></p>
                                            <p class="mb-1 fs-9 d-none" id="billTax"></p>
                                            <p class="mb-1 fs-9" id="billPhone"></p>
                                            <p class="mb-1 fs-9" id="billEmail"></p>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn border border-github py-5 px-10 mt-4" id="showShippingSearchBtn" style="display: block;" onclick="toggleShippingDropdown()">
                                        <i class="fa fa-user fs-3 mb-2" aria-hidden="true"></i>
                                        <p>+ Add shipping address</p>
                                    </button>
                                    <select id="shippingSelect" class="form-control mt-4" style="display: none;" onchange="selectShippingFromDropdown()">
                                       
                                        <option value="">Select Shipping Address</option>
                                        @*<option value="add_new_shipping">+ Add New Shipping Address</option>*@

                                    </select>


                                    <div id="shipingInfo" class="card" style="display: none; ">
                                        <div class="card-body" style=" min-height: 192px;">
                                            <h5 class="card-title">Shipping To</h5>
                                            <p class="mb-1 fs-9" id="shipAddress"></p>
                                            <p class="mb-1 fs-9" id="shipContact"></p>
                                            <p class="mb-1 fs-9" id="shipPhone"></p>
                                            <p class="mb-1 fs-9" id="shipEmail"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <input type="hidden" id="getLocationId" asp-for="Tolocation" />
                            <input type="hidden" id="getVendorId" asp-for="VendorId" />


                           
                            <input type="hidden" id="purchaseOderId" asp-for="PurchaseOrderID" />


                            <div class="modal fade" id="addUserModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add New User</h5>
                                            <button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          
                                            <div class="mb-3">
                                                <label for="companyName" class="form-label">Company Name</label>
                                                <input type="text" class="form-control" id="companyName" name="companyName">
                                            </div>
                                            <div class="mb-3">
                                                <label for="userName" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="userName" name="userName">
                                            </div>
                                            <div class="mb-3">
                                                <label for="userEmail" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="userEmail" name="userEmail">
                                            </div>
                                            <div class="mb-3">
                                                <label for="userPhone" class="form-label">Phone Number</label>
                                                <input type="tel" class="form-control" id="userPhone" name="userPhone">
                                            </div>
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="saveUserBtn" onclick="saveNewVendor()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="addShippingModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add New Shipping Address</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          
                                            <div class="mb-3">
                                                <label for="shippingName" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="shippingName" name="shippingName">
                                            </div>
                                            <div class="mb-3">
                                                <label for="shippingEmail" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="shippingEmail" name="shippingEmail">
                                            </div>
                                            <div class="mb-3">
                                                <label for="shippingPhone" class="form-label">Phone Number</label>
                                                <input type="tel" class="form-control" id="shippingPhone" name="shippingPhone">
                                            </div>
                                            <div class="mb-3">
                                                <label for="shippingAddress" class="form-label">Address</label>
                                                <textarea class="form-control" id="shippingAddress" name="shippingAddress" rows="3"></textarea>
                                            </div>
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close </button>
                                            <button type="button" class="btn btn-primary" id="saveShippingBtn" onclick="saveNewShipping()">Save Info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="row mt-3">
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label class="form-label">PR Date </label>
                                    <input type="date" class="form-control" id="prDate" asp-for="PRDate" name="PRDate" placeholder="Enter Date">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label class="form-label">PR Number </label>
                                    <input type="text" class="form-control" asp-for="PRID" name="PRID" placeholder="Enter PR">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label class="form-label">PO Date </label>
                                    <input type="date" class="form-control" id="purchaseDate" asp-for="PurchaseDate" name="purchaseDate" placeholder="Enter Date">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label class="form-label">PO Number </label>
                                    <input type="text" class="form-control" asp-for="POID" name="POID" placeholder="Enter PO">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label class="form-label">Bill Date</label>
                                    <input type="date" class="form-control" id="billDate" name="billDate" asp-for="BillDate" placeholder="Date">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <label for="vendorBill" class="form-label">Vendor Bill / Chalan </label>
                                    <input type="text" class="form-control" asp-for="VendorBillNO" id="vendorBill" name="vendorBill" placeholder="Enter vendor Bill">
                                </div>
                            </div>

                           


                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div id="item-container" class="mb-3 border p-3 rounded position-relative mt-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Item</th>
                                        <th>Unit</th>
                                        <th>Purchase Quantity</th>
                                        <th>Requisition Quantity</th>
                                        <th>Already Distribute</th>
                                        <th>Distribute Unit</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>

                                    </tr>
                                </thead>



                                <tbody>
                                    @for (int i = 0; i < Model.Items.Count; i++)
                                    {
                                        <tr data-bs-toggle="collapse" data-bs-target="#rowDetails-@i" class="accordion-toggle">
                                            <th>@Model.Items[i].ProductID</th>
                                            <td>@Model.Items[i].ItemName</td>
                                            <td>@Model.Items[i].Unit</td>


                                            <td>
                                                <!-- Purchase Quantity -->
                                                <input type="number"
                                                       class="form-control quantity"
                                                       name="Items[@i].Quantity"
                                                       value="@Model.Items[i].Quantity"
                                                       step="1"
                                                       min="0"
                                                       disabled />
                                            </td>



                                            <td>
                                                <input type="number"
                                                       class="form-control req-quantity"
                                                       name="Items[@i].ReqQuantity"
                                                       value="@Model.Items[i].ReqQuantity"  disabled />
                                            </td>
                                            <td>
                                                <input type="number"
                                                       class="form-control dis-quantity"
                                                       name="Items[@i].AlrDisQuantity"
                                                       value="@Model.Items[i].AlrDisQuantity" disabled />
                                            </td>



                                            <td>
                                                <input type="number"
                                                       class="form-control unit-Distribute"
                                                       name="Items[@i].UnitDistribute"
                                                       value="@Model.Items[i].UnitDistribute"
                                                       step="0.01"
                                                       min="0"
                                                       style="pointer-events: auto !important;" />
                                            </td>

                                            <td>
                                                <input type="number"
                                                       class="form-control unit-price"
                                                       name="Items[@i].UnitPrice"
                                                       value="@Model.Items[i].UnitPrice"
                                                       step="0.01"
                                                       min="0"
                                                       style="pointer-events: auto !important;" />
                                            </td>

                                            <td>
                                                <input type="number"
                                                       class="form-control total-price"
                                                       name="Items[@i].TotalPrice"
                                                       value="@Model.Items[i].TotalPrice"
                                                       step="0.01"
                                                       min="0"
                                                       style="pointer-events: auto !important;" 
                                                       disabled />
                                            </td>


                                            <td class="d-none">
                                                <input type="hidden" class="purchasOrderItemID" value="@Model.Items[i].PurchasOrderItemID" />
                                                <input type="hidden" class="requisitionItemID" value="@Model.Items[i].RequisitionItemID" />
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
             




                <div class="row mb-3">

                    <div class="col-md-6">
                        <label for="deliveryOrderName" class="form-label">Delivery Order No</label>
                        <input type="text" class="form-control"  asp-for="deliveryOrderName" name="deliveryOrderName" id="deliveryOrderName" />
                    </div>

                

                    <div class="col-md-6">
                        <label for="truckNo" class="form-label">Vehicle No</label>
                        <input type="text" class="form-control" asp-for="truckNo" name="truckNo" id="truckNo" />
                    </div>


                    <div class="col-md-6">
                        <label for="driverName" class="form-label">Driver Name</label>
                        <input type="text" class="form-control" asp-for="driverName"  name="driverName" id="driverName" />
                    </div>

                    <div class="col-md-6">
                        <label for="driverMobileNo" class="form-label">Driver Mobile No</label>
                        <input type="text" class="form-control" asp-for="driverMobileNo" name="driverMobileNo" id="driverMobileNo" />
                    </div>



                </div>


                <div class="row mb-3">
                    <div class="col-xl-12">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item border-top">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Purchase Note</button>

                                    <p2 class="mb-2 fw-lighter fs-9">This note was written by the seller for your reference.</p2>
                                </h2>
                                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                   
                                    
                                    
                                    
                                    <div class="accordion-body pt-0">
                                      
                                        <div class="pe-3">
                                            <textarea type="text" asp-for="Note" class="form-control" name="note" placeholder="" readonly></textarea>
                                        </div>

                                      


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="row mb-3">
                    <div class="col-xl-12">
                        <div class="accordion" id="accordionExample2">
                            <div class="accordion-item border-top">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseOne">Terms & Conditions</button>
                                    <p2 class="mb-2 fw-lighter fs-9">Select the category, add or edit folder, add attachment to your invoice</p2>
                                </h2>
                                <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body pt-0">
                                        <div class="row justify-content-between">
                                            <div class="col-xl-9">
                                                <textarea class="tinymce w-100" asp-for="TermNcondition" name="terms" data-tinymce="{}" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-xl-12 mb-3">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary me-2" href="#">Cancel</a>
                        <button type="submit" class="btn btn-primary me-2">Save</button>
                     
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>







<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script src="~/js/pages/RequisitionDistribtion/Purchase/PurchaseReceived.js"></script>

}