<div class="modal fade" id="assignDefaultShift-confirm-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel"><span></span></h1>
				<button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="">
					<table class="table table-bordered table-responsive table-striped table-hover">
						<thead>
							<tr>
								<th class="text-center text-middle align-middle">@Html.SmartLocalize("ID")</th>
								<th class="text-center text-middle align-middle">@Html.SmartLocalize("Organization")</th>
								<th class="text-start text-middle align-middle">@Html.SmartLocalize("Department")</th>
								<th class="text-start text-middle align-middle">@Html.SmartLocalize("Employee")</th>
								<th class="text-start text-middle align-middle">@Html.SmartLocalize("Shift")</th>
								<th class="text-center text-middle align-middle">@Html.SmartLocalize("Reset")</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-coreui-dismiss="modal">@Html.SmartLocalize("Cancel")</button>
				<button type="button" class="btn btn-primary">@Html.SmartLocalize("Update")</button>
			</div>
		</div>
	</div>
</div>