@model GCTL_App.ViewModels.AttendanceManagement.ScheduleManagement.EmployeeShiftView.EmployeeShiftViewPageView

@section Styles {
    <style>

        #hiddenDiv {
            display: none; /* Initially hidden */
        }

        #div2 {
            display: none;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        .table-container-dif-days {
            display: none; /* Hide all tables by default */
        }

        .shift-cell {
            background: repeating-linear-gradient( 135deg, #e5e5e5, #e5e5e5 10px, #f7f7f7 10px, #f7f7f7 20px );
            border-radius: .4rem;
            padding: 5px 0 5px 0;
        }

    </style>
}

<!-- Delete Modal -->
<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-danger text-danger mb-1">
                    <i class="fa fa-trash fs-5"></i>
                </span>
                <h4 class="mb-1">@Html.SmartLocalize("Confirm Delete")</h4>
                <p class="mb-3">@Html.SmartLocalize("You want to delete all the marked items, this cant be undone once you delete").</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">@Html.SmartLocalize("Cancel")</a>
                    <a href="shift-roster-ui.html" class="btn btn-danger">@Html.SmartLocalize("Yes"), @Html.SmartLocalize("Delete")</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->

<div class="card mb-2">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h4>@Html.SmartLocalize("Employee Shift View")</h4>
        </div>
    </div>
    <div class="card-body">
        <partial name="_Table" model="Model.List" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/attendancemanagement/schedulemanagement/employeeshiftview.js"></script>
    <script type="text/javascript">
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "EmployeeShiftView")'
            };
            options.load = () => {

            };

            $.employeeshiftview(options);
        });
    </script>
}