<!-- Breadcrumb -->
<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
    <div class="my-auto mb-2">
        <h2 class="mb-1">@Html.SmartLocalize("Promotion Approval")</h2>
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="ti ti-smart-home"></i></a>
                </li>
                <li class="breadcrumb-item">@Html.SmartLocalize("Employee")</li>
                <li class="breadcrumb-item active" aria-current="page">@Html.SmartLocalize("Promotion Approval")</li>
            </ol>
        </nav>
    </div>
    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
        <div class="me-2 mb-2">
            <div class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                    <i class="ti ti-file-export me-1"></i>@Html.SmartLocalize("Export")
                </a>
                <ul class="dropdown-menu dropdown-menu-end p-3">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-pdf me-1"></i>@Html.SmartLocalize("Export as PDF")</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-xls me-1"></i>@Html.SmartLocalize("Export as Excel")</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<div class="my-4">
    <!-- Promotion Info Cards -->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-black-le">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="text-start">
                            <p class="mb-1">@Html.SmartLocalize("Senior Promotion")</p>
                            <h4>85</h4>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-2">
                                <span class="avatar avatar-md d-flex">
                                    <i class="ti ti-trending-up fs-5 text-white"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="badge badge-phoenix badge-phoenix-success">@Html.SmartLocalize("Pending"): 12</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-blue-le">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="text-start">
                            <p class="mb-1">@Html.SmartLocalize("Team Lead Promotion")</p>
                            <h4>42</h4>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-2">
                                <span class="avatar avatar-md d-flex">
                                    <i class="ti ti-users fs-5 text-white"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="badge badge-phoenix badge-phoenix-success">@Html.SmartLocalize("Pending"): 6</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-purple-le">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="text-start">
                            <p class="mb-1">@Html.SmartLocalize("Manager Promotion")</p>
                            <h4>28</h4>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-2">
                                <span class="avatar avatar-md d-flex">
                                    <i class="ti ti-crown fs-5 text-white"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="badge badge-phoenix badge-phoenix-warning">@Html.SmartLocalize("Pending"): 8</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pink-le">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="text-start">
                            <p class="mb-1">@Html.SmartLocalize("Department Head")</p>
                            <h4>15</h4>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-2">
                                <span class="avatar avatar-md d-flex">
                                    <i class="ti ti-award fs-5 text-white"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="badge badge-phoenix badge-phoenix-success">@Html.SmartLocalize("Pending"): 3</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /Promotion Info Cards -->
</div>

<!-- Waiting for Promotion Approval Table -->
<div class="mb-4">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">
            <h4 class="mb-1">@Html.SmartLocalize("Waiting for Promotion Approval")</h4>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

                <div class="me-3">
                    <input class="form-control" id="searchInputPe" type="text" placeholder="@Html.SmartLocalize("Search by Employee Name")">
                </div>

                <div class="dropdown me-3">
                    <div class="columnDrag PromotionPendingTblDy"></div>
                </div>

                <div class="dropdown me-3">
                    <select class="form-select choiceDD" id="department" asp-items="@ViewBag.DepartmentDD as SelectList">
                        <option value="">@Html.SmartLocalize("Select department")</option>

                    </select>
                </div>


                <div class="dropdown me-3">
                    <div class="input-icon-end position-relative">
                        <input class="form-control datetimepicker flatpickr-input caiCon" id="timepicker2" type="text" placeholder="@Html.SmartLocalize("d/m/y to d/m/y")" data-options='{"mode":"range","dateFormat":"d/m/y","disableMobile":true}' readonly="readonly">
                    </div>
                </div>


                <div class="dropdown me-3">
                    <select class="form-select choiceDD" id="promotionType" asp-items="@ViewBag.IncrementTypeList as SelectList">
                        <option value="">@Html.SmartLocalize("Promotion Type")</option>

                    </select>
                </div>

                <div class="dropdown me-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@Html.SmartLocalize("Showing")</span>
                        </div>
                        <select class="form-select" id="pageSizeSelect" data-choices="data-choices" size="1" name="pageSizeSelect" data-options='{"removeItemButton":true,"placeholder":true}'>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>

                @*<div class="dropdown me-3">
                        <select class="form-select" id="statusSelect" data-choices="data-choices" size="1" required="required" name="statusSelect" data-options='{"removeItemButton":true,"placeholder":true}'>
                            <option value="">@Html.SmartLocalize("Select Status")</option>
                            <option>@Html.SmartLocalize("Approved")</option>
                            <option>@Html.SmartLocalize("Declined")</option>
                            <option>@Html.SmartLocalize("Pending")</option>
                        </select>
                    </div>*@


            </div>
        </div>

        <div class="border-translucent p-3">
            <div id="promotionApprovalTable">
                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-sm fs-9 leads-table dyn-tableDrag PromotionPendingTblDy" id="promPending">
                        <thead>
                            <tr>
                                <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                                    <div class="form-check mb-0 fs-8">
                                        <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"promotion-approval-body"}' />
                                    </div>
                                </th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="employeeName" data-column="0">@Html.SmartLocalize("Employee Name")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="currentPosition" data-column="1">@Html.SmartLocalize("Current Position")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="proposedPosition" data-column="2">@Html.SmartLocalize("Proposed Position")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="currentSalary" data-column="3">@Html.SmartLocalize("Current Salary")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="proposedSalary" data-column="4">@Html.SmartLocalize("Proposed Salary")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="effectiveDate" data-column="5">@Html.SmartLocalize("Effective Date")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="decision" data-column="6">@Html.SmartLocalize("Decision")</th>

                            </tr>
                        </thead>
                        <tbody class="list" id="pending-promotion-body">
                        </tbody>
                    </table>
                </div>

                <div class="row align-items-center justify-content-between pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
                        @*<a class="fw-semibold" href="#!" data-list-view="*">@Html.SmartLocalize("View all")<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                            <a class="fw-semibold d-none" href="#!" data-list-view="less">@Html.SmartLocalize("View Less")<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>*@
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Approved Promotion Table -->
<div class="mb-4">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">
            <h4 class="mb-1">@Html.SmartLocalize("Promotion Increments")</h4>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

                <div class="me-3">
                    <input class="form-control" id="searchInputAp" type="text" placeholder="@Html.SmartLocalize("Search by Employee Name")">
                </div>

                <div class="dropdown me-3">
                    <div class="columnDrag PromotionApproveTblDy"></div>
                </div>

                <div class="dropdown me-3">
                    <select class="form-select choiceDD" id="approvedDepartment" asp-items="@ViewBag.DepartmentDD as SelectList">
                        <option value="">@Html.SmartLocalize("Select department")</option>

                    </select>
                </div>



                <div class="dropdown me-3">
                    <div class="input-icon-end position-relative">
                        <input class="form-control datetimepicker flatpickr-input caiCon" id="approvedDateRange" type="text" placeholder="@Html.SmartLocalize("d/m/y to d/m/y")" data-options='{"mode":"range","dateFormat":"d/m/y","disableMobile":true}' readonly="readonly">
                    </div>
                </div>

                <div class="dropdown me-3">
                    <select class="form-select choiceDD" id="approvedPromotionType" asp-items="@ViewBag.IncrementTypeList as SelectList">
                        <option value="">@Html.SmartLocalize("Promotion Type")</option>

                    </select>
                </div>

                <div class="dropdown me-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@Html.SmartLocalize("Showing")</span>
                        </div>
                        <select class="form-select" id="approvePageSizeSelect" data-choices="data-choices" size="1" name="pageSizeSelect" data-options='{"removeItemButton":true,"placeholder":true}'>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>

        <div class="border-translucent p-3">
            <div id="approvedPromotionTable">
                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-sm fs-9 leads-table dyn-tableDrag PromotionApproveTblDy" id="promApprove">
                        <thead>
                            <tr>
                                <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                                    <div class="form-check mb-0 fs-8">
                                        <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"promotion-approval-body"}' />
                                    </div>
                                </th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="employeeName" data-column="0">@Html.SmartLocalize("Employee Name")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="currentPosition" data-column="1">@Html.SmartLocalize("Current Position")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="proposedPosition" data-column="2">@Html.SmartLocalize("Proposed Position")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="currentSalary" data-column="3">@Html.SmartLocalize("Current Salary")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="proposedSalary" data-column="4">@Html.SmartLocalize("Proposed Salary")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="effectiveDate" data-column="5">@Html.SmartLocalize("Effective Date")</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="decision" data-column="6">@Html.SmartLocalize("Decision")</th>

                            </tr>
                        </thead>
                        <tbody class="list" id="approved-promotion-body">
                        </tbody>
                    </table>
                </div>

                <div class="row align-items-center justify-content-between pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
                        @*<a class="fw-semibold" href="#!" data-list-view="*">@Html.SmartLocalize("View all")<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                            <a class="fw-semibold d-none" href="#!" data-list-view="less">@Html.SmartLocalize("View Less")<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>*@
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Promotion Approval Modal -->
<div class="modal fade" id="promotion_approval_modal" tabindex="-1" aria-labelledby="promotionApprovalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="promotionApprovalModalLabel">@Html.SmartLocalize("Review Promotion Request")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Employee Name")</label>
                            <input type="text" class="form-control" value="Hasan Shikder" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Department")</label>
                            <input type="text" class="form-control" value="Development" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Current Position")</label>
                            <input type="text" class="form-control" value="Junior Developer" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Proposed Position")</label>
                            <input type="text" class="form-control" value="Senior Developer" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Effective Date")</label>
                            <input type="text" class="form-control" value="01 Jan 2024" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Years of Experience")</label>
                            <input type="text" class="form-control" value="3 Years" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Current Salary")</label>
                            <input type="text" class="form-control" value="৳45,000" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">@Html.SmartLocalize("Proposed Salary")</label>
                            <input type="text" class="form-control" value="৳55,000" readonly>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">@Html.SmartLocalize("Justification/Reason")</label>
                    <textarea class="form-control" rows="3" readonly>@Html.SmartLocalize("Employee has consistently exceeded performance targets and demonstrated leadership qualities. Has successfully led 3 major projects and mentored junior developers.")</textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">@Html.SmartLocalize("Comments (Optional)")</label>
                    <textarea class="form-control" rows="3" placeholder="@Html.SmartLocalize("Add your comments here...")"></textarea>
                </div>
            </div>

            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger me-2">Decline</button>
                    <button type="button" class="btn btn-success">Approve</button>
                </div>*@

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Html.SmartLocalize("Close")</button>
                <button type="button" class="btn btn-danger me-2" data-action="decline" data-promotion-id="">@Html.SmartLocalize("Decline")</button>
                <button type="button" class="btn btn-success" data-action="approve" data-promotion-id="">@Html.SmartLocalize("Approve")</button>
            </div>
        </div>
    </div>
</div>


<!-- Confirmation Modal -->
<div class="modal fade" id="confirmation_modal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">@Html.SmartLocalize("Confirm Action")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="confirmation_message">@Html.SmartLocalize("Are you sure you want to") <span id="confirmation_action"></span> @Html.SmartLocalize("this promotion?")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Html.SmartLocalize("Cancel")</button>
                <button type="button" class="btn btn-primary" id="confirm_action">@Html.SmartLocalize("OK")</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/pages/Employees/EmployeeStatus/Promotion/PromotionApprove.js"></script>
    <script src="~/js/pages/Employees/UniversalToolTip.js"></script>

}


